<!DOCTYPE html>
<html lang="en">
<head style="margin: 0%;">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0%;">
  <div style="padding-left: 10px;padding-bottom: 20px;color: rgb(0, 0, 0);height: 40px;width: 100%;background-color: rgb(141, 170, 177);font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
    <h2 style="padding-top: 15px;" ><em>Hi  {{client_name}},</em></h2>
  </div>
  <div style="background-color: rgb(238, 238, 238);padding-top: 10px;">
    <p style="padding-left: 30px;" >Approved amount from {{dayt}} to {{dayf}} is Rs.{{appr_amt}} and billed amount as on {{date_tod}} is Rs.{{billd_amount}}</p>
    <div style="padding-left: 30px;">
    <table style="padding-left: 20px;margin-top: 20px;">
      <thead style="padding: 10px;background-color: rgb(167, 195, 196)">
        <tr>
          <th>Employee Name</th>
          <th>Hours Spend</th>
        </tr>
      </thead>
      <tbody>
        {% for i in emp_details %}
            <tr style="background-color: rgb(238, 238, 238);">
              <td style="border-bottom:solid 2px rgb(13, 233, 233);">{{i.Employee_Name}}</td>
              <td style="border-bottom:solid 2px rgb(13, 233, 233);">{{i.Hours_Spend}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    <div style="margin-top: 20px;background-color: rgb(182, 197, 201);font-family: Georgia, 'Times New Roman', Times, serif;height: 40px;padding: 7px;color: whitesmoke;">
      <p>Cydez Technologies</p>
    </div>
  </div>
</body>
</html>