<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> Cydez Technologies </title>
    <!-- <link rel="shortcut icon" type="image/jpeg" href="../static/images/logo.jpeg"> -->
    <link rel="shortcut icon" type="image/jpeg" {% for i in logos %}  href="/media/{{i.add_logo}}" {% endfor %}>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'plugins/select2/css/select2.min.css'%}">
<link rel="stylesheet" href="{% static 'all-min.css'%}">
<link href="{% static 'style2.css' %}" rel="stylesheet">
<link href="{% static 'plugins/fontawesome/css/fontawesome.min.css'%}">
<link href="{% static 'plugins/fontawesome/css/all.min.css'%}">
<link href="{% static 'plugins/datatables/datatables.min.css'%}">
<link rel="stylesheet" href="https://kanakku.dreamguystech.com/html/template/assets/css/bootstrap-datetimepicker.min.css">
<link href="{% static 'bootstrap-datetimepicker.min.css'%}">
<script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<style>
    .piechart {
        margin-top:7px;
        margin-left:180px;
        display: block;
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-image: conic-gradient(
            pink 70deg, 
            lightblue 0 235deg, 
            orange 0);
    }

    body,
    .piechart {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<body>

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                {% for i in logos %}
                <a href="" class="logo">                  
                    <img src="/media/{{i.add_logo}}" alt="">
                    
                </a>
                <a href="" class="logo logo-small">
                    <img src="/media/{{i.add_logo}}" alt="Logo" width="30" height="30">
                </a>
                {% endfor %}
            </div>

            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-bars"></i>
            </a>



            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav nav-tabs user-menu">



                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="assets/img/profiles/avatar-01.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                        <span>{{user.email}}</span>
                    </a>
                    <div class="dropdown-menu">
                        <!--<a class="dropdown-item" href="profile.html"><i data-feather="user" class="me-1"></i>
                            Profile</a>
                        <a class="dropdown-item" href="settings.html"><i data-feather="settings" class="me-1"></i>
                            Settings</a>-->
                        <a class="dropdown-item" href="{% url 'userlogout' %}"  onclick="return clearAll();"><i data-feather="log-out" class="me-1"></i>
                            Logout</a>
                    </div>
                </li>

            </ul>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="active">
                            <a href="{% url 'dashboard' %}"><i data-feather="home"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="{% url 'Totalbilling' %}"><i data-feather="file-text"></i> <span> Billing</span></a>
                        </li>
                        <li>
                            <a href="{% url 'taskschedular' %}"><i data-feather="file-text"></i> <span> Task Schedular</span></a>
                        </li>
                        <li >
                            <a href="{% url 'task' %}"><i data-feather="file-plus"></i> <span>Task</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listUser' %}"><i data-feather="users"></i> <span>Users</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listclient' %}"><i data-feather="clipboard"></i> <span>Projects</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listProject' %}"><i data-feather="credit-card"></i> <span>Estimation</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listEngagements' %}"><i style='font-size:18px' class='far'>&#xf1ad;</i> <span>Accounts</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listconsultant' %}"><i style='font-size:18px' class='fas'>&#xf508;</i> <span>Account Manager</span> </a>
                        </li>
                        <li>
                            <a href="{% url 'pending' %}"><i data-feather="file"></i> <span>Missing Timesheet</span> </a>
                        </li>
                        <li>
                            <a href="{% url 'list_knowledge' %}"><i data-feather="book-open"></i> <span>Knowledge Center</span> </a>
                        </li>
                        <li class="nav-item has-submenu">
                            <a class="nav-link" href="#"> <i data-feather="settings"> </i> <span> Settings</span>   </a></i>
                            <ul class="submenu collapse">
                                <li><a class="nav-link" href="{% url 'setting' %}">Departments </a></li>
                                <li><a class="nav-link" href="{% url 'list_Designations' %}">Designation</a></li>
                                <li><a class="nav-link" href="{% url 'add_logo' %}">Logo</a></li>
                                <li><a class="nav-link" href="{% url 'listec' %}">Email Configuration</a></li>
                               <!-- <li><a class="nav-link" href="#">Submenu item 3 </a> </li>-->
                            </ul>
                        </li>
                        
<!--                     
                        <li>
                            <a href="{% url 'estimation_admin' %}"><i data-feather="settings"></i> <span>Generate Estimate</span></a>
                        </li> -->
                     
                        
                        
                    </ul>
                </div>
            </div>
        </div>



        <div  class="page-wrapper">
            <div class="content container-fluid">
                <!-- <div class="col-lg-12 col-md-12 ">
                    <div class="card overflow-hidden dfpghi">
                        <div class=" bg-soft">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="p-3">
                                        <h5 class="text-primarybsd">Welcome Back !</h5>
                                        <p>{{username}}</p>
                                    </div>
                                    <div class="p-3">
                                        <a class="btn btn-primary" href="{% url 'Totalbilling' %}">Billing Section</a>
                                    </div>
                                </div>
                                <div class="col-sm-5 align-self-end">
                                    <img src="../static/images/profile-img.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                   
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-xl-4 col-sm-7 col-13">
                        <div class="card">
                            <div class="card-body" >
                                <div class="dash-widget-header">
                                    <!-- <div class="piechart"></div> -->
                                  
                                       
                                        <i style="font-size: 54px;color:rgb(212, 241, 117);" class="fa fa-users"></i>
                                       
                             
                                
                                        <div class="dash-title">&nbsp; &nbsp;&nbsp;Admin</div>
                                        <div >
                                            
                                            <p >&nbsp;&nbsp;{{z}}</p>
                                        </div>
                                
                                   
                                </div>
                                
                                <!-- <div class="progress progress-sm mt-3"> -->
                                   
                                <!-- <p class="text-muted mt-3 mb-0"><span class="text-danger me-1"><i
                                            class="fas fa-arrow-down me-1"></i>1.15%</span> since last week</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-7 col-13">
                        <div class="card">
                            <div class="card-body" style="height: 100px;">
                                <div class="dash-widget-header">
                                    <!-- <span class="dash-widget-icon bg-2">
                                        <i class="fas fa-file-alt"></i>
                                    </span> -->
                                    <i style="font-size: 50px;color:rgb(228, 226, 129);" class="fa fa-user"></i>
                                        <div class="dash-title">&nbsp;&nbsp;&nbsp;Employee</div>
                                        <div >
                                            <p>&nbsp;&nbsp;{{x}}</p>
                                        </div>
                                    
                                </div>
                                <!-- <div class="progress progress-sm mt-3">
                                    <div class="progress-bar bg-6" role="progressbar" style="width: 100%"
                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <!-- <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                                            class="fas fa-arrow-up me-1"></i></span> since last week</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-7 col-13">
                        <div class="card">
                            <div class="card-body" style="height: 100px;">
                                <div class="dash-widget-header">
                                    <!-- <span class="dash-widget-icon bg-3">
                                        
                                        <i class="fas fa-dollar-sign"></i> 
                                    </span> -->
                   
                                    <i style="font-size: 50px;color:rgb(116, 239, 237);" class='fas'>&#xf508;</i> 
                                  
                                        <div class="dash-title">&nbsp;&nbsp;&nbsp;Acount Manager</div>
                                        <div>
                                           
                                            <p>&nbsp;&nbsp;{{y}}</p>
                                        
                                        </div>
                                  
                                </div>
                                <!-- <div class="progress progress-sm mt-3">
                                    <div class="progress-bar bg-7" role="progressbar" style="width: 100%"
                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <!-- <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                                            class="fas fa-arrow-up me-1"></i>3.77%</span> since last week</p> -->
                            </div>
                     
                    </div>
                </div>
                </div>
                <div class="row">
                    <!-- <div class="col-xl-4 col-sm-7 col-13">
                        <div class="card">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                   
                                       
                                        <i style="font-size: 44px;color:rgb(212, 241, 117);" class="fa fa-users"></i>
                                       
                             
                                
                                        <div class="dash-title">&nbsp; Users</div>
                                        <div >
                                            
                                            <p >&nbsp;&nbsp;{{b}}</p>
                                        </div>
                                
                                   
                                </div>
                                
                            </div>
                        </div>
                    </div> -->
                   
                    <div class="col-xl-4 col-sm-7 col-13">
                        <div class="card">
                            <div class="card-body" style="height: 100px;">
                                <div class="dash-widget-header">
                                    <!-- <span class="dash-widget-icon bg-3">
                                        
                                        <i class="fas fa-dollar-sign"></i> 
                                    </span> -->
                                    
                                    <i style="font-size: 48px;color:rgb(239, 159, 116);" class="fas fa-dollar-sign"></i>
                                  
                                        <div class="dash-title">&nbsp;&nbsp;&nbsp;Due Amount</div>
                                        <div>
                                            {% if d %}
                                            <p>&nbsp;&nbsp;{{d}}</p>
                                            {% endif %}

                                            {% if not d %}
                                            <p>&nbsp;&nbsp;0</p>
                                            {% endif %}
                                        </div>
                                  
                                </div>
                                <!-- <div class="progress progress-sm mt-3">
                                    <div class="progress-bar bg-7" role="progressbar" style="width: 100%"
                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <!-- <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                                            class="fas fa-arrow-up me-1"></i>3.77%</span> since last week</p> -->
                            </div>
                     
                    </div>
                </div>
                <div class="col-xl-4 col-sm-7 col-13">
                    <div class="card">
                        <div class="card-body" style="height: 100px;">
                            <div class="dash-widget-header">
                                <!-- <span class="dash-widget-icon bg-3">
                                    
                                    <i class="fas fa-dollar-sign"></i> 
                                </span> -->
                                
                                <i style="font-size: 48px;color:rgb(167, 239, 116);" class="fas fa-dollar-sign"></i>
                              
                                    <div class="dash-title">&nbsp;&nbsp;&nbsp;Paid Amount</div>
                                    <div>
                                        {% if q %}
                                        <p>&nbsp;&nbsp;{{q}}</p>
                                        {% endif %}

                                        {% if not q %}
                                        <p>&nbsp;&nbsp;0</p>
                                        {% endif %}
                                    </div>
                              
                            </div>
                            <!-- <div class="progress progress-sm mt-3">
                                <div class="progress-bar bg-7" role="progressbar" style="width: 100%"
                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div> -->
                            <!-- <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                                        class="fas fa-arrow-up me-1"></i>3.77%</span> since last week</p> -->
                        </div>
                 
                </div>
            </div>
            <div class="col-xl-4 col-sm-7 col-13">
                <div class="card">
                    <div class="card-body" style="height: 100px;">
                        <div class="dash-widget-header">
                            <!-- <span class="dash-widget-icon bg-3">
                                
                                <i class="fas fa-dollar-sign"></i> 
                            </span> -->
                            
                            <i style="font-size: 48px;color:rgb(116, 153, 239);" class="fas fa-dollar-sign"></i>
                          
                                <div class="dash-title">&nbsp;&nbsp;&nbsp;Billed Amount</div>
                                <div>
                                    {% if u %}
                                    <p>&nbsp;&nbsp;{{u}}</p>
                                    {% endif %}

                                    {% if not u %}
                                    <p>&nbsp;&nbsp;0</p>
                                    {% endif %}
                                </div>
                          
                        </div>
                        <!-- <div class="progress progress-sm mt-3">
                            <div class="progress-bar bg-7" role="progressbar" style="width: 100%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <!-- <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                                    class="fas fa-arrow-up me-1"></i>3.77%</span> since last week</p> -->
                    </div>
             
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-sm-7 col-13">
                <div class="card">
                    <div class="card-body" style="height: 100px;">
                        <div class="dash-widget-header">
                            <!-- <span class="dash-widget-icon bg-2">
                                <i class="fas fa-file-alt"></i>
                            </span> -->
                            <i style="font-size: 48px;color:rgb(96, 180, 218);" class="fas fa-file-alt"></i>
                                <div class="dash-title">&nbsp;&nbsp;&nbsp;Projects</div>
                                <div >
                                    <p>&nbsp;&nbsp;{{c}}</p>
                                </div>
                            
                        </div>
                        <!-- <div class="progress progress-sm mt-3">
                            <div class="progress-bar bg-6" role="progressbar" style="width: 100%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <!-- <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                                    class="fas fa-arrow-up me-1"></i></span> since last week</p> -->
                    </div>
                </div>
            </div>
                <div class="col-xl-4 col-sm-7 col-13">
                    <div class="card">
                        <div class="card-body" style="height: 100px;">
                            <div class="dash-widget-header">
                                <!-- <span class="dash-widget-icon bg-4">
                                    <i class="far fa-file"></i>
                                </span> -->
                              
                                    <i style="font-size: 48px;color:rgb(217, 119, 127);" class="far fa-file"></i>
                                    <div class="dash-title">&nbsp;&nbsp;&nbsp;Missing Timesheet</div>
                                    <div >
                                        <p>&nbsp;&nbsp;{{datas}}</p>
                                    </div>
                              
                            </div>
                            <!-- <div class="progress progress-sm mt-3">
                                <div class="progress-bar bg-8" role="progressbar" style="width: 100%"
                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div> -->
                            <!-- <p class="text-muted mt-3 mb-0"><span class="text-danger me-1"><i
                                        class="fas fa-arrow-down me-1"></i>8.68%</span> since last week</p> -->
                        </div>
                    </div>
                </div>
            
              
                    <div class="col-xl-4 col-sm-7 col-13">
                        <div class="card">
                            <div class="card-body" style="height: 100px;">
                                <div class="dash-widget-header">
                                    <!-- <span class="dash-widget-icon bg-1">
                                        <i class="fa fa-cube"></i>
                                    </span> -->
                                    <!-- <div class="dash-count"> -->
                                        <i style="font-size: 48px;color:rgb(211, 165, 243);" class="fa fa-cube"></i>
                                        <div class="dash-title">&nbsp;&nbsp;&nbsp;Accounts</div>
                                        <div>
                                            <p>&nbsp;&nbsp;{{f}}</p>
                                        </div>
                                    <!-- </div> -->
                                </div>
                                <!-- <div class="progress progress-sm mt-3">
                                    <div class="progress-bar bg-5" role="progressbar" style="width: 100%"
                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <!-- <p class="text-muted mt-3 mb-0"><span class="text-danger me-1"><i
                                            class="fas fa-arrow-down me-1"></i>8.68%</span> since last week</p> -->
                            </div>
                        </div>
                    </div>
        </div>
<div class="row">
        <div class="col-xl-4 col-sm-7 col-13">
                        <div class="card">
                            <div class="card-body" style="height: 100px;">
                                <div class="dash-widget-header">
                                    <!-- <span class="dash-widget-icon bg-2">
                                        <i class="fa fa-cog"></i>
                                    </span> -->
                                    <!-- <div class="dash-count"> -->
                                        <i style="font-size: 50px;color:rgb(170, 229, 131);" class="fa fa-cog"></i>
                                        <div class="dash-title">&nbsp;&nbsp;&nbsp;No of Departments</div>
                                        <div>
                                            <p>&nbsp;&nbsp;{{g}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="progress progress-sm mt-3">
                                    <div class="progress-bar bg-6" role="progressbar" style="width: 100%"
                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                <!-- <p class="text-muted mt-3 mb-0"><span class="text-danger me-1"><i
                                            class="fas fa-arrow-down me-1"></i>8.68%</span> since last week</p> -->
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-7 col-13">
                            <div class="card">
                                <div class="card-body" style="height: 100px;">
                                    <div class="dash-widget-header">
                                        <!-- <span class="dash-widget-icon bg-2">
                                            <i class="fa fa-cog"></i>
                                        </span> -->
                                        <!-- <div class="dash-count"> -->
                                            <i style="font-size: 50px;color:rgb(229, 214, 131);" class="fa fa-file"></i>
                                            <div class="dash-title">&nbsp;&nbsp;&nbsp;My Task</div>
                                            <div>
                                                <p>&nbsp;&nbsp;{{k}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="progress progress-sm mt-3">
                                        <div class="progress-bar bg-6" role="progressbar" style="width: 100%"
                                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> -->
                                    <!-- <p class="text-muted mt-3 mb-0"><span class="text-danger me-1"><i
                                                class="fas fa-arrow-down me-1"></i>8.68%</span> since last week</p> -->
                                </div>
                            </div>
                            <div class="col-xl-4 col-sm-7 col-13">
                                <div class="card">
                                    <div class="card-body" style="height: 100px;">
                                        <div class="dash-widget-header">
                                            <!-- <span class="dash-widget-icon bg-2">
                                                <i class="fa fa-cog"></i>
                                            </span> -->
                                            <!-- <div class="dash-count"> -->
                                                <i style="font-size: 50px;color:rgb(232, 155, 207);" class="fa fa-file-alt"></i>
                                                <div class="dash-title">&nbsp;&nbsp;&nbsp;No of Task</div>
                                                <div>
                                                    <p>&nbsp;&nbsp;{{o}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="progress progress-sm mt-3">
                                            <div class="progress-bar bg-6" role="progressbar" style="width: 100%"
                                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div> -->
                                        <!-- <p class="text-muted mt-3 mb-0"><span class="text-danger me-1"><i
                                                    class="fas fa-arrow-down me-1"></i>8.68%</span> since last week</p> -->
                                    </div>
                                </div>
                    
                </div>
                </div>
               
              
            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/feather.min.js' %}"></script>
    <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>





    <div class="be-wrapper be-offcanvas-menu be-fixed-sidebar bggrey">
      
        <!-- <div class="be-left-sidebar" id="left_sidebar">
            <div class="left-sidebar-wrapper">
                <div class="left-sidebar-spacer">
                    <div class="left-sidebar-scroll">
                        <div class="left-sidebar-content">
                            <ul class="sidebar-elements">
                                <li class="active"><a href="#"><i class="icon zmdi zmdi-home"></i><span>Home</span></a>
                                </li>
                                <li><a href="#"><i class="icon zmdi zmdi-fire"></i><span>Trending</span></a></li>
                                <li><a href="#"><i class="icon zmdi zmdi-hourglass-alt"></i><span>History</span></a>
                                </li>
                                <li><a href="#"><i class="icon zmdi zmdi-label"></i><span>Purchases</span></a></li>
                                <li class="divider">More Features</li>
                                <li class="parent"><a href="#"><i
                                            class="icon zmdi zmdi-comments"></i><span>Forum</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="#">CodePen</a></li>
                                        <li><a href="#">Stack Overflow</a></li>
                                        <li><a href="#">Google</a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><i
                                            class="icon zmdi zmdi-notifications"></i><span>Notifications</span></a></li>
                                <li><a href="#"><i class="icon zmdi zmdi-translate"></i><span>Translate</span></a></li>
                                <li class="divider">Settings</li>
                                <li><a href="#"><i class="icon zmdi zmdi-flag"></i><span>Report History</span></a></li>
                                <li><a href="#"><i class="icon zmdi zmdi-help"></i><span>Help</span></a></li>
                                <li><a href="#"><i class="icon zmdi zmdi-comment-alert"></i><span>Send
                                            Feedback</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="be-content">
            <div class="container">

            </div>
            <!-- Edit Modal HTML -->
            <div class="container mt-n10 mt-100">
                <!-- <div class="row">
                    <div class="col-xl-4 mb-4">
                        <a class="card lift h-100" href="{% url 'Totalbilling' %}">
                            <div class="card-body cardbod d-flex justify-content-center flex-column text-center">
                                <div class=" align-items-center justify-content-between">
                                    <div class="mr-3">
                                        <i class="fa fa-clock-o fa-5x texah"></i>
                                        <h5 class="texah">TOTAL BILLING HOURS</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                  
                    <div class="col-xl-4 mb-4">
                        <a class="card lift h-100" href="{% url 'listUser' %}">
                            <div class="card-body cardbod d-flex justify-content-center flex-column text-center">
                                <div class=" align-items-center justify-content-between">
                                    <div class="mr-3">
                                        <i class="fa fa-user fa-5x texah"></i>
                                        <h5 class="texah">USER</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-4 mb-4">
                        <a class="card lift h-100" href="{% url 'listclient' %}">
                            <div class="card-body cardbod d-flex justify-content-center flex-column text-center">
                                <div class=" align-items-center justify-content-between">
                                    <div class="mr-3">
                                        <i class="fa fa-users fa-5x texah"></i>
                                        <h5 class="texah">PROJECT</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-4 mb-4">
                        <a class="card lift h-100" href="{% url 'listProject' %}">
                            <div class="card-body cardbod d-flex justify-content-center flex-column text-center">
                                <div class="align-items-center justify-content-between">
                                    <div class="mr-3">
                                        <i class="fa fa-calculator fa-5x texah"></i>
                                        <h5 class="texah">ESTIMATED AMOUNT</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                  
                    <div class="col-xl-4 mb-4">
                        <a class="card lift h-100" href="{% url 'listEngagements' %}">
                            <div class="card-body cardbod d-flex justify-content-center flex-column text-center">
                                <div class="align-items-center justify-content-between">
                                    <div class="mr-3">
                                        <i class="fa fa-usd fa-5x texah"></i>
                                        <h5 class="texah">ENGAGEMENTS</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-4 mb-4">
                        <a class="card lift h-100" href="{% url 'listconsultant' %}">
                            <div class="card-body cardbod d-flex justify-content-center flex-column text-center">
                                <div class="align-items-center justify-content-between">
                                    <div class="mr-3">
                                        <i class="fa fa-usd fa-5x texah"></i>
                                        <h5 class="texah">CONSULTANT</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-4 mb-4">
                        <a class="card lift h-100" href="{% url 'estimation_admin' %}">
                            <div class="card-body cardbod d-flex justify-content-center flex-column text-center">
                                <div class="align-items-center justify-content-between">
                                    <div class="mr-3">
                                        <i class="fa fa-usd fa-5x texah"></i>
                                        <h5 class="texah">GENERATE ESTIMATE</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <script>
        function myFunction() {
            document.getElementById("myNumber").stepUp(5);
        }
    </script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.6.3/js/jquery.overlayScrollbars.min.js"></script> -->
    <script>console.clear(); // Clear all CodePen's errors and warnings
        /*
        
        Requires:
        
        • jQuery | Boottrap v4.1+
        
        Overlay Scrollbars:
        https://kingsora.github.io/OverlayScrollbars/#!overview
        
        
        TODO:
        
        • fix left-sidebar srolling when overflowing. Avoid default scrollbar style.
        • Dim screen when opening sidebar?
        • Add extra brand logo and menu icon on open?
        • Add footer to left sidebar.
        • Support a right sidebar?
        • Sidebar animation, history/navigation fix.
        • Use hardware acceleration for animated sidebar?
        • Partial icon view for sidebar collapse?
        
        */

        var body = $(document.body),
            open_left_sidebar = "open-left-sidebar",
            sidebar_btn = $("#sidebar_btn"),
            left_sidebar = $("#left_sidebar"),
            anchors = $(".sidebar-elements li a", left_sidebar),
            wrapper = $(".be-wrapper"),
            menu_speed = 200;

        // Only for debugging (stop page navigating away)
        //     $(
        //         ".be-wrapper > .navbar a, \
        //    .be-wrapper > .be-left-sidebar a"
        //     ).attr("href", "#" + Math.random());

        // Updated: 2018.12
        // By default both '.be-animate' and '.be-offcanvas-menu'
        // should be placed in the body tag.
        // Using '.open-left-sidebar' to open the sidebar.
        // $(document.body)
        //     .addClass("be-animate be-offcanvas-menu open-left-sidebar");

        // Updated: 2019.03.11 @ 17:49:23
        // Only for debugging (extending menus and testing scrollbar)
        $("#debug_only_menuopen")
            .addClass("open")
            .find(".sub-menu > .parent")
            .addClass("open");



        // Updated: 2019.14.03 @ 18:09:27
        /** Scrollbar Support (Change with what ever scollbar plugin you need) **/
        var scrollbar = OverlayScrollbars(
            $(".left-sidebar-scroll")[0],
            {
                scrollbars: {
                    autoHide: "leave",
                    autoHideDelay: 100
                }
            }
        );

        // Updated: 2019.01.12 @ 18:39:59
        function toggle_sidebar() {
            body.toggleClass(open_left_sidebar);
        }

        sidebar_btn.on(
            "click",
            debounce(toggle_sidebar, 200, true)
        );

        // Updated: 2020.01.08 @ 19:42:34
        /** Operate submenus **/
        anchors.on("click", function (event) {
            var $el = $(this),
                $li = $el.parent(),
                $subMenu = $el.next(),
                $open = $li.siblings(".open");

            //console.log($subMenu);
            //$el.parents().eq(1).hasClass("sidebar-elements");

            if ($li.hasClass("open")) {
                slideUp($subMenu, event);
            } else {
                slideDown($el, event);
            }

            if ($el.next().is("ul")) {
                event.stopPropagation();
                event.preventDefault();
            }
        });

        function isCollapsibleSidebarCollapsed() {
            return wrapper.hasClass("be-collapsible-sidebar-collapsed");
        }

        function slideUp($subMenu, event) {
            var target = $(event.currentTarget),
                parent = $($subMenu).parent(),
                item = $("li.open", parent),
                isRoot = !target.closest(left_sidebar).length,
                speed = menu_speed,
                hasElements = target.parents()
                    .eq(1)
                    .hasClass("sidebar-elements");

            //console.log(event);


            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                (hasElements || isRoot)
            ) {
                parent.removeClass("open");
                $subMenu.removeClass("visible");
                item.removeClass("open").removeAttr("style");
            } else {
                $subMenu.slideUp({
                    duration: speed,
                    complete: function () {
                        parent.removeClass("open");
                        $(this).removeAttr("style");
                        item.removeClass("open").removeAttr("style");
                    }
                });
            }
        }

        function slideDown($this, event) {
            var $el = $($this),
                parent = $el.parent(),
                next = $($el).next(),
                speed = menu_speed,
                hasElements = $(event.currentTarget)
                    .parents()
                    .eq(1)
                    .hasClass("sidebar-elements"),
                siblingsOpen = parent.siblings(".open");

            //console.log("$this: ", $this);
            //console.log("slideDown: ", $(event.currentTarget));

            if (siblingsOpen) {
                slideUp(
                    $("> ul", siblingsOpen),
                    event
                );
            }

            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                hasElements
            ) {
                parent.addClass("open");
                next.addClass("visible");
            } else {
                next.slideDown({
                    duration: speed,
                    complete: function () {
                        parent.addClass("open");
                        $(this).removeAttr("style");
                    }
                });
            }
        }

        // Updated: 2019.01.02 @ 12:00:00
        /** AUTO close with user clicks or taps away from sidebar **/
        $(document.body).on(
            "mousedown touchstart",
            function (event) {
                if (
                    !$(event.target).closest(left_sidebar).length &&
                    !$(event.target).closest(sidebar_btn).length &&
                    body.hasClass(open_left_sidebar)
                ) {
                    body.removeClass(open_left_sidebar);
                }
            }
        );

        // Updated: 2019.01.03 @ 13:03:58
        /***************************/
        /** Bootstrap Breakpoints **/
        /***************************/
        (function (e) { e.isBreakpoint = function (t) { var o, i, a; switch (t) { case "xs": a = "d-none d-sm-block"; break; case "sm": a = "d-none d-md-block"; break; case "md": a = "d-none d-lg-block"; break; case "lg": a = "d-none d-xl-block"; break; case "xl": a = "d-none" }return i = (o = e("<div/>", { class: a }).appendTo("body")).is(":hidden"), o.remove(), i }, e.extend(e, { isXs: function () { return e.isBreakpoint("xs") }, isSm: function () { return e.isBreakpoint("sm") }, isMd: function () { return e.isBreakpoint("md") }, isLg: function () { return e.isBreakpoint("lg") }, isXl: function () { return e.isBreakpoint("xl") } }) })(jQuery);

        // Updated: 2019.01.12 @ 18:36:59
        /***************************/
        /** Underscore.js debounce function **/
        /***************************/
        function debounce(a, b, c) { var d, e, f, g, h; var l = function () { return new Date().getTime(); }; var i = function () { var j = l() - g; if (j < b && j >= 0) { d = setTimeout(i, b - j); } else { d = null; if (!c) { h = a.apply(f, e); if (!d) { f = e = null; } } } }; return function () { f = this; e = arguments; g = l(); var k = c && !d; if (!d) { d = setTimeout(i, b) }; if (k) { h = a.apply(f, e); f = e = null; } return h; }; };

    </script>
    <script>$(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });</script>
    <script>


        (function() {
    
            var idleDurationSecs = 1800;
            var redirectUrl = 'https://sf.prod-app.in/';  // Redirect idle users to this URL
            var idleTimeout;
    
            var resetIdleTimeout = function() {
              if(idleTimeout) clearTimeout(idleTimeout);
    
    
              idleTimeout = setTimeout(function(){
                location.href = redirectUrl
              },  idleDurationSecs * 1000);
            };
    
            resetIdleTimeout();
    
            ['click', 'touchstart', 'mousemove'].forEach(function(evt) {
              document.addEventListener(evt, resetIdleTimeout, false)
            });
        })();
    </script>
    <script src="{% static 'js/cleardata.js' %}"></script>
</body>

</html>