  <!DOCTYPE html>
<html lang="en">

<head>
    <title>Cydez Technologies</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      .ullsdfn{  

       list-style-type: none;
      }
      .ullsdfn li{
        display: inline-block;
      }
      .textarea {
        overflow-y: scroll;
        height: 100px;
        resize: none; 
    }
    </style>
    <!-- <script>
      console.log('working')
      window.onload = function() {
      };
    </script> -->
</head>
<body>
  <div class="container">
    <form method="post" action="{% url 'generateEstimate' userid %}" id="estimateform">
    <div class="row">
      <div class="col-sm-12">
        <h2>Add an Estimate</h2>
      </div>
      
        {% csrf_token %}
      <ul class="ullsdfn" style="padding-top: 20px;margin-right: 20px;">
        <li><input class="form-control" placeholder="Estimate" type="text" name="report"></li>
        <li><input class="form-control" id="myNumber" type="number"  placeholder="number" name="count"></li>

      </ul>

      
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-3" style="display: inline-flex;margin: 10px;">
        <label>Customer</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input class="form-control" type="text"  name="customer">
      </div>
      <div class="col-sm-3" style="display: inline-flex;margin: 10px;">
        <label>Date</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="date" class="form-control" id="e" name="date">
      </div>
      <!-- <div class="col-sm-3" style="display: inline-flex;margin: 10px;">
        <label>Subheading</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" class="form-control">
      </div> -->
    </div>
    <div class="row">
      <div class="col-sm-3" style="display: inline-flex;margin: 10px;">
        <label>Currency</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input class="form-control" type="text" name="currency" >
      </div>
      <div class="col-sm-3" style="display: inline-flex;margin: 10px;">
        <label>Expires on</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="date" class="form-control" id="e1" name="expiresDate">
      </div>
      <!-- <div class="col-sm-3" style="display: inline-flex;margin: 10px;">
        <label>Footer</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" class="form-control">
      </div> -->
    </div>


    <div class="row">
      <!-- <div class="col-sm-3" style="display: inline-flex;margin: 10px;">
        
      </div> -->
      <!-- <div class="col-sm-3" style="display: inline-flex;margin: 10px;">
        <label>P.O/S.O</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" class="form-control">
      </div> -->
      <div class="col-sm-3" style="display: inline-flex;margin: 10px;">
        <label>Memo</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <textarea type="text" class="form-control textarea" name="memo" >CYDEZ TECHNOLOGIES Account Number:502000533264378
        </textarea>
      </div>
    </div>


    <div class="row">
      <div class="m-3">
        <table id="add_table" class="table" data-toggle="table" data-mobile-responsive="true">
          <thead>
            <tr>
              <th>Product</th>
              <th>Description</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Tax</th>
              <th>Amount</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" class="form-control" name="combination_id1[]" required>
              </td>
              <td>
                <textarea type="text" class="form-control" name="combination_id2[]" ></textarea>
              </td>
              <td>
                <input type="number"  class="form-control" name="combination_id3[]" required>
              </td>
              <td>
                <input type="number"  class="form-control" name="combination_id4[]" id="price" oninput="calc();" required >
              </td>
              <td>
                <input type="number" class="form-control" name="combination_id5[]" id="tax" oninput="calc();" required>
              </td>
              <td id="total">$0.00</td>
              <td><i class="fa fa-trash" style="color:blue"></i></td>
              <td>
                <a id="add_row"><i class="fa fa-plus-circle" style="font-size:20px;color:blue;"></i></a>
              </td>
            </tr>
            </tbody>
        </table>
        <hr>
      
        <div style="padding-left: 1000px;" >
          <div style="display:inline-flex">
           subtotal:$<p id="subtotal">0.00</p>
          </div>
          <div style="display:inline-flex">
            Total:$<p id="Total">0.00</p>
           </div>
        </div>
      </form>
        <button style="margin-left: 500px;border-radius: 25px;background-color: mediumblue;color: white;width: 80px;" type="submit" form="estimateform">Save</button>
      </div>
      
    </div>
  </div>

  

<script>
    $(document).ready(function() {
    $('#add_row').click(function() {
      //Add row
      row = '';
      row += '<tr><td><input type="text" class="form-control" name="combination_id1[]" required></td><td ><textarea type="text" class="form-control" name="combination_id2[]" ></textarea></td><td><input type="number"  class="form-control" name="combination_id3[]" required></td><td><input type="number"  class="form-control" name="combination_id4[]" id="price" oninput="calc();" required></td><td><input type="number" class="form-control" name="combination_id5[]" id="tax" oninput="calc();" required></td><td id="total">$0.00</td><td><i class="fa fa-trash" style="color:blue"></i></td>';
      row += '<td><button class="btn btn-outline-danger delete_row">remove</button></td></tr>';
      $("tbody").append(row);
    })

    $("#add_table").on('click', '.delete_row', function() {
      $(this).closest('tr').remove();
    });

    });
</script>
<script>
    document.getElementById('e').value = new Date().toISOString().substring(0, 10);
    const d = new Date();
    d.setDate(d.getDate() + 30);
    document.getElementById('e1').value = d.toISOString().substring(0, 10);
</script>

<script>
  function calc() {
    var price = document.getElementById("price").value;
    console.log(price)
    var price = parseFloat(price, 10);
    var tax = document.getElementById("tax").value;
    console.log(tax)
    var tax = tax /100
    var tax = parseFloat(tax, 10);
    var total = price * tax;
    document.getElementById("total").innerHTML = total;
    document.getElementById("subtotal").innerHTML = total;
    document.getElementById("Total").innerHTML = total;

  }
  </script>
</body>
</html>