{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Cydez Technologies</title>
    <!-- <link rel="shortcut icon" type="image/jpeg" href="../static/images/logo.jpeg"> -->
    <link rel="shortcut icon" type="image/jpeg" {% for i in logos %}  href="/media/{{i.add_logo}}" {% endfor %}>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="msapplication-tap-highlight" content="no">

 
<link href="{% static 'bootstrap.min.css'%}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'plugins/select2/css/select2.min.css'%}">
<link rel="stylesheet" href="{% static 'all-min.css'%}">
<link href="{% static 'style2.css' %}" rel="stylesheet">
<link href="{% static 'plugins/fontawesome/css/fontawesome.min.css'%}">
<link href="{% static 'plugins/fontawesome/css/all.min.css'%}">
<link href="{% static 'plugins/datatables/datatables.min.css'%}">
 <link rel="stylesheet" href="https://kanakku.dreamguystech.com/html/template/assets/css/bootstrap-datetimepicker.min.css">
<link href="{% static 'bootstrap-datetimepicker.min.css'%}"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>

    <!-- Added css -->
    <style type="text/css">
      
        .serchlist li{
            display:table-cell;
        }
        .serchlist{
            margin-left: -40px;
        }
        .table-task td{
            white-space: normal;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
        .input-container {
        display: flex;
        margin-left: -220px;  

        }
        
/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
    </style>
</head>

<body >

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <!-- <a href="" class="logo">
                    <img src="../static/images/logo_4.png" alt="Logo">
                </a>
                <a href="" class="logo logo-small">
                    <img src="../static/images/logo_4.png" alt="Logo" width="30" height="30">
                </a> -->
                {% for i in logos %}
                <a href="" class="logo">                  
                    <img src="/media/{{i.add_logo}}" alt="">
                    
                </a>
                <a href="" class="logo logo-small">
                    <img src="/media/{{i.add_logo}}" alt="Logo" width="30" height="30">
                </a>
                {% endfor %}
            </div>


            <!-- <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-bars"></i>
            </a> -->


            <!-- <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a> -->
            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-bars"></i>
            </a>


            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav nav-tabs user-menu">

                


                

                <li class="nav-item dropdown has-arrow main-drop">
                    <a id="lt_dd" href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="assets/img/profiles/avatar-01.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                        <span>{{user.email}}</span>
                    </a>
                    <div class="dropdown-menu">
                     
                        <a id="lt_lout" class="dropdown-item" href="{% url 'userlogout' %}" onclick="return clearAll();"><i data-feather="log-out" class="me-1"></i>
                            Logout</a>
                    </div>
                </li>

            </ul>

        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li >
                            <a href="{% url 'task_employee' %}"><i data-feather="file-plus"></i> <span>Task</span></a>
                        </li>
                       
                        <li class="active">
                            <a href="{% url 'listtask' %}"><i data-feather="file-text"></i> <span>Timesheet</span></a>
                        </li>
                        
                        <li>
                            <a href="{% url 'employee_pending' %}"><i data-feather="file"></i> <span>Missing Timesheet</span> </a>
                        </li>
                        
                        <li >
                            <a href="{% url 'emp_knowledgecenter' %}"><i data-feather="book-open"></i> <span>Knowledge Center</span> </a>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
        </div>


      

        <div class="page-wrapper">
            <div class="content container-fluid">
              
                <!-- <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Task</h3>
                            <ul class="breadcrumb">
                               
                                <li class="breadcrumb-item active">Task</li>
                            </ul>
                        </div>
                       
                    </div>
                </div> -->
                
                
                <div id="filter_inputs" class="card filter-card">
                    <div class="card-body pb-0">
                        <div class="row">
                            <form method="GET" >
                                {% csrf_token %}
                            <div class="search-container ">
                                <div class="input-group input-group-sm mx-auto">
                                    <input id="lt_srch" class="form-control search-input" type="text" name="q"
                                        placeholder="Search"  value="{{ request.GET.q }}" >
                                        <button id="lt_btn" style="margin-left: 40px;" class="btn btn-lg btn-block btn-primary">Search</button>
                                    </form>
                                        <button style="margin-left: 40px;" class="btn btn-lg btn-block btn-primary"><a id="add" style="color: white;" href="#addEmployeeModal" data-toggle="modal">Add User</a></button>
    
    
                                </div>
                            
                            </div>
                    </div>
                </div>
        </div>
        <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div  class="card-header">
                                <div class="row">
                                    <div style="margin-bottom:-59px" class="col">
                                        <h5  class="card-title">Timesheet</h5>   
                                    </div>
                                    <div style="margin-left:600px;margin-bottom:-23px;">{{formatedSelectedDate}}</div>
                                    <div  style="margin-bottom:-23px;"><div class="input-container">
                                        <input type="date"  style="margin-left:905px;margin-top:-10px; width: 150px;cursor: pointer;"class="form-control" placeholder="yyyy-mm-dd" name="searchdate" value="{{ selectedDate }}" id="searchdate"readonly onchange="changedate(this.value)" >
                                        <a href="#searchdate" ><span class="fa fa-calendar"  style="margin-left: -30px;margin-top :2px ;color:rgb(74, 72, 72); 
                                        cursor: pointer;"></span></a></div>
                                        {% if not msg %}
                                            <button  style="margin-left:850px;margin-top:-70px;" class="btn btn-primary" {% if rh < 1 or rh > 8 %} style = "background-color:grey;cursor:default;" disabled {% endif %}>
                                                <a  {% if rh > 0 and rh < 9 %} href="#addEmployeeModal" {% endif %} data-toggle="modal">
                                                    <i class="fas fa-plus"></i>
                                                </a>
                                            </button>
                                            
                                        {% endif %}
                                       
                                    </div>
                                    <!-- <div class="col-auto">
                                        <div class="dropdown">
                                            <button class="btn btn-white btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            Monthly
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li>
                                            <a href="javascript:void(0);" class="dropdown-item">Weekly</a>
                                            </li>
                                            <li>
                                            <a href="javascript:void(0);" class="dropdown-item">Monthly</a>
                                            </li>
                                            <li>
                                             <a href="javascript:void(0);" class="dropdown-item">Yearly</a>
                                            </li>
                                            </ul>
                                            </div>
                                    </div> -->
                                </div>
                            </div>
                            
                            <div class="card-body">
                                <div class="mb-3">
                                    <div class="progress progress-md rounded-pill mb-3">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 47%"
                                            aria-valuenow="47" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 28%"
                                            aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 15%"
                                            aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 10%"
                                            aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                   
                                </div>
                               
                                {% if user.is_authenticated %}
                                <div class="table-responsive">
                                    <table class="table table-stripped table-hover table-task">
                                        <thead>
                                            <tr>
                                            <!-- {% if kk == today %}
                                            {% if not re  %}
                                            <div class="alert">
                                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                                You hav to add.   
                                            {% endif %}
                                            {% endif %} -->
                                            
                                            {% if u_d == d2 %}  
                                
                                            {% else %}  

                                            {% if not msg %}
                                            {% if re > 0 and re < 9 %}
                                            
                                            <div class="alert">
                                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                                You have missing timesheet to add.   
                                            {% endif %}
                                    
                                            {% endif %}
                                            {% endif %}
                                              
                                                
                                                <!-- <th style="color: dodgerblue;">Timesheet -->
                                               
                                                           
                                                <!-- </th> -->
                                               
                                                <!-- <th>Day</th> -->
                                                <th>Project Name</th>
                                                <th>Task Details</th>
                                                
                                                <th>Hours Spend</th>
                                                <th>Status</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                           {% for i in k %}
                                          
                                          
                                           
                                                <!-- <td style="color: dodgerblue;">{{i.id}}</td> -->
                                                <!-- <td>{{i.date}}</td> -->
                                                <!-- <td>{{i.day}}</td> -->
                                                <td >{{i.project}}</td>
                                                <td >{{i.taskdetails}}</td>
                                                
                                                <td >{{i.hours}}</td>
                    
                                                {% if i.status == True %}
                                                <td>Accepted</td> 
                                                {% elif i.status == False %}
                                                            
                                                <td>Rejected</td> 
                                                {% else %}
                                                <td>Pending</td>
                                                {% endif %}
                                                <td>
                                                    
                                                
                                                    <!-- <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i
                                                            class="fa fa-edit" style='color:#8773b3'  data-toggle="tooltip" title="Edit"></i></a> -->
                                                    {% if msg %}
                                                    <a href="{% url 'deletetask' i.id %}" class="delete" hidden><i
                                                     class="fa fa-trash" style='color:#8773b3' data-toggle="tooltip" onclick="return confirm('Are you sure you want to delete this Timesheet?')" title="Delete"></i></a>
                                                       
                                                    {% elif i.status == None or i.status == False or d == 1%} 
                                                    <a href="{% url 'deletetask' i.id %}" class="delete" ><i
                                                     class="fa fa-trash" style='color:#8773b3' data-toggle="tooltip" onclick="return confirm('Are you sure you want to delete this Timesheet?')" title="Delete"></i></a> 
                                                        {% endif %}
                                                </td>
                                                
                                                <!-- <td>{{i.get_status_display}}</td> -->
                                            </tr>
                                            {% endfor %}
                                            <!-- <div>remaining hours :{{rh}}</div> -->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="container" >                
                                    {% for message in messages %}
                                     <div style="text-align: center;" ><br>
                                        {{ message }}
                                      </div>
                                    {% endfor %}
                                </div>
                                <div style="margin-top: 20px;display: flex;flex-direction: row-reverse;justify-content: space-between;align-items: center;">
                                    <div>
                                        Remaining Hours : {{rh}}
                                    </div>
                
                                      {% if msg %}
                                    <h3 style="color: blue; ">{{msg}}</h3>
                                    
                                    {% endif %} 
                                     
                
                                    <!-- {% if request.method == 'POST' %}
                                    <h3 style="color: blue; ">{{e}}</h3>
                                    {% endif %} -->
                
                                    
                            </div>

                            {% else %}
                            <p>Unautherised user </p>
                            {% endif %}
                            <!-- Edit Modal HTML -->
                            <div id="editEmployeeModal" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form>
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit Employee</h4>
                                               
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" id="lt_ename" class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="email" id="lt_eemail" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Address</label>
                                                    <textarea class="form-control" id="lt_eaddress" required></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Phone</label>
                                                    <input type="text" class="form-control" id="lt_ephone" required>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="submit" class="btn btn-info" id="lt_sub" value="Save">
                                                <input type="button" class="btn btn-default" id="lt_cncl" data-dismiss="modal" value="Cancel">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="addEmployeeModal" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form method="post" action="{% url 'create_task' %}">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                                <h4 class="modal-title">Add Task</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                               
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label>Select Project</label>
                                                    <span style="color:#ff0000">*</span>
                                                    <div class="form-control">
                                                    <select name="project" id="lt_pro" class="dropdown-item" required >
                                                        <option  value=""  disabled="true" selected >Select Project</option>
                                                      {% for i in l %}
                                                        <option value="{{i.id}}"> {{i.clientName}} </option>
                                                      {% endfor %}
                                                    </select></div>
                                                </div>
                                                    
                                                <div class="form-group">
                                                    <label>Task Details</label>
                                                    <span style="color:#ff0000">*</span>
                                                    <input type="text" id="lt_task" minlength="30" name="taskdetails" class="form-control"  placeholder="Enter Your Task Details" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Hours Spend</label>
                                                    <span style="color:#ff0000">*</span>
                                                    <!-- <p style="color:red;"><small>Add hours 0, if you are on leave</small></p> -->
                                                    <input type="number" id="lt_hrs" onkeypress="return event.charCode>=48" min="1" name="hours" placeholder="Max hours {{ rh }}" 
                                                    class="form-control" max="{{rh}}"  onkeyup="checkHours(this.value,{{ rh }});" required>
                                                </div>
                                                <input type="hidden" id = "dateId" value="{{selectedDate}}" name="date">
                                                <!-- <div style ="color:tomato">{{msg}}</div> -->
                                                <div style ="color:tomato">{{sun}}</div>
                                            </div>
                                    
                                            <div class="modal-footer">
                                                <input type="submit" id="lt_add" class="btn btn-primary" value="Add">
                                                <input type="button" id="lt_cnclbtn" class="btn btn-primary" data-dismiss="modal" value="Cancel">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Delete Modal HTML -->
                            <div id="deleteEmployeeModal" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form>
                                            <div class="modal-header">
                                                <h4 class="modal-title">Delete Employee</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete these Records?</p>
                                                <p class="text-warning"><small>This action cannot be undone.</small></p>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="button" id="lt_cancel" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                                <input type="submit" id="lt_dlt" class="btn btn-danger" value="Delete">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                            </div>
                        </div>
                    </div>
                  
        </div>
        </div>









   
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/feather.min.js' %}"></script>
    <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
    <!-- <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <script>

        // $("#hoursId").keyup( function(){
        //     alert("KEY UP");
        //     var searchQuery = $("#hoursId").val();
        //     if (searchQuery > {{ rh }}){
        //         btn = document.getElementById("buttonId")
        //         btn.disabled = true;
        //         btn.style.cssText = 'background-color:grey;';
        //     }else{
        //         btn = document.getElementById("buttonId")
        //         btn.disabled = false;
        //         btn.style.cssText = 'background-color:#f7931e;';   
        //     }
        // }
        // function checkHours(hours,max){

        //     btn = document.getElementById("buttonId")
        //     if (hours > max || hours < 0){
        //         btn.disabled = true;
        //         btn.style.cssText = 'background-color:grey;';
        //     }else{
        //         btn.disabled = false;
        //         btn.style.cssText = 'background-color:green;';
        //     }

        // }
        // console.clear(); // Clear all CodePen's errors and warnings
        /*
        
        Requires:
        
        • jQuery | Boottrap v4.1+
        
        Overlay Scrollbars:
        https://kingsora.github.io/OverlayScrollbars/#!overview
        
        
        TODO:
        
        • fix left-sidebar srolling when overflowing. Avoid default scrollbar style.
        • Dim screen when opening sidebar?
        • Add extra brand logo and menu icon on open?
        • Add footer to left sidebar.
        • Support a right sidebar?
        • Sidebar animation, history/navigation fix.
        • Use hardware acceleration for animated sidebar?
        • Partial icon view for sidebar collapse?
        
        */

        var body = $(document.body),
            open_left_sidebar = "open-left-sidebar",
            sidebar_btn = $("#sidebar_btn"),
            left_sidebar = $("#left_sidebar"),
            anchors = $(".sidebar-elements li a", left_sidebar),
            wrapper = $(".be-wrapper"),
            menu_speed = 200;

        // Only for debugging (stop page navigating away)

        // Updated: 2018.12
        // By default both '.be-animate' and '.be-offcanvas-menu'
        // should be placed in the body tag.
        // Using '.open-left-sidebar' to open the sidebar.
        // $(document.body)
        //     .addClass("be-animate be-offcanvas-menu open-left-sidebar");

        // Updated: 2019.03.11 @ 17:49:23
        // Only for debugging (extending menus and testing scrollbar)
        $("#debug_only_menuopen")
            .addClass("open")
            .find(".sub-menu > .parent")
            .addClass("open");



        // Updated: 2019.14.03 @ 18:09:27
        /** Scrollbar Support (Change with what ever scollbar plugin you need) **/
        var scrollbar = OverlayScrollbars(
            $(".left-sidebar-scroll")[0],
            {
                scrollbars: {
                    autoHide: "leave",
                    autoHideDelay: 100
                }
            }
        );
        // Updated: 2019.01.12 @ 18:39:59
        function toggle_sidebar() {
            body.toggleClass(open_left_sidebar);
        }

        sidebar_btn.on(
            "click",
            debounce(toggle_sidebar, 200, true)
        );
        var scrollbar = OverlayScrollbars(
            $(".left-sidebar-scroll")[0],
            {
                scrollbars: {
                    autoHide: "leave",
                    autoHideDelay: 100
                }
            }
        );

        
        // Updated: 2020.01.08 @ 19:42:34
        /** Operate submenus **/
        anchors.on("click", function (event) {
            var $el = $(this),
                $li = $el.parent(),
                $subMenu = $el.next(),
                $open = $li.siblings(".open");

            //console.log($subMenu);
            //$el.parents().eq(1).hasClass("sidebar-elements");

            if ($li.hasClass("open")) {
                slideUp($subMenu, event);
            } else {
                slideDown($el, event);
            }

            if ($el.next().is("ul")) {
                event.stopPropagation();
                event.preventDefault();
            }
        });

        function isCollapsibleSidebarCollapsed() {
            return wrapper.hasClass("be-collapsible-sidebar-collapsed");
        }

        function slideUp($subMenu, event) {
            var target = $(event.currentTarget),
                parent = $($subMenu).parent(),
                item = $("li.open", parent),
                isRoot = !target.closest(left_sidebar).length,
                speed = menu_speed,
                hasElements = target.parents()
                    .eq(1)
                    .hasClass("sidebar-elements");

            //console.log(event);


            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                (hasElements || isRoot)
            ) {
                parent.removeClass("open");
                $subMenu.removeClass("visible");
                item.removeClass("open").removeAttr("style");
            } else {
                $subMenu.slideUp({
                    duration: speed,
                    complete: function () {
                        parent.removeClass("open");
                        $(this).removeAttr("style");
                        item.removeClass("open").removeAttr("style");
                    }
                });
            }
        }

        function slideDown($this, event) {
            var $el = $($this),
                parent = $el.parent(),
                next = $($el).next(),
                speed = menu_speed,
                hasElements = $(event.currentTarget)
                    .parents()
                    .eq(1)
                    .hasClass("sidebar-elements"),
                siblingsOpen = parent.siblings(".open");

            //console.log("$this: ", $this);
            //console.log("slideDown: ", $(event.currentTarget));

            if (siblingsOpen) {
                slideUp(
                    $("> ul", siblingsOpen),
                    event
                );
            }

            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                hasElements
            ) {
                parent.addClass("open");
                next.addClass("visible");
            } else {
                next.slideDown({
                    duration: speed,
                    complete: function () {
                        parent.addClass("open");
                        $(this).removeAttr("style");
                    }
                });
            }
        }

        // Updated: 2019.01.02 @ 12:00:00
        /** AUTO close with user clicks or taps away from sidebar **/
        $(document.body).on(
            "mousedown touchstart",
            function (event) {
                if (
                    !$(event.target).closest(left_sidebar).length &&
                    !$(event.target).closest(sidebar_btn).length &&
                    body.hasClass(open_left_sidebar)
                ) {
                    body.removeClass(open_left_sidebar);
                }
            }
        );

        // Updated: 2019.01.03 @ 13:03:58
        /***************************/
        /** Bootstrap Breakpoints **/
        /***************************/
        (function (e) { e.isBreakpoint = function (t) { var o, i, a; switch (t) { case "xs": a = "d-none d-sm-block"; break; case "sm": a = "d-none d-md-block"; break; case "md": a = "d-none d-lg-block"; break; case "lg": a = "d-none d-xl-block"; break; case "xl": a = "d-none" }return i = (o = e("<div/>", { class: a }).appendTo("body")).is(":hidden"), o.remove(), i }, e.extend(e, { isXs: function () { return e.isBreakpoint("xs") }, isSm: function () { return e.isBreakpoint("sm") }, isMd: function () { return e.isBreakpoint("md") }, isLg: function () { return e.isBreakpoint("lg") }, isXl: function () { return e.isBreakpoint("xl") } }) })(jQuery);

        // Updated: 2019.01.12 @ 18:36:59
        /***************************/
        /** Underscore.js debounce function **/
        /***************************/
        function debounce(a, b, c) { var d, e, f, g, h; var l = function () { return new Date().getTime(); }; var i = function () { var j = l() - g; if (j < b && j >= 0) { d = setTimeout(i, b - j); } else { d = null; if (!c) { h = a.apply(f, e); if (!d) { f = e = null; } } } }; return function () { f = this; e = arguments; g = l(); var k = c && !d; if (!d) { d = setTimeout(i, b) }; if (k) { h = a.apply(f, e); f = e = null; } return h; }; };

    </script>
    <script>$(document).ready(function () {
            $("#searchdate").datepicker({
                format: 'yyyy-mm-dd',
                startDate:'-{{difference}}d',
                endDate: '+0d',
                autoclose: true,
                daysOfWeekDisabled: [0]
            })
            ; 

            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });</script>
        <script>
            // _today: function () {
            //     var myDate =document.querySelector(myDate);
            //     var today = new Date();
            //     myDate.value = today.toISOString().substr(0, 10);
            // }
            $(".selector").datepicker("setDate",new Date())
           
        </script>
        <form method="post" action="{% url 'listtask'%}" style="display:none">
            {% csrf_token %}
            <ul class="serchlist">
                <li> <input type="date" placeholder="yyyy-mm-dd" name="searchdate" id="myDate" value="{{ selectedDate }}"  onchange= "changedate(this.value)"></li>
                <li><button style="margin-left: 25px;" id="buttonid" class="button button1" >Search</button></li>
            </ul>
       
        </form>
        <script>
            function changedate(date){
                document.getElementById('myDate').value=date
                document.getElementById('buttonid').click()
            }
        </script>
        <script src="{% static 'js/cleardata.js' %}"></script>

        {% if not msg  %}
        {% if e == False  %}
        
        <script>   
            setTimeout(function(){
            alert("Your timesheet for the {{rd|safe}} has been rejected.");
            }, 300);
        </script>        
       
        {% endif %}        
        {% endif %}   


        
    <!-- <script>
        var close = document.getElementsByClassName("closebtn");
        var i;
        
        for (i = 0; i < close.length; i++) {
          close[i].onclick = function(){
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function(){ div.style.display = "none"; }, 600);
          }
        }
        </script> -->
</body>

</html>