<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>Cydez Technologies</title>
  <!-- <link rel="shortcut icon" type="image/png" href="../static/images/logo.jpeg"> -->
  <link rel="shortcut icon" type="image/jpeg" {% for i in logos %}  href="/media/{{i.add_logo}}" {% endfor %}>
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css">     -->
  <!-- <link href="{% static 'style.css' %}" rel="stylesheet"> -->

  <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'plugins/select2/css/select2.min.css'%}">
<link rel="stylesheet" href="{% static 'all-min.css'%}">
<link href="{% static 'style2.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<link href="{% static 'plugins/fontawesome/css/fontawesome.min.css'%}">
<link href="{% static 'plugins/fontawesome/css/all.min.css'%}">
<link href="{% static 'plugins/datatables/datatables.min.css'%}">
<link rel="stylesheet" href="https://kanakku.dreamguystech.com/html/template/assets/css/bootstrap-datetimepicker.min.css">
<link href="{% static 'bootstrap-datetimepicker.min.css'%}">
<script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
<style>
  .input-container {
  display: flex;
  /* margin-left: -30px;  */
  cursor: pointer;
}
</style>

</head>

<body>

  <div class="main-wrapper login-body">
    <div class="login-wrapper">
      <div class="container">
        <img class="img-fluid logo-dark mb-2" {% for i in logos %}  src="/media/{{i.add_logo}}" {% endfor %} >
        <div class="loginbox">
          <div class="login-right">
            <div class="login-right-wrap">
              <h1>Login</h1>
             
              <div class="container">
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {{ message }}
                  <!--<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>--->
                  </div>
                  {% endfor %}
              </div>
              
              <form method ="POST" action="{% url 'loginf' %}">
                {% csrf_token %}
                <div class="form-group">
                  <label class="form-control-label">Phone Number</label>
                  <input class="form-control" pattern="[0-9]{10}" type="text" name="phone" required>
                </div>
                <div class="form-group">
                  <label class="form-control-label">Password</label>
                  <div class="input-container">
                  <input class="form-control" type="password" name="password" id="password" required>
                  <i class="bi bi-eye-slash" style="margin-left: -30px;margin-top: 10px;" id="togglePassword" ></i>
                </div></div>
                <!-- <div class="form-group">
                  <div class="fxt-transformY-50 fxt-transition-delay-3">
                    <input type="text" class="form-control" placeholder="Phone number" name="phone" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="fxt-transformY-50 fxt-transition-delay-4">
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                  </div> -->
                  <div class="checkbox">
                    <label for="checkbox">
                      <input type="checkbox" name="checkbox" value="remember-me" /> Remember Me
                    </label><p style="color: white; display: inline;">----------------------------</p>
                    <div style="display:inline" class="text-right dont-have">  <a href="{% url 'forgotpassword' %}">Forgot password</a>
                  </div>
                  </div>
                <br>
                <div class="form-group mb-0">
                  <button class="btn btn-lg btn-block btn-primary w-100" value="Login" type="submit">Login</button>
                </div>
              </form>
              <br>
              

              <!-- <div class="login-or">
                <span class="or-line"></span>
                <span class="span-or">or</span>
              </div> -->

        

              <!-- <div class="text-center dont-have">Login as  <a href="{% url 'loginf' %}">Admin</a></div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>









  <!-- <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form action="{% url 'loginf' %}" method="post" class="sign-in-form">
          {% csrf_token %}
          <h4 style="color: red;font-weight: bold;">{{messege}}</h4>

          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="name" placeholder="Username" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="psw" placeholder="Password" />
          </div>
          <input type="submit" value="Login" class="btn solid" />
          <p class="social-text">Or Sign in with social platforms</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </form>

      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <img src="../static/images/logo.jpeg" class="image" alt="" style="border-radius:80%; width:40%;" />
          <h3>Cydez Technologies</h3>

          <p>
            Creating Online Environment
          </p>
          <button class="btn transparent" id="sign-up-btn">
            Sign up
          </button>
        </div>

      </div>

    </div>
  </div> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/feather.min.js' %}"></script>
  <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="https://kit.fontawesome.com/64d58efce2.js"></script>
  <!-- password eye button -->
  <script>
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#password");

    togglePassword.addEventListener("click", function () {
        // toggle the type attribute
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        
        // toggle the icon
        this.classList.toggle("bi-eye");
    });


</script>


  <script>
   
    $(document).ready(function () {
     
      function disableBack() {window.history.forward()}

      window.onload = disableBack();
      window.onpageshow = function (evt) {if (evt.persisted) disableBack()}
      window.history.pushState(null, "", window.location.href);        
      window.onpopstate = function() {
          window.history.pushState(null, "", window.location.href);
      };
    // Select/Deselect checkboxes
    var checkbox = $('table tbody input[type="checkbox"]');
    $("#selectAll").click(function () {
        if (this.checked) {
            checkbox.each(function () {
                this.checked = true;
            });
        } else {
            checkbox.each(function () {
                this.checked = false;
            });
        }
    });
    checkbox.click(function () {
        if (!this.checked) {
            $("#selectAll").prop("checked", false);
        }
    });
});</script>
<script src="{% static 'js/cleardata.js' %}"></script>
</body>
{% if msg %}
<script >
	document.getElementById('login').click()
</script>
{% endif %}
</html>