{% if messages %}
{% for message in messages %}

 {% if message.tags == 'alert-danger' %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="float:right">
      <span aria-hidden="true">×</span>
    </button>
    {{ message }}
  </div>
</div>
{% comment %} {% else %}
<script>window.onload = function(){alert("{{ message }}")}</script> {% endcomment %}
{% endif %} 

{% endfor %}
{% endif %}