{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Cydez Technologies</title>
    <!-- <link rel="shortcut icon" type="image/jpeg" href="../static/images/logo.jpeg"> -->
    <link rel="shortcut icon" type="image/jpeg" {% for i in logos %}  href="/media/{{i.add_logo}}" {% endfor %}>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'plugins/select2/css/select2.min.css'%}">
    <link rel="stylesheet" href="{% static 'all-min.css'%}">
    <link href="{% static 'style2.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/fontawesome/css/fontawesome.min.css'%}">
    <link href="{% static 'plugins/fontawesome/css/all.min.css'%}">
    <link href="{% static 'plugins/datatables/datatables.min.css'%}">
    <link rel="stylesheet" href="https://kanakku.dreamguystech.com/html/template/assets/css/bootstrap-datetimepicker.min.css">
    <link href="{% static 'bootstrap-datetimepicker.min.css'%}">
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <style>
        .required:after {
        content:" *";
        color: red;
        }
    
        </style> 
<style>
    
/* --------------- styles for tabs -----------------------*/

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}



.example-tabs-tabs__list {
  margin-left: 0;
  padding: 0;
}
.example-tabs-tabs__item {
  display: inline-block;
}

.example-tabs-tabs__link {
  display: inline-block;
  padding: 1em  2em;
  cursor: pointer;
  color: #148297;
}

[aria-selected="true"].example-tabs-tabs__link {
  color: rgba(9, 13, 250, 0.952);
  text-decoration: underline;
}

.example-tabs-tabs__content {
  padding: 1em;
}

[aria-hidden="true"].example-tabs-tabs__content {
  display: none;
}

#page {
  width: 960px;
  margin: 0 auto;
}
.payt{
    margin-top: 80px;
    margin-left:0px ;
}
a:hover {
    color: #fff;
    text-decoration: none;
}

.previous{
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    background-color: #7638ff;
    border-radius:50px;
}

  
</style>
</head>

<body>




    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <!-- <a href="" class="logo">
                    <img src="../static/images/logo_4.png" alt="Logo">
                </a>
                <a href="" class="logo logo-small">
                    <img src="../static/images/logo_4.png" alt="Logo" width="30" height="30">
                </a> -->
            </div>


            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-bars"></i>
            </a>




            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav nav-tabs user-menu">



                <li class="nav-item dropdown has-arrow main-drop">
                    <a id="pay_dd" href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="assets/img/profiles/avatar-01.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                        <span>{{user.email}}</span>
                    </a>
                    <div class="dropdown-menu">
                        <a id="pay_lout" class="dropdown-item" href="{% url 'userlogout' %}" onclick="return clearAll();"><i data-feather="log-out" class="me-1"></i>
                            Logout</a>
                    </div>
                </li>

            </ul>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li>
                            <a href="{% url 'dashboard' %}"><i data-feather="home"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="{% url 'Totalbilling' %}"><i data-feather="file-text"></i> <span>Billing</span></a>
                        </li>
                        <li >
                            <a href="{% url 'task' %}"><i data-feather="file-plus"></i> <span>Task</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listUser' %}"><i data-feather="users"></i> <span>Users</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listclient' %}"><i data-feather="clipboard"></i> <span>Projects</span></a>
                        </li>
                        <li   class="active">
                            <a href="{% url 'listProject' %}"><i data-feather="credit-card"></i> <span>Estimation</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listEngagements' %}"><i style='font-size:18px' class='far'>&#xf1ad;</i>  <span>Accounts</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listconsultant' %}"><i style='font-size:18px' class='fas'>&#xf508;</i><span>Account Manager</span> </a>
                        </li>
                        <li>
                            <a href="{% url 'pending' %}"><i data-feather="file"></i> <span>Missing Timesheet</span> </a>
                        </li>
                        <li>
                            <a href="{% url 'list_knowledge' %}"><i data-feather="book-open"></i> <span>Knowledge Center</span> </a>
                        </li>
                        <li class="nav-item has-submenu">
                            <a class="nav-link" href="#"> <i data-feather="settings"> </i> <span> Settings</span>   </a></i>
                            <ul class="submenu collapse">
                                <li><a class="nav-link" href="{% url 'setting' %}">Departments </a></li>
                                <li><a class="nav-link" href="{% url 'list_Designations' %}">Designation</a></li>
                                <li><a class="nav-link" href="{% url 'add_logo' %}">Logo</a></li>
                                <li><a class="nav-link" href="{% url 'listec' %}">Email Configuration</a></li>
                               <!-- <li><a class="nav-link" href="#">Submenu item 3 </a> </li>-->
                            </ul>
                        </li>
                        
                        <!-- <li>
                            <a href="{% url 'estimation_admin' %}"><i data-feather="settings"></i> <span>Generate Estimate</span></a>
                        </li> -->
                     
                        
                        
                    </ul>
                </div>
            </div>
        </div>


        <div class="page-wrapper">
            <div class="content container-fluid">
                <div  class="card filter-card">
                   
                </div>
        <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div  style="margin-top:-30px" class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <!--<a  href="{% url 'listProject' %}" class="btn btn-primary" style="font: size 20px;;"><i class="bi bi-arrow-left-square" style="color:white;">&#129072;</i></a>-->
                                        <a id="pay_back" href="{% url 'listProject' %}" class="previous" ><span class="bi-arrow-left-circle">&larr; </span></a>
                                        <h5 class="card-title" style="display:inline; margin:25px;" >&nbsp; &nbsp; &nbsp; Payment History</h5>
                                        <div  style="margin-top:-29px;"class="card-body pb-0">
                                            <div  class="row">
                                                <!--<form method="post" action="{% url 'listProject' %}">
                                                    {% csrf_token %}
                                                <div  class="search-container ">
                                                    <div class="input-group input-group-sm mx-auto">
                                                        <input style="margin-top:-10px;margin-left:600px;" class="form-control search-input" type="text" name="search"
                                                            placeholder="Search Project " value="{{s}}">
                                                        <button style="margin-top:-10px;height:40px" class="btn btn-lg btn-block btn-primary" required>Search</button>
                                                    </div>
                                                </form>
                                                    </div>-->
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                         <a id="pay_plus"  class="btn btn-primary"  href="#addEmployeeModal" data-toggle="modal">
                                            <i class="fas fa-plus"></i>
                                        </a> 
                                        <!-- <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                                            <i class="fas fa-filter"></i>
                                        </a> -->
                                    </div>
                                </div>
                            </div>




                <div class="col-md-12">
                    <div class="card bg-white">
                        
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded nav-justified">
                                <!--<a  href="{% url 'listProject' %}" class="previous" ><span class="bi-arrow-left-circle">&larr; </span></a><pre>        </pre>-->
                                <!-- <li class="nav-item"><a class="nav-link active" id="pay_history" href="#solid-rounded-justified-tab1" data-bs-toggle="tab">Payment History</a></li>
                                <li class="nav-item"><a class="nav-link" id="pay_bill" href="#solid-rounded-justified-tab2" data-bs-toggle="tab">Billing History</a></li> -->
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane show active" id="solid-rounded-justified-tab1">
                                    <div class="mb-3">
                                        <div class="progress progress-md rounded-pill mb-3">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 47%"
                                                aria-valuenow="47" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 28%"
                                                aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 15%"
                                                aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 10%"
                                                aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                       
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-stripped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Project Name</th>
                                                    <th>Date</th>
                                                    <th>Details</th>
                                                    <th>Amount Recieved</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in datas %}
                                                <tr>
                                                    <td>{{i.name.clientName}}</td>
                                                    <td>{{i.date}}</td>
                                                    <td>{{i.details}}</td>
                                                    <td>{{i.amountrecieved}}</td>
                                                    <td>
                                                        <a href="#editEmployeeModal" title="Edit" class="edit" data-toggle="modal" 
                                                        onclick="editUserDetails(
                                                            
                                                            date = '{{ i.date }}',
                                                            details= '{{ i.details }}',
                                                            amountrecieved= '{{ i.amountrecieved }}',
                                                            userId = '{{ i.id }}',
                                                            
                                                           );"
                                                        ><i
                                                                class="fa fa-edit" data-toggle="tooltip" style='color:#8773b3'></i></a>
                                                    <a href="{% url 'deletePayment' i.id %}" class="delete" title="Delete" >&nbsp; &nbsp; <i
                                                    class="fa fa-trash" data-toggle="tooltip" style='color:#8773b3' ></i></a>
                                                </tr>
                                                {% endfor %}
                                               

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="container" >                
                                    {% for message in messages %}
                                     <div style="text-align: center;" ><br>
                                        {{ message }}
                                      </div>
                                    {% endfor %}
                                </div>
                                    <div class="paginator" style="width:100%;display: flex;justify-content: space-between;align-items: center;">
                                        <div style="float:left; margin-top: 20px;">
                                            Showing {{ datas.start_index}} to {{ datas.end_index }} of {{ datas.paginator.count }} entries
                                        </div>
                                        <div style="float:right;"><br>
                                          <nav aria-label="Page navigation example">
                                  
                                            
                                              <ul class="pagination">
                                                {% if datas.has_previous %}
                                                <li class="page-item">
                                                  <a class="page-link" href="?page={{ datas.previous_page_number }}">&laquo; Previous</a>
                                                </li>
                                                {% else %}
                                                <li class="page-item disabled">
                                                  <a class="page-link">&laquo; Previous</a>
                                                </li>
                                                {% endif %}
                                                {% for i in datas.paginator.page_range %} 
                                                <!-- {# {% if datas.number == i %} #} -->
                                                {% if i <= datas.number|add:5 and i >= datas.number|add:-5 %}
                                  
                                                {% if datas.number == i %}
                                                <li class="page-item active">
                                                  <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                                                </li>
                                                {% else %}
                                                <li class="page-item">
                                                  <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                                                </li>
                                                {% endif %}
                                  
                                                {% endif %}
                                                {% endfor %} 
                                  
                                                {% if datas.has_next %}
                                  
                                                <li class="page-item">
                                                  <a class="page-link" href="?page={{ datas.next_page_number }}">&raquo; Next</a>
                                                </li>
                                                {% else %}
                                                <li class="page-item disabled">
                                                  <a class="page-link">Next &raquo;</a>
                                                </li>
                                                {% endif %}
                                              </ul>
                                            
                                  
                                          </nav>
                                        </div>
                                      </div>
                                </div>
                                <div class="tab-pane" id="solid-rounded-justified-tab2">
                               
                                    <div class="mb-3">
                                        <div class="progress progress-md rounded-pill mb-3">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 47%"
                                                aria-valuenow="47" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 28%"
                                                aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 15%"
                                                aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 10%"
                                                aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                       
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-stripped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Client Name</th>
                                                    <th>Date</th>
                                                    <th> Billing Details</th>
                                                    <th>Amount Billed</th>
                                                    </tr>
                                            </thead>
                                            <tbody>
                                               <tr>
                                                   <td>MONEY M3</td>
                                                   <td>11-01-2020</td>
                                                   <td>Billing Details and Info</td>
                                                   <td>50000 Rs</td>
                                                   <td><a href="" class="edit" ><i class="fa fa-edit" style='color:#8773b3'  data-toggle="tooltip" title="Edit"></i></a>
                                                    <a href="" class="delete" > &nbsp; &nbsp; <i class="fa fa-trash" style='color:#8773b3' data-toggle="tooltip" title="Delete"></i></a></td>   
                                               </tr>
                                               <tr>
                                                <td>MONEY M3</td>
                                                <td>11-01-2020</td>
                                                <td>Billing Details and Info</td>
                                                <td>50000 Rs</td>
                                                <td><a href="" class="edit" ><i class="fa fa-edit" style='color:#8773b3'  data-toggle="tooltip" title="Edit"></i></a>
                                                <a href="" class="delete" > &nbsp; &nbsp; <i class="fa fa-trash" style='color:#8773b3' data-toggle="tooltip" title="Delete"></i></a></td>   
                                            </tr>
                                            <tr>
                                                <td>MONEY M3</td>
                                                <td>11-01-2020</td>
                                                <td>Billing Details and Info</td>
                                                <td>50000 Rs</td>
                                                <td><a href="" class="edit" ><i class="fa fa-edit" style='color:#8773b3'  data-toggle="tooltip" title="Edit"></i></a>
                                                <a href="" class="delete" > &nbsp; &nbsp; <i class="fa fa-trash" style='color:#8773b3' data-toggle="tooltip" title="Delete"></i></a></td>   
                                            </tr>
                                            <tr>
                                                <td>MONEY M3</td>
                                                <td>11-01-2020</td>
                                                <td>Billing Details and Info</td>
                                                <td>50000 Rs</td>
                                                <td><a href="" class="edit" ><i class="fa fa-edit" style='color:#8773b3'  data-toggle="tooltip" title="Edit"></i></a>
                                                <a href="" class="delete" > &nbsp; &nbsp; <i class="fa fa-trash" style='color:#8773b3' data-toggle="tooltip" title="Delete"></i></a></td>   
                                            </tr>
                                              
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="paginator" style="width:100%;display: flex;justify-content: space-between;align-items: center;">
                                        <div style="float:left; margin-top: 20px;">
                                          Page {{ datas.start_index}} to {{ datas.end_index }} of {{ datas.paginator.count }}
                                        </div>
                                        <div style="float:right;"><br>
                                          <nav aria-label="Page navigation example">
                                  
                                            
                                              <ul class="pagination">
                                                {% if datas.has_previous %}
                                                <li class="page-item">
                                                  <a class="page-link" href="?page={{ datas.previous_page_number }}">&laquo; Previous</a>
                                                </li>
                                                {% else %}
                                                <li class="page-item disabled">
                                                  <a class="page-link">&laquo; Previous</a>
                                                </li>
                                                {% endif %}
                                                {% for i in datas.paginator.page_range %} 
                                                <!-- {# {% if datas.number == i %} #} -->
                                                {% if i <= datas.number|add:5 and i >= datas.number|add:-5 %}
                                  
                                                {% if datas.number == i %}
                                                <li class="page-item active">
                                                  <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                                                </li>
                                                {% else %}
                                                <li class="page-item">
                                                  <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                                                </li>
                                                {% endif %}
                                  
                                                {% endif %}
                                                {% endfor %} 
                                  
                                                {% if datas.has_next %}
                                  
                                                <li class="page-item">
                                                  <a class="page-link" href="?page={{ datas.next_page_number }}">&raquo; Next</a>
                                                </li>
                                                {% else %}
                                                <li class="page-item disabled">
                                                  <a class="page-link">Next &raquo;</a>
                                                </li>
                                                {% endif %}
                                              </ul>
                                            
                                  
                                          </nav>
                                        </div>
                                      </div>
                               
                                </div>

                                <!--<a style="color: white;" href="#addEmployeeModal" data-toggle="modal"><button  class="btn btn-primary">Add</button> </a> -->
                           
                            </div>
                        </div>
                    </div>
                </div>



                
                
               
                </div>
                </div>
              
            </div>





            <div id="addEmployeeModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="post" action="{% url 'addPayment' %}" >
                            {% csrf_token %}
                            <div class="modal-header">
                                <h4 class="modal-title">Add Payment Details</h4>
                                <button type="button" class="close"  data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label  class="required">Project Name</label>
                                    <input type="text" value="{{client.clientName}}" id="pay_proname" placeholder="Project Name" name="clientName" class="form-control" readonly>
                                </div>
                                <input type="hidden" value="{{client.id}}" name="clientid">
                                <div class="form-group">
                                    <label  class="required">Date</label>
                                    <input data-behavior="flatpickr" name="date" id="date_Id" placeholder="Date"  class="form-control flatpickr-input" type="hidden" required="required" />
                                    <!-- <input class="form-control" id="search" name="start_date" type="date"value={{startdate}}  > -->
                                </div>
                                <div class="form-group">
                                    <label  class="required">Details</label>
                                    <input type="text" name="details" id="pay_details"  placeholder="Details"class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label  class="required">Amount Recieved</label>
                                    <input type="tel" min="1000" id="pay_amntrcvd" placeholder="Amount Recieved" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" name="amountrecieved" class="form-control" required>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" id="pay_add" class="btn btn-primary"  > Add </button>
                                    <button type="button " id="reset" class="btn btn-default btn btn-primary " onclick="confirmation()" data-dismiss="modal" > Cancel </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Edit modal -->
            <div id="editEmployeeModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="post" action="{% url 'editPayment' %}">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h4 class="modal-title">Edit Payment Details</h4>
                                <button type="button" class="close"  data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label  class="required">Project Name</label>
                                    <input type="text" value="{{client.clientName}}" id="pay_editname"  name="clientName" class="form-control" readonly>
                                    <!-- <label>Client Name</label>
                                    <input type="text" name="clientName" id="nameId" class="form-control" required> -->
                                </div>
                                <input type="hidden" value="{{client.id}}" name="clientid">
                                <div class="form-group">
                                    <label  class="required">Date</label>
                                    <input data-behavior="flatpickr" name="date"  id="dateId" value="{{date|date:'Y-m-d'}}" class="form-control flatpickr-input" type="hidden" required="required" />
                                </div>
                                <div class="form-group">
                                    <label  class="required">Details</label>
                                    <input type="text" name="details"id="detailsId" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label  class="required">Amount Recieved </label>
                                    <input type="tel" min="1000" name="amountrecieved"id="amountrecievedId" class="form-control" required>
                                </div>
                                <input type="hidden" name="user_id" id="userId">
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="pay_save" class="btn btn-primary" > Save </button>
                                <button type="button " class="btn btn-default btn btn-primary "  id="reset" onclick="confirmation()" data-dismiss="modal" > Cancel </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Delete Modal HTML -->
            <div id="deleteEmployeeModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form >
                            <div class="modal-header">
                                <h4 class="modal-title">Delete Employee</h4>
                                <button type="button" id="deleta_emp" class="close"  data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete these records?</p>
                                <p class="text-warning"><small>This action cannot be undone.</small></p>
                            </div>
                            <div class="modal-footer">
                                <form >
                                <input type="button" id="dlt_paybtn" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                <input type="submit" id="dlt_pay" class="btn btn-danger" value="Delete">
                                </form>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="{% static 'js/popper.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
            <script src="{% static 'js/feather.min.js' %}"></script>
            <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
            <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
            <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
            <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
            <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
            <script src="{% static 'js/script.js' %}"></script>


    <script>
       function editUserDetails(date, details, amountrecieved){
            document.getElementById('dateId').value = date;
            document.getElementById('detailsId').value = details;
            document.getElementById('amountrecievedId').value = amountrecieved;
            document.getElementById('userId').value = userId;
        
        }
    console.clear(); // Clear all CodePen's errors and warnings
        /*
        
        Requires:
        
        • jQuery | Boottrap v4.1+
        
        Overlay Scrollbars:
        https://kingsora.github.io/OverlayScrollbars/#!overview
        
        
        TODO:
        
        • fix left-sidebar srolling when overflowing. Avoid default scrollbar style.
        • Dim screen when opening sidebar?
        • Add extra brand logo and menu icon on open?
        • Add footer to left sidebar.
        • Support a right sidebar?
        • Sidebar animation, history/navigation fix.
        • Use hardware acceleration for animated sidebar?
        • Partial icon view for sidebar collapse?
        
        */

        var body = $(document.body),
            open_left_sidebar = "open-left-sidebar",
            sidebar_btn = $("#sidebar_btn"),
            left_sidebar = $("#left_sidebar"),
            anchors = $(".sidebar-elements li a", left_sidebar),
            wrapper = $(".be-wrapper"),
            menu_speed = 200;

        // Only for debugging (stop page navigating away)
    //     $(
    //         ".be-wrapper > .navbar a, \
    //    .be-wrapper > .be-left-sidebar a"
    //     ).attr("href", "#" + Math.random());

        // Updated: 2018.12
        // By default both '.be-animate' and '.be-offcanvas-menu'
        // should be placed in the body tag.
        // Using '.open-left-sidebar' to open the sidebar.
        // $(document.body)
        //     .addClass("be-animate be-offcanvas-menu open-left-sidebar");

        // Updated: 2019.03.11 @ 17:49:23
        // Only for debugging (extending menus and testing scrollbar)
        $("#debug_only_menuopen")
            .addClass("open")
            .find(".sub-menu > .parent")
            .addClass("open");



        // Updated: 2019.14.03 @ 18:09:27
        /* Scrollbar Support (Change with what ever scollbar plugin you need) */
        var scrollbar = OverlayScrollbars(
            $(".left-sidebar-scroll")[0],
            {
                scrollbars: {
                    autoHide: "leave",
                    autoHideDelay: 100
                }
            }
        );

        // Updated: 2019.01.12 @ 18:39:59
        function toggle_sidebar() {
            body.toggleClass(open_left_sidebar);
        }

        sidebar_btn.on(
            "click",
            debounce(toggle_sidebar, 200, true)
        );

        // Updated: 2020.01.08 @ 19:42:34
        /* Operate submenus */
        anchors.on("click", function (event) {
            var $el = $(this),
                $li = $el.parent(),
                $subMenu = $el.next(),
                $open = $li.siblings(".open");

            //console.log($subMenu);
            //$el.parents().eq(1).hasClass("sidebar-elements");

            if ($li.hasClass("open")) {
                slideUp($subMenu, event);
            } else {
                slideDown($el, event);
            }

            if ($el.next().is("ul")) {
                event.stopPropagation();
                event.preventDefault();
            }
        });

        function isCollapsibleSidebarCollapsed() {
            return wrapper.hasClass("be-collapsible-sidebar-collapsed");
        }

        function slideUp($subMenu, event) {
            var target = $(event.currentTarget),
                parent = $($subMenu).parent(),
                item = $("li.open", parent),
                isRoot = !target.closest(left_sidebar).length,
                speed = menu_speed,
                hasElements = target.parents()
                    .eq(1)
                    .hasClass("sidebar-elements");

            //console.log(event);


            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                (hasElements || isRoot)
            ) {
                parent.removeClass("open");
                $subMenu.removeClass("visible");
                item.removeClass("open").removeAttr("style");
            } else {
                $subMenu.slideUp({
                    duration: speed,
                    complete: function () {
                        parent.removeClass("open");
                        $(this).removeAttr("style");
                        item.removeClass("open").removeAttr("style");
                    }
                });
            }
        }

        function slideDown($this, event) {
            var $el = $($this),
                parent = $el.parent(),
                next = $($el).next(),
                speed = menu_speed,
                hasElements = $(event.currentTarget)
                    .parents()
                    .eq(1)
                    .hasClass("sidebar-elements"),
                siblingsOpen = parent.siblings(".open");

            //console.log("$this: ", $this);
            //console.log("slideDown: ", $(event.currentTarget));

            if (siblingsOpen) {
                slideUp(
                    $("> ul", siblingsOpen),
                    event
                );
            }

            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                hasElements
            ) {
                parent.addClass("open");
                next.addClass("visible");
            } else {
                next.slideDown({
                    duration: speed,
                    complete: function () {
                        parent.addClass("open");
                        $(this).removeAttr("style");
                    }
                });
            }
        }

        // Updated: 2019.01.02 @ 12:00:00
        /* AUTO close with user clicks or taps away from sidebar */
        $(document.body).on(
            "mousedown touchstart",
            function (event) {
                if (
                    !$(event.target).closest(left_sidebar).length &&
                    !$(event.target).closest(sidebar_btn).length &&
                    body.hasClass(open_left_sidebar)
                ) {
                    body.removeClass(open_left_sidebar);
                }
            }
        );

        // Updated: 2019.01.03 @ 13:03:58
        /*********/
        /* Bootstrap Breakpoints */
        /*********/
        (function (e) { e.isBreakpoint = function (t) { var o, i, a; switch (t) { case "xs": a = "d-none d-sm-block"; break; case "sm": a = "d-none d-md-block"; break; case "md": a = "d-none d-lg-block"; break; case "lg": a = "d-none d-xl-block"; break; case "xl": a = "d-none" }return i = (o = e("<div/>", { class: a }).appendTo("body")).is(":hidden"), o.remove(), i }, e.extend(e, { isXs: function () { return e.isBreakpoint("xs") }, isSm: function () { return e.isBreakpoint("sm") }, isMd: function () { return e.isBreakpoint("md") }, isLg: function () { return e.isBreakpoint("lg") }, isXl: function () { return e.isBreakpoint("xl") } }) })(jQuery);

        // Updated: 2019.01.12 @ 18:36:59
        /*********/
        /* Underscore.js debounce function */
        /*********/
        function debounce(a, b, c) { var d, e, f, g, h; var l = function () { return new Date().getTime(); }; var i = function () { var j = l() - g; if (j < b && j >= 0) { d = setTimeout(i, b - j); } else { d = null; if (!c) { h = a.apply(f, e); if (!d) { f = e = null; } } } }; return function () { f = this; e = arguments; g = l(); var k = c && !d; if (!d) { d = setTimeout(i, b) }; if (k) { h = a.apply(f, e); f = e = null; } return h; }; };

    </script>
    <script>
    jQuery(document).ready(function($) {

/*
 * jQuery Accessible tab panel system, using ARIA - for nested tabs
 * @version v1.6.1        
 * Website: https://a11y.nicolas-hoffmann.net/tabs/
 * License MIT: https://github.com/nico3333fr/jquery-accessible-tabs-aria/blob/master/LICENSE
 */
// Store current URL hash.
var hash = window.location.hash.replace("#", "");

/* Tabs ------------------------------------------------------------------------------------------------------------ */
var $tabs = $(".js-tabs"),
    $body = $("body");

if ($tabs.length) {

    var $tab_list = $tabs.find(".js-tablist");
    $tab_list.each(function() {
        var $this_tab_list = $(this),
            options = $this_tab_list.data(),
            $tabs_prefix_classes = typeof options.tabsPrefixClass !== 'undefined' ? options.tabsPrefixClass + '-' : '',
            $hx = typeof options.hx !== 'undefined' ? options.hx : '',
            $existing_hx = typeof options.existingHx !== 'undefined' ? options.existingHx : '',
            $this_tab_list_items = $this_tab_list.children(".js-tablist__item"),
            $this_tab_list_links = $this_tab_list.find(".js-tablist__link");

        // roles init
        $this_tab_list.attr("role", "tablist"); // ul        
        $this_tab_list_items.attr("role", "presentation"); // li
        $this_tab_list_links.attr("role", "tab"); // a

        // classes init
        $this_tab_list.addClass($tabs_prefix_classes + 'tabs__list');
        $this_tab_list_items.addClass($tabs_prefix_classes + 'tabs__item');
        $this_tab_list_links.addClass($tabs_prefix_classes + 'tabs__link');

        // controls/tabindex attributes
        $this_tab_list_links.each(function() {
            var $this = $(this),
                $hx_generated_class = typeof options.tabsGeneratedHxClass !== 'undefined' ? options.tabsGeneratedHxClass : 'invisible',
                $href = $this.attr("href"),
                $controls = $($href),
                $text = $this.text();

            if ($hx !== "") {
                $controls.prepend('<' + $hx + ' class="' + $hx_generated_class + '" tabindex="0">' + $text + '</' + $hx + '>');
            }
            if ($existing_hx !== "") {
                $controls.find($existing_hx + ':first-child').attr('tabindex', 0);
            }
            if (typeof $href !== "undefined" && $href !== "" && $href !== "#") {
                $this.attr({
                    "aria-controls": $href.replace("#", ""),
                    "tabindex": -1,
                    "aria-selected": "false"
                });
            }

            $this.removeAttr("href");

        });
    });

    /* Tabs content ---------------------------------------------------------------------------------------------------- */
    $(".js-tabcontent").attr({
            "role": "tabpanel", // contents
            "aria-hidden": "true" // all hidden
            //"tabindex": 0
        })
        .each(function() {
            var $this = $(this),
                $this_id = $this.attr("id"),
                $prefix_attribute = $("#label_" + $this_id).closest('.js-tablist').attr('data-tabs-prefix-class'),
                $tabs_prefix_classes = typeof $prefix_attribute !== 'undefined' ? $prefix_attribute + '-' : '';
            // label by link
            $this.attr("aria-labelledby", "label_" + $this_id);

            $this.addClass($tabs_prefix_classes + 'tabs__content');
        });

    // search if hash is ON not disabled tab
    if (hash !== "" && $("#" + hash + ".js-tabcontent").length !== 0) {
        if ($("#label_" + hash + ".js-tablist__link:not([aria-disabled='true'])").length) {
            // display not disabled
            $("#" + hash + ".js-tabcontent").removeAttr("aria-hidden");
            // selection menu
            $("#label_" + hash + ".js-tablist__link").attr({
                "aria-selected": "true",
                "tabindex": 0
            });
        }

    }
    // search if hash is IN not disabled tab
    if (hash !== "" && $("#" + hash).parents('.js-tabcontent').length) {
        var $this_hash = $("#" + hash),
            $tab_content_parent = $this_hash.parents('.js-tabcontent'),
            $tab_content_parent_id = $tab_content_parent.attr('id');

        if ($("#label_" + $tab_content_parent_id + ".js-tablist__link:not([aria-disabled='true'])").length) {
            $tab_content_parent.removeAttr("aria-hidden");
            // selection menu
            $("#label_" + $tab_content_parent_id + ".js-tablist__link").attr({
                "aria-selected": "true",
                "tabindex": 0
            });
        }
    }

    // search if data-selected="1" is on a not disabled tab for each tab system
    $tabs.each(function() {
        var $this = $(this),
            $tab_selected = $this.find('.js-tablist__link[aria-selected="true"]'),
            $tab_data_selected = $this.find('.js-tablist__link[data-selected="1"]:not([aria-disabled="true"]):first'),
            $tab_data_selected_content = $('#' + $tab_data_selected.attr('aria-controls'));

        if ($tab_selected.length === 0 && $tab_data_selected.length !== 0) {
            $tab_data_selected.attr({
                "aria-selected": "true",
                "tabindex": 0
            });
            $tab_data_selected_content.removeAttr("aria-hidden");
        }
    });

    // if no selected => select first not disabled
    $tabs.each(function() {
        var $this = $(this),
            $tab_selected = $this.find('.js-tablist__link[aria-selected="true"]'),
            $first_link = $this.find('.js-tablist__link:not([aria-disabled="true"]):first'),
            $first_content = $('#' + $first_link.attr('aria-controls'));

        if ($tab_selected.length === 0) {
            $first_link.attr({
                "aria-selected": "true",
                "tabindex": 0
            });
            $first_content.removeAttr("aria-hidden");
        }
    });

    /* Events ---------------------------------------------------------------------------------------------------------- */
    /* click on a tab link */
    $body.on("click", ".js-tablist__link[aria-disabled='true']", function() {
        return false;
    });
    $body.on("click", ".js-tablist__link:not([aria-disabled='true'])", function(event) {
            var $this = $(this),
                $hash_to_update = $this.attr("aria-controls"),
                $tab_content_linked = $("#" + $this.attr("aria-controls")),
                $parent = $this.closest(".js-tabs"),
                options = $parent.data(),
                tabs_disable_fragments = typeof options.tabsDisableFragment !== 'undefined' ? true : false,
                $all_tab_links = $parent.find("> .js-tablist > .js-tablist_item > .js-tablist_link"),
                $all_tab_contents = $parent.find("> .js-tabcontent");

            // aria selected false on all links
            $all_tab_links.attr({
                "tabindex": -1,
                "aria-selected": "false"
            });

            // add aria selected on $this
            $this.attr({
                "aria-selected": "true",
                "tabindex": 0
            });

            // add aria-hidden on all tabs contents
            $all_tab_contents.attr("aria-hidden", "true");

            // remove aria-hidden on tab linked
            $tab_content_linked.removeAttr("aria-hidden");

            // add fragment (timeout for transitions)
            if (tabs_disable_fragments === false) {
                setTimeout(function() {
                    history.pushState(null, null, location.pathname + location.search + '#' + $hash_to_update)
                }, 1000);
            }

            event.preventDefault();
        })
        /* Key down in tabs */
        .on("keydown", ".js-tablist", function(event) {

            var $parent = $(this).closest('.js-tabs'),
                $activated = $parent.find('> .js-tablist > .js-tablist_item > .js-tablist_link[aria-selected="true"]').parent(),
                $last_link = $parent.find('> .js-tablist > .js-tablist_item:last-child > .js-tablist_link'),
                $first_link = $parent.find('> .js-tablist > .js-tablist_item:first-child > .js-tablist_link'),
                $focus_on_tab_only = false,
                $prev = $activated,
                $next = $activated;

            // search valid previous 
            do {
                // if we are on first => activate last
                if ($prev.is(".js-tablist__item:first-child")) {
                    $prev = $last_link.parent();
                }
                // else previous
                else {
                    $prev = $prev.prev();
                }
            }
            while ($prev.children('.js-tablist__link').attr('aria-disabled') === 'true' && $prev !== $activated);

            // search valid next
            do {
                // if we are on last => activate first
                if ($next.is(".js-tablist__item:last-child")) {
                    $next = $first_link.parent();
                }
                // else previous
                else {
                    $next = $next.next();
                }
            }
            while ($next.children('.js-tablist__link').attr('aria-disabled') === 'true' && $next !== $activated);

            // some event should be activated only if the focus is on tabs (not on tabpanel)
            if ($(document.activeElement).is($parent.find('.js-tablist__link'))) {
                $focus_on_tab_only = true;
            }

            // catch keyboard event only if focus is on tab
            if ($focus_on_tab_only && !event.ctrlKey) {
                // strike up or left in the tab
                if (event.keyCode == 37 || event.keyCode == 38) {

                    $prev.children(".js-tablist__link").click().focus();

                    event.preventDefault();
                }
                // strike down or right in the tab
                else if (event.keyCode == 40 || event.keyCode == 39) {

                    $next.children(".js-tablist__link").click().focus();

                    event.preventDefault();
                } else if (event.keyCode == 36) {
                    // activate first tab
                    $first_link.click().focus();
                    event.preventDefault();
                } else if (event.keyCode == 35) {
                    // activate last tab
                    $last_link.click().focus();
                    event.preventDefault();
                }

            }

        })
        .on("keydown", ".js-tabcontent", function(event) {

            var $this = $(this),
                $selector_tab_to_focus = $this.attr('aria-labelledby'),
                $tab_to_focus = $("#" + $selector_tab_to_focus),
                $parent_item = $tab_to_focus.parent(),
                $parent_list = $parent_item.parent(),
                $first_item = $parent_list.find('.js-tablist__item:first-child'),
                $last_item = $parent_list.find('.js-tablist__item:last-child'),
                $prev_item = $parent_item,
                $next_item = $parent_item;

            // CTRL up/Left
            if ((event.keyCode == 37 || event.keyCode == 38) && event.ctrlKey) {
                $tab_to_focus.focus();
                event.preventDefault();
            }
            // CTRL PageUp
            if (event.keyCode == 33 && event.ctrlKey) {
                //$tab_to_focus.focus();

                // search valid previous 
                do {
                    // if we are on first => last
                    if ($prev_item.is(".js-tablist__item:first-child")) {
                        $prev_item = $last_item;
                    }
                    // else previous
                    else {
                        $prev_item = $prev_item.prev();
                    }
                }
                while ($prev_item.children('.js-tablist__link').attr('aria-disabled') === 'true' && $prev_item !== $parent_item);

                $prev_item.children(".js-tablist__link").click().focus();

                event.preventDefault();
            }
            // CTRL PageDown
            if (event.keyCode == 34 && event.ctrlKey) {
                $tab_to_focus.focus();

                // search valid next 
                do {
                    // if we are on last => first
                    if ($next_item.is(".js-tablist__item:last-child")) {
                        $next_item = $first_item;
                    }
                    // else previous
                    else {
                        $next_item = $next_item.next();
                    }
                }
                while ($next_item.children('.js-tablist__link').attr('aria-disabled') === 'true' && $next_item !== $parent_item);

                $next_item.children(".js-tablist__link").click().focus();

                event.preventDefault();
            }

        })
        /* click on a tab link */
        .on("click", ".js-link-to-tab", function() {
            var $this = $(this),
                $tab_to_go = $($this.attr('href')),
                $button_to_click = $('#' + $tab_to_go.attr('aria-labelledby'));

            if ($button_to_click.attr('aria-disabled') !== 'true') {
                // activate tabs
                $button_to_click.click();
                // give focus to the good button
                setTimeout(function() {
                    $button_to_click.focus()
                }, 10);
            }

        });

}

});



    $(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });
        
        





// For alert box  created and updated
        
     
        </script>
        <script>
            $(document).ready(function() {
           $("#reset").click(function() {
               $("input").val("");
           });
       });


        function confirmation(){

            windows.location="http://127.0.0.1:8000/addPayment";
            // location.href="http://127.0.0.1:8000/payment6";
           
           
          
        }
        
     
        </script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
       
        flatpickr("[data-behavior='flatpickr']", {
            allowInput: true,
            dateFormat: "Y-m-d"
        });
    </script>
    <script>


        (function() {
    
            var idleDurationSecs = 1800;
            var redirectUrl = 'https://sf.prod-app.in/';  // Redirect idle users to this URL
            var idleTimeout;
    
            var resetIdleTimeout = function() {
              if(idleTimeout) clearTimeout(idleTimeout);
    
    
              idleTimeout = setTimeout(function(){
                location.href = redirectUrl
              },  idleDurationSecs * 1000);
            };
    
            resetIdleTimeout();
    
            ['click', 'touchstart', 'mousemove'].forEach(function(evt) {
              document.addEventListener(evt, resetIdleTimeout, false)
            });
        })();
    </script>
    <script src="{% static 'js/cleardata.js' %}"></script>   
    
   
       
        
       
        
        
        
       
</body>

</html>