{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Cydez Technologies</title>
    <!-- <link rel="shortcut icon" type="image/jpeg" href="../static/images/logo.jpeg"> -->
    <link rel="shortcut icon" type="image/jpeg" {% for i in logos %}  href="/media/{{i.add_logo}}" {% endfor %}>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="msapplication-tap-highlight" content="no">

    <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'plugins/select2/css/select2.min.css'%}">
<link rel="stylesheet" href="{% static 'all-min.css'%}">
<link href="{% static 'style2.css' %}" rel="stylesheet">
<link href="{% static 'plugins/fontawesome/css/fontawesome.min.css'%}">
<link href="{% static 'plugins/fontawesome/css/all.min.css'%}">
<link href="{% static 'plugins/datatables/datatables.min.css'%}">
<link rel="stylesheet" href="https://kanakku.dreamguystech.com/html/template/assets/css/bootstrap-datetimepicker.min.css">
<link href="{% static 'bootstrap-datetimepicker.min.css'%}">
<script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>

    <style>
        .statusSection>button{
            border:none;
            outline:none;
            border-radius: 4px;
        }
        .updateButton{
            border:none;
            outline:none;
            padding:6px 8px;
            border-radius: 4px;
            color:white !important;
        }
        .updateButton>i{
            font-size:100%;
        }
    
            span.deleteicon {
                position: relative;
                display: inline-flex;
                margin-left:600px;
            }
            span.deleteicon span {
                position: absolute;
                display: block;
                right: 68px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                color: #fff;
                background-color: #ccc;
                font: 13px monospace;
                text-align: center;
                line-height: 1em;
                cursor: pointer;
            }
          
        
    </style>
</head>

<body>


    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <!-- <a href="" class="logo">
                    <img src="../static/images/logo_4.png" alt="Logo">
                </a>
                <a href="" class="logo logo-small">
                    <img src="../static/images/logo_4.png" alt="Logo" width="30" height="30">
                </a> -->
                {% for i in logos %}
                <a href="" class="logo">                  
                    <img src="/media/{{i.add_logo}}" alt="">
                    
                </a>
                <a href="" class="logo logo-small">
                    <img src="/media/{{i.add_logo}}" alt="Logo" width="30" height="30">
                </a>
                {% endfor %}
            </div>


            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-bars"></i>
            </a>


            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav nav-tabs user-menu">



                <li class="nav-item dropdown has-arrow main-drop">
                    <a id="pt_dd" href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="assets/img/profiles/avatar-01.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                        <span>{{user.email}}</span>
                    </a>
                    <div class="dropdown-menu">
                      
                        <a id="pt_lout" class="dropdown-item" href="{% url 'userlogout' %}" onclick="return clearAll();"><i data-feather="log-out" class="me-1"></i>
                            Logout</a>
                    </div>
                </li>

            </ul>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        
                        <li>
                            <a href="{% url 'dashboard' %}"><i data-feather="home"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="{% url 'Totalbilling' %}"><i data-feather="file-text"></i> <span>Billing</span></a>
                        </li>
                        <li>
                            <a href="{% url 'taskschedular' %}"><i data-feather="file-text"></i> <span> Task Schedular</span></a>
                        </li>
                        <li >
                            <a href="{% url 'task' %}"><i data-feather="file-plus"></i> <span>Task</span></a>
                        </li>
                        <li  >
                            <a href="{% url 'listUser' %}"><i data-feather="users"></i> <span>Users</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listclient' %}"><i data-feather="clipboard"></i> <span>Projects</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listProject' %}"><i data-feather="credit-card"></i> <span>Estimation</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listEngagements' %}"><i style='font-size:18px' class='far'>&#xf1ad;</i> <span>Accounts</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listconsultant' %}"><i style='font-size:18px' class='fas'>&#xf508;</i><span>Account Manager</span> </a>
                        </li>
                        <li class="active">
                            <a href="{% url 'pending' %}"><i data-feather="file"></i> <span>Missing Timesheet</span> </a>
                        </li>
                        <li>
                            <a href="{% url 'list_knowledge' %}"><i data-feather="book-open"></i> <span>Knowledge Center</span> </a>
                        </li>
                        <li class="nav-item has-submenu">
                            <a class="nav-link" href="#"> <i data-feather="settings"> </i> <span> Settings</span>   </a></i>
                            <ul class="submenu collapse">
                                <li><a class="nav-link" href="{% url 'setting' %}">Departments </a></li>
                                <li><a class="nav-link" href="{% url 'list_Designations' %}">Designation</a></li>
                                <li><a class="nav-link" href="{% url 'add_logo' %}">Logo</a></li>
                                <li><a class="nav-link" href="{% url 'listec' %}">Email Configuration</a></li>
                               <!-- <li><a class="nav-link" href="#">Submenu item 3 </a> </li>-->
                            </ul>
                       <!-- </li>
                        
                            <a href="{% url 'estimation_admin' %}"><i data-feather="settings"></i> <span>Generate Estimate</span></a>
                        </li>
                      --> 
                        
                        
                    </ul>
                </div>
            </div>
        </div>


        <div class="page-wrapper">
            <div class="content container-fluid">
              
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- <h3 class="page-title">Pending Task</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="">Dashboard</a></li>
                                <li class="breadcrumb-item active">Pending Task</li>
                            </ul> -->
                        </div>
                       
                    </div>
                </div>
                
                
                <div  class="card filter-card">
                   
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div style="margin-top:-59px" class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">Missing Timesheet</h5>
                                        <div   style="margin-top:-29px;float:right;"class="card-body pb-0">
                                            <div class="row">
                                                <form method="post" action="{% url 'pending' %}">
                                                    {% csrf_token %}
                                                <div class="search-container ">
                                                    <div class="input-group input-group-sm mx-auto">
                                                        <span class="deleteicon">
                                                        <input id="pt_srch"  style="margin-top:-10px;" class="form-control search-input" type="text" name="search"
                                                        placeholder="Search"  value="{{ s }}" >
                                                        <span onclick="var input = this.previousElementSibling; input.value = ''; input.focus();"><a href="{% url 'pending' %}">x</a></span>
                                                        <button id="pt_btn" style="margin-top:-10px;height:40px"class="button button1 btn-primary">Search</button>  
                                                        </span>
                                                          <!-- <input type="submit" style="display: none;" value="submit"> -->
                                                                                     
                                                    </div>
                                                    
                                                </form>
                        
                                                    </div>
                                                
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                           
                                        <!-- <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                                            <i class="fas fa-filter"></i>
                                        </a> -->
                                    </div>
                                    <!-- <div class="col-auto">
                                        <div class="dropdown">
                                            <button class="btn btn-white btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            Monthly
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li>
                                            <a href="javascript:void(0);" class="dropdown-item">Weekly</a>
                                            </li>
                                            <li>
                                            <a href="javascript:void(0);" class="dropdown-item">Monthly</a>
                                            </li>
                                            <li>
                                             <a href="javascript:void(0);" class="dropdown-item">Yearly</a>
                                            </li>
                                            </ul>
                                            </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <div class="progress progress-md rounded-pill mb-3">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 47%"
                                            aria-valuenow="47" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 28%"
                                            aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 15%"
                                            aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 10%"
                                            aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                   
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-stripped table-hover">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                        
                                               <th>Task Pending Dates</th>
                                               <th>Not marked Dates</th>
                                               <!-- <th>Creation Dates</th> -->
                                                
                                            </tr>       
                                        </thead>
                                        <tbody>
                                            {% for key, values in datas %}
                                            <tr>
                                                <td>{{values.first_name}}</td>
                                                <td>{{values.missing_date}}</td>
                                                <td>{{values.absent_date}}</td>
                                                <!-- <td>{{values.creation_date}}</td> -->
                                               
                                                {% comment %} <td>{{i.date}}</td>
                                                <td>{{d1.day}}&nbsp;{{dd1}},{{d2.day}}&nbsp;{{dd2}},{{dd.day}}&nbsp;{{ddd}},&nbsp;{{dddd.day}}&nbsp;{{ddddd}},&nbsp;{{ddddd.day}}&nbsp;{{dddddd}}</td>
                                                <td>{{i.phone}}</td> {% endcomment %}
            
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="container" >                
                                    {% for message in messages %}
                                     <div style="text-align: center;" ><br>
                                        {{ message }}
                                      </div>
                                    {% endfor %}
                                </div>
                                <div class="paginator" style="width:100%;display: flex;justify-content: space-between;align-items: center;">
                                    <div style="float:left; margin-top: 20px;">
                                        Showing {{ datas.start_index}} to {{ datas.end_index }} of {{ datas.paginator.count }} entries
                                    </div>
                                    <div style="float:right;"><br>
                                      <nav aria-label="Page navigation example">
            
                                          <ul class="pagination">
                                            {% if datas.has_previous %}
                                            <li class="page-item">
                                              <a class="page-link" href="?page={{ datas.previous_page_number }}">&laquo; Previous</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item disabled">
                                              <a class="page-link">&laquo;</a>
                                            </li>
                                            {% endif %}
                                            {% for i in datas.paginator.page_range %} 
                                            <!-- {# {% if datas.number == i %} #} -->
                                            {% if i <= datas.number|add:5 and i >= datas.number|add:-5 %}
                              
                                            {% if datas.number == i %}
                                            <li class="page-item active">
                                              <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item">
                                              <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                                            </li>
                                            {% endif %}
                              
                                            {% endif %}
                                            {% endfor %} 
                              
                                            {% if datas.has_next %}
                              
                                            <li class="page-item">
                                              <a class="page-link" href="?page={{ datas.next_page_number }}">&raquo; Next</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item disabled">
                                              <a class="page-link"> &raquo;</a>
                                            </li>
                                            {% endif %}
                                          </ul>
                                        
                              
                                      </nav>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>









   
<!-- 
    <script>
        function changeStatus(taskId,status,eleId){

            $.ajax({
                method: "POST",
                url: "",
                data: { taskId: taskId, status: status }
                })
                .done(function( response ) {
                if(response['status']){
                    if(response['button']){
                        document.getElementById(eleId).style.backgroundColor = '#3cb371';
                        document.getElementById('reject'+taskId).style.backgroundColor = '#efefef';
                        document.getElementById(eleId).disabled = true;
                        document.getElementById('reject'+taskId).disabled = false;
                    }else{
                        document.getElementById(eleId).style.backgroundColor = '#db3545';
                        document.getElementById('accept'+taskId).style.backgroundColor = '#efefef';
                        document.getElementById(eleId).disabled = true;
                        document.getElementById('accept'+taskId).disabled = false;
                    }
                }else{ 
                    alert("Internal issue");
                }
                });
        }

    </script> -->

    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/feather.min.js' %}"></script>
<script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
    
    <!-- <script>
        $(document).ready(function(){
            $('.updateButton').on('click',function(){
                var status_id = $(this).attr('status_id');
                req = $.ajax({
                    url :'/Totalbilling',
                    type:'POST',
                });
                $('#statusSection'+status_id).fadeOut(1000).fadeIn(1000);
            });
        });
    </script> -->
    
        <script>console.clear(); // Clear all CodePen's errors and warnings
        /*
        
        Requires:
        
        • jQuery | Boottrap v4.1+
        
        Overlay Scrollbars:
        https://kingsora.github.io/OverlayScrollbars/#!overview
        
        
        TODO:
        
        • fix left-sidebar srolling when overflowing. Avoid default scrollbar style.
        • Dim screen when opening sidebar?
        • Add extra brand logo and menu icon on open?
        • Add footer to left sidebar.
        • Support a right sidebar?
        • Sidebar animation, history/navigation fix.
        • Use hardware acceleration for animated sidebar?
        • Partial icon view for sidebar collapse?
        
        */

        var body = $(document.body),
            open_left_sidebar = "open-left-sidebar",
            sidebar_btn = $("#sidebar_btn"),
            left_sidebar = $("#left_sidebar"),
            anchors = $(".sidebar-elements li a", left_sidebar),
            wrapper = $(".be-wrapper"),
            menu_speed = 200;

        // Only for debugging (stop page navigating away)
    //     $(
    //         ".be-wrapper > .navbar a, \
    //    .be-wrapper > .be-left-sidebar a"
    //     ).attr("href", "#" + Math.random());

        // Updated: 2018.12
        // By default both '.be-animate' and '.be-offcanvas-menu'
        // should be placed in the body tag.
        // Using '.open-left-sidebar' to open the sidebar.
        // $(document.body)
        //     .addClass("be-animate be-offcanvas-menu open-left-sidebar");

        // Updated: 2019.03.11 @ 17:49:23
        // Only for debugging (extending menus and testing scrollbar)
        $("#debug_only_menuopen")
            .addClass("open")
            .find(".sub-menu > .parent")
            .addClass("open");

        function toggle_sidebar() {
                body.toggleClass(open_left_sidebar);
            }

        sidebar_btn.on(
            "click",
            debounce(toggle_sidebar, 200, true)
        );

        // Updated: 2019.14.03 @ 18:09:27
        /** Scrollbar Support (Change with what ever scollbar plugin you need) **/
        var scrollbar = OverlayScrollbars(
            $(".left-sidebar-scroll")[0],
            {
                scrollbars: {
                    autoHide: "leave",
                    autoHideDelay: 100
                }
            }
        );

        // Updated: 2019.01.12 @ 18:39:59
        

        // Updated: 2020.01.08 @ 19:42:34
        /** Operate submenus **/
        anchors.on("click", function (event) {
            var $el = $(this),
                $li = $el.parent(),
                $subMenu = $el.next(),
                $open = $li.siblings(".open");

            //console.log($subMenu);
            //$el.parents().eq(1).hasClass("sidebar-elements");

            if ($li.hasClass("open")) {
                slideUp($subMenu, event);
            } else {
                slideDown($el, event);
            }

            if ($el.next().is("ul")) {
                event.stopPropagation();
                event.preventDefault();
            }
        });

        function isCollapsibleSidebarCollapsed() {
            return wrapper.hasClass("be-collapsible-sidebar-collapsed");
        }

        function slideUp($subMenu, event) {
            var target = $(event.currentTarget),
                parent = $($subMenu).parent(),
                item = $("li.open", parent),
                isRoot = !target.closest(left_sidebar).length,
                speed = menu_speed,
                hasElements = target.parents()
                    .eq(1)
                    .hasClass("sidebar-elements");

            //console.log(event);


            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                (hasElements || isRoot)
            ) {
                parent.removeClass("open");
                $subMenu.removeClass("visible");
                item.removeClass("open").removeAttr("style");
            } else {
                $subMenu.slideUp({
                    duration: speed,
                    complete: function () {
                        parent.removeClass("open");
                        $(this).removeAttr("style");
                        item.removeClass("open").removeAttr("style");
                    }
                });
            }
        }

        function slideDown($this, event) {
            var $el = $($this),
                parent = $el.parent(),
                next = $($el).next(),
                speed = menu_speed,
                hasElements = $(event.currentTarget)
                    .parents()
                    .eq(1)
                    .hasClass("sidebar-elements"),
                siblingsOpen = parent.siblings(".open");

            //console.log("$this: ", $this);
            //console.log("slideDown: ", $(event.currentTarget));

            if (siblingsOpen) {
                slideUp(
                    $("> ul", siblingsOpen),
                    event
                );
            }

            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                hasElements
            ) {
                parent.addClass("open");
                next.addClass("visible");
            } else {
                next.slideDown({
                    duration: speed,
                    complete: function () {
                        parent.addClass("open");
                        $(this).removeAttr("style");
                    }
                });
            }
        }

        // Updated: 2019.01.02 @ 12:00:00
        /** AUTO close with user clicks or taps away from sidebar **/
        $(document.body).on(
            "mousedown touchstart",
            function (event) {
                if (
                    !$(event.target).closest(left_sidebar).length &&
                    !$(event.target).closest(sidebar_btn).length &&
                    body.hasClass(open_left_sidebar)
                ) {
                    body.removeClass(open_left_sidebar);
                }
            }
        );

        // Updated: 2019.01.03 @ 13:03:58
        /***************************/
        /** Bootstrap Breakpoints **/
        /***************************/
        (function (e) { e.isBreakpoint = function (t) { var o, i, a; switch (t) { case "xs": a = "d-none d-sm-block"; break; case "sm": a = "d-none d-md-block"; break; case "md": a = "d-none d-lg-block"; break; case "lg": a = "d-none d-xl-block"; break; case "xl": a = "d-none" }return i = (o = e("<div/>", { class: a }).appendTo("body")).is(":hidden"), o.remove(), i }, e.extend(e, { isXs: function () { return e.isBreakpoint("xs") }, isSm: function () { return e.isBreakpoint("sm") }, isMd: function () { return e.isBreakpoint("md") }, isLg: function () { return e.isBreakpoint("lg") }, isXl: function () { return e.isBreakpoint("xl") } }) })(jQuery);

        // Updated: 2019.01.12 @ 18:36:59
        /***************************/
        /** Underscore.js debounce function **/
        /***************************/
        function debounce(a, b, c) { var d, e, f, g, h; var l = function () { return new Date().getTime(); }; var i = function () { var j = l() - g; if (j < b && j >= 0) { d = setTimeout(i, b - j); } else { d = null; if (!c) { h = a.apply(f, e); if (!d) { f = e = null; } } } }; return function () { f = this; e = arguments; g = l(); var k = c && !d; if (!d) { d = setTimeout(i, b) }; if (k) { h = a.apply(f, e); f = e = null; } return h; }; };

    </script>
    
    <script>$(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });</script>
    <script>


        (function() {
    
            var idleDurationSecs = 1800;
            var redirectUrl = 'https://sf.prod-app.in/';  // Redirect idle users to this URL
            var idleTimeout;
    
            var resetIdleTimeout = function() {
              if(idleTimeout) clearTimeout(idleTimeout);
    
    
              idleTimeout = setTimeout(function(){
                location.href = redirectUrl
              },  idleDurationSecs * 1000);
            };
    
            resetIdleTimeout();
    
            ['click', 'touchstart', 'mousemove'].forEach(function(evt) {
              document.addEventListener(evt, resetIdleTimeout, false)
            });
        })();
    </script>
    <script src="{% static 'js/cleardata.js' %}"></script>
</body>

</html>