<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>Cydez Technologies</title>
  <!-- <link rel="shortcut icon" type="image/png" href="../static/images/logo.jpeg"> -->
  <link rel="shortcut icon" type="image/jpeg" {% for i in logos %}  href="/media/{{i.add_logo}}" {% endfor %}>
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css">     -->
  <!-- <link href="{% static 'style.css' %}" rel="stylesheet"> -->

<link href="{% static 'bootstrap.min.css'%}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'plugins/select2/css/select2.min.css'%}">
<link rel="stylesheet" href="{% static 'all-min.css'%}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<link href="{% static 'style2.css' %}" rel="stylesheet">
<link href="{% static 'plugins/fontawesome/css/fontawesome.min.css'%}">
<link href="{% static 'plugins/fontawesome/css/all.min.css'%}">
<link href="{% static 'plugins/datatables/datatables.min.css'%}">
<link rel="stylesheet" href="https://kanakku.dreamguystech.com/html/template/assets/css/bootstrap-datetimepicker.min.css">
<link href="{% static 'bootstrap-datetimepicker.min.css'%}">
<script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>

<style>

  .input-container {
  display: flex;
  /* margin-left: -30px;  */
  cursor: pointer;
  }
    .center {
      display: flex;
      justify-content: center;
      align-items: center; 
    }
    #message {
  display:none;
  color:red;
  position: relative;
 
}

#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 5px;
  margin-top: 10px;
}

#message p {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 10px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;

  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  content: "✖";
}

    </style>

</head>

<body>

  <div class="main-wrapper login-body">
    <div class="login-wrapper">
      <div class="container">
        <!-- <img class="img-fluid logo-dark mb-2" src="../static/images/logo_4.png" alt="Logo"> -->
        
        <img class="img-fluid logo-dark mb-2"  {% for i in logos %}  src="/media/{{i.add_logo}}"   alt="" {% endfor %} >
        <div class="loginbox">
          <div class="login-right">
            <div class="login-right-wrap">
              <h1>Set New Password</h1>
                <br>
              <form action="{% url 'resetpassword' id  %}" method="POST" class="sign-in-form">
                {% csrf_token %}
        
                <div class="container" >                
                  {% for message in messages %}
                   <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  {% endfor %}
                </div>
                <input hidden name="number" id="number" value="{{number}}">
                               
                <div class="form-group">
                  <label class="form-control-label">Existing Password</label>
                  <div class="input-container">
                  <input class="form-control" name="password" type="password" id="existingpassword">
                  <i class="bi bi-eye-slash" style="margin-left: -30px;margin-top: 10px;" id="togglePassword1" ></i>
                  </div>
                </div>
                
                  
                <div class="form-group">
                      
                    <label class="form-control-label">New Password</label>
                    <div class="input-container">
                    <input class="form-control" id="newpassword" name="newpassword" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                    <i class="bi bi-eye-slash" style="margin-left: -30px;margin-top: 10px;" id="togglePassword2" ></i>
                </div>
                <div><br>
                <div class="form-group">
                    <label class="form-control-label">Confirm Password</label>
                    <div class="input-container">
                    <input class="form-control" id="confirmpassword" name="confirmpassword" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" onkeyup="validate_password()" >
                    <i class="bi bi-eye-slash" style="margin-left: -30px;margin-top: 10px;" id="togglePassword3"  ></i>
                    </div>  
                </div> 
                <span id="wrong_pass_alert"></span>
                  <div id="message">
                    <p style="font-size: 18px;">Password must contain the following:</p>
                    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                    <p id="validnumber" class="invalid">A <b>number</b></p>
                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                    {% comment %} <p  style="display:inline;">Password must contain the following:</p>
                    <p  style="display:inline;">Must contain at least one number 1 uppercase 1 lowercase letter, and at least 8 or more characters</p>
                 {% endcomment %}
                  </div>           
                <br>
                <div class="form-group mb-0"  style="margin-top: 10px;">
                  <button class="btn btn-lg btn-block btn-primary w-100 " name="reset_btn" id="reset_btn" type="submit">Reset </button>
                  
                </div><br>
                
              </form>
              <br>
     
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 <!-- password eye button -->
 <script>
  document.getElementById('reset_btn').disabled = true;
  document.getElementById('reset_btn').style.opacity = (0.4);
  const togglePassword1 = document.querySelector("#togglePassword1");
  const password1 = document.querySelector("#existingpassword");

  togglePassword1.addEventListener("click", function () {
      // toggle the type attribute
      const type = password1.getAttribute("type") === "password" ? "text" : "password";
      password1.setAttribute("type", type);
      
      // toggle the icon
      this.classList.toggle("bi-eye");
  });

  const togglePassword2 = document.querySelector("#togglePassword2");
  const password2 = document.querySelector("#newpassword");

  togglePassword2.addEventListener("click", function () {
      // toggle the type attribute
      const type = password2.getAttribute("type") === "password" ? "text" : "password";
      password2.setAttribute("type", type);
      
      // toggle the icon
      this.classList.toggle("bi-eye");
  });

  const togglePassword3 = document.querySelector("#togglePassword3");
  const password3 = document.querySelector("#confirmpassword");

  togglePassword3.addEventListener("click", function () {
      // toggle the type attribute
      const type = password3.getAttribute("type") === "password" ? "text" : "password";
      password3.setAttribute("type", type);
      
      // toggle the icon
      this.classList.toggle("bi-eye");
  });

  function validate_password() {
 
    var pass = document.getElementById('newpassword').value;
    var confirm_pass = document.getElementById('confirmpassword').value;
    if (pass != confirm_pass) {
        document.getElementById('wrong_pass_alert').style.color = 'red';
        document.getElementById('wrong_pass_alert').innerHTML
          = '☒ Use same password';
        document.getElementById('reset_btn').disabled = true;
        document.getElementById('reset_btn').style.opacity = (0.4);
    } else {
        document.getElementById('wrong_pass_alert').style.color = 'green';
        document.getElementById('wrong_pass_alert').innerHTML = '';
        //document.getElementById('wrong_pass_alert').innerHTML = '🗹 Password Matched';
        document.getElementById('reset_btn').disabled = false;
        document.getElementById('reset_btn').style.opacity = (1);
    }
}

function wrong_pass_alert() {
    if (document.getElementById('newpassword').value != "" &&
        document.getElementById('confirmpassword').value != "") {
        alert("Your response is submitted");
    } else {
        alert("Please fill all the fields");
    }
}


var myInput = document.getElementById("newpassword");
var confirm_pass = document.getElementById('confirmpassword');
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("validnumber");
var length = document.getElementById("length");


// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
  document.getElementById("message").style.display = "block";
}

// When the user clicks outside of the password field, hide the message box
myInput.onblur = function() {
  document.getElementById("message").style.display = "none";
}

// When the user starts to type something inside the password field
myInput.onkeyup = function() {
  validFlag=true
  document.getElementById("message").style.display = "block";
  if (confirm_pass.value.length>0)
  {
    validate_password()
  }
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {  
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
    validFlag=false;
  }
  
  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {  
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
    validFlag=false;
  }

 // Validate numbers
 var numbers = /[0-9]/g;
 if(myInput.value.match(numbers)) {  
   number.classList.remove("invalid");
   number.classList.add("valid");
 } else {
   number.classList.remove("valid");
   number.classList.add("invalid");
   validFlag=false;
 }
  
  // Validate length
  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
    validFlag=false;
  }
  if(validFlag==true){
    document.getElementById("message").style.display = "none";
  }
}
</script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/feather.min.js' %}"></script>
  <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="https://kit.fontawesome.com/64d58efce2.js"></script>


</body>
{% if msg %}
<script >
	document.getElementById('login').click()            
</script>
{% endif %}
</html>