{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Cydez Technologies</title>
    <!-- <link rel="shortcut icon" type="image/jpeg" href="../static/images/logo.jpeg"> -->
    <link rel="shortcut icon" type="image/jpeg" {% for i in logos %}  href="/media/{{i.add_logo}}" {% endfor %}>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="msapplication-tap-highlight" content="no">

    <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link href="{% static 'plugins/select2/css/select2.min.css'%}">
<link rel="stylesheet" href="{% static 'all-min.css'%}">
<link href="{% static 'style2.css' %}" rel="stylesheet">
<link href="{% static 'plugins/fontawesome/css/fontawesome.min.css'%}">
<link href="{% static 'plugins/fontawesome/css/all.min.css'%}">
<link href="{% static 'plugins/datatables/datatables.min.css'%}">
<link rel="stylesheet" href="https://kanakku.dreamguystech.com/html/template/assets/css/bootstrap-datetimepicker.min.css">
<link href="{% static 'bootstrap-datetimepicker.min.css'%}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>

    <style>
        table {
        table-layout: fixed;        
        border-collapse: collapse;
        }
        tr {
        border-collapse: collapse;
        }
    
 
        
    </style>
</head>

<body>


    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                {% for i in logos %}
                <a href="" class="logo">
                    <img src="media/{{i.add_logo}}" alt="Logo">
                </a>
                <a href="" class="logo logo-small">
                    <img src="media/{{i.add_logo}}" alt="Logo" width="30" height="30">
                </a>
                {% endfor %}
            </div>


            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-bars"></i>
            </a>


            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav nav-tabs user-menu">



                <li class="nav-item dropdown has-arrow main-drop">
                    <a id="pt_dd" href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="assets/img/profiles/avatar-01.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                        <span>{{user.email}}</span>
                    </a>
                    <div class="dropdown-menu">
                      
                        <a id="pt_lout" class="dropdown-item" href="{% url 'userlogout' %}" onclick="return clearAll();"><i data-feather="log-out" class="me-1"></i>
                            Logout</a>
                    </div>
                </li>

            </ul>

        </div>

        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        
                        
                        
                        <li class="active">
                            <a href="{% url 'task_employee' %}"><i data-feather="file-plus"></i> <span>Task</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listtask' %}"><i data-feather="file-text"></i> <span>Timesheet</span></a>
                        </li>
                        
                        <li >
                            <a href="{% url 'employee_pending' %}"><i data-feather="file"></i> <span>Missing Timesheet</span> </a>
                        </li>
                        <li >
                            <a href="{% url 'emp_knowledgecenter' %}"><i data-feather="book-open"></i> <span>Knowledge Center</span> </a>
                        </li>
                     
                        
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content container-fluid">
        <div id="filter_inputs" class="card filter-card">
            <div class="card-body pb-0">
                <div class="row">
                    <!-- <form method="GET" > -->
                    <!-- {% csrf_token %} -->
                    <div class="search-container ">
                        <div class="input-group input-group-sm mx-auto">
                            <!-- <input id="lt_srch" class="form-control se arch-input" type="text" name="q"
                                placeholder="Search"  value="{{ request.GET.q }}" >
                                <button id="lt_btn" style="margin-left: 40px;" class="btn btn-lg btn-block btn-primary">Search</button>
                            </form>
                                <button style="margin-left: 40px;" class="btn btn-lg btn-block btn-primary"><a id="add" style="color: white;" href="#addEmployeeModal" data-toggle="modal">Add User</a></button> -->


                        </div>
                    
                    </div>
            </div>
        </div>
</div>

                
        
        <div  class="row">
                    <div  class="col-md-12 col-sm-12">
                        <div  class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div style="margin-bottom:-59px" class="col">
                                       
                                        <h5  class="card-title"> Task</h5><br><br>
                                        <br>
                                    </div>
                                        
                                    <div style="position: absolute; margin-left: 850px;" class="col-auto">
                                        <a id="task_plus"  class="btn btn-primary"  href="#emptaskmodal" data-toggle="modal" >
                                           <i class="fas fa-plus"></i>
                                       </a> 
                                    
                                   </div>
                                </div>
                            </div>
        <div class="col-md-12">
            <!-- <div class="card bg-white"> -->
                
                <div class="card-body">
                    <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded nav-justified">
                        <!--<a  href="{% url 'listProject' %}" class="previous" ><span class="bi-arrow-left-circle">&larr; </span></a><pre>        </pre>-->
                        <li class="nav-item"><a class="nav-link active" id="pay_history" onclick="able_add()" href="#solid-rounded-justified-tab1" data-bs-toggle="tab">Assigned Task</a></li>
                        <li class="nav-item"><a class="nav-link "  id="pay_bill" onclick="disable_add()" href="#solid-rounded-justified-tab2"  data-bs-toggle="tab"> My Task</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane show active" id="solid-rounded-justified-tab1">
                            <div class="mb-3">
                                <div class="progress progress-md rounded-pill mb-3">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 47%"
                                        aria-valuenow="47" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 28%"
                                        aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 15%"
                                        aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 10%"
                                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                               
                            </div>
                            <div class="table-responsive">
                                <table class="table table-stripped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th style="width:20%">Description</th>
                                            <th style="width:14%">Final Date</th> 
                                            <th style="width:14%">Assignee</th>                                         
                                            <th style="width:12%">Status</th>
                                            <th style="width:6%"></th>
                                            <th style="width:9%"></th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in datas %}
                                        <tr>
                                            <td style="overflow: hidden;
                                            text-overflow: ellipsis;">{{i.title}}</td>
                                            <td style="overflow: hidden;
                                            text-overflow: ellipsis;">{{i.description}}</td>
                                            <td>{{i.end_date}}</td>
                                            <td>{{i.assignee}}</td>
                                            <!-- <td>{{i.created_by}}</td> -->
                                            <td>{{i.status}}</td>
                                            <td>
                                                
                                                <a href="#viewtask" title="View" data-toggle="modal"
                                                onclick="Details(
                                                    
                                                    title = '{{ i.title }}',
                                                    description= '{{ i.description }}',
                                                    end_date= '{{ i.end_date }}',                                                  
                                                    attachment='{{i.attachment}}',
                                                                      
                                                   );"  >
                                                <i class="bi bi-eye-fill" style='color:#8773b3;'  data-toggle="modal"></i></a>
                                                &nbsp; 
                                                {% if i.attachment %}
                                                <a href="\media\{{i.attachment}}" target="_blank" >
                                                    <i class="fa fa-file" style='color:#8773b3;' title="View File"  data-toggle="modal"></i></a>
                                                
                                                {% endif %}
                                                {% if not i.attachment %}
                                        
                                                <i class="fa fa-file" style='color:#d1d1d6;' title="No File"   data-toggle="modal"></i>
                                                {% endif %}
                                                </a></td>
                                             <td>
                                                <a href="{% url 'delete_empTask' i.id %} " class="delete"  >
                                                    <i class="fa fa-trash" data-toggle="tooltip" style='color:#8773b3' ></i></a>
                                                    &nbsp; 
                                                {% if i.status != "Closed" %}
                                                <a href="#editemptaskmodal" title="Edit" class="edit" data-toggle="modal" 
                                                onclick="edittaskDetails(
                                                    
                                                    title = '{{ i.title }}',
                                                    details= '{{ i.description }}',
                                                    date= '{{ i.end_date }}',
                                                    assignee = '{{ i.assignee }}',
                                                    status = '{{i.status }}',
                                                    attachment='{{i.attachment}}',
                                                    my_taskid = '{{i.id}}'
                                                    

                                                
                                                   );">
                                                <i class="fa fa-edit" data-toggle="tooltip" style='color:#8773b3'></i></a> 
                                               {% endif %}
                                               
                                            </td>
                                        </tr>
                                        {% endfor %}
                                       

                                    </tbody>
                                </table>
                            </div>
                            {% if datas.paginator.count == 0 %}
                                        <div style="text-align: center;"><br>                
                                           <span >No Records Found </span>
                                        </div>
                                       {% endif %}
                            <div class="paginator" style="width:100%;display: flex;justify-content: space-between;align-items: center;">
                                <div style="float:left; margin-top: 20px;">
                                    Showing {{ datas.start_index}} to {{ datas.end_index }} of {{ datas.paginator.count }} entries
                                </div>
                                <div style="float:right;"><br>
                                  <nav aria-label="Page navigation example">
                          
                                    
                                      <ul class="pagination">
                                        {% if datas.has_previous %}
                                        <li class="page-item">
                                          <a class="page-link" href="?page={{ datas.previous_page_number }}">&laquo; Previous</a>
                                        </li>
                                        {% else %}
                                        <li class="page-item disabled">
                                          <a class="page-link">&laquo; Previous</a>
                                        </li>
                                        {% endif %}
                                        {% for i in datas.paginator.page_range %} 
                                        <!-- {# {% if datas.number == i %} #} -->
                                        {% if i <= datas.number|add:5 and i >= datas.number|add:-5 %}
                          
                                        {% if datas.number == i %}
                                        <li class="page-item active">
                                          <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                                        </li>
                                        {% else %}
                                        <li class="page-item">
                                          <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                                        </li>
                                        {% endif %}
                          
                                        {% endif %}
                                        {% endfor %} 
                          
                                        {% if datas.has_next %}
                          
                                        <li class="page-item">
                                          <a class="page-link" href="?page={{ datas.next_page_number }}">&raquo; Next</a>
                                        </li>
                                        {% else %}
                                        <li class="page-item disabled">
                                          <a class="page-link">Next &raquo;</a>
                                        </li>
                                        {% endif %}
                                      </ul>
                                    
                          
                                  </nav>
                                </div>
                              </div>
                        </div>
                        <div class="tab-pane" id="solid-rounded-justified-tab2">
                       
                            <div class="mb-3">
                                <div class="progress progress-md rounded-pill mb-3">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 47%"
                                        aria-valuenow="47" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 28%"
                                        aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 15%"
                                        aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 10%"
                                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                               
                            </div>
                            <div class="table-responsive">
                               <table class="table table-stripped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Final Date</th>    
                                            <th>Created by</th> 
                                            <th>Status</th>
                                            <th style="width:6.7%"></th>
                                            <th style="width:8%"></th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>  
                                        {% for  i in data %}
                                       
                                        <tr>
                                            <td style="overflow: hidden;
                                            text-overflow: ellipsis;">{{i.title}}</td>
                                            <td style="overflow: hidden;
                                            text-overflow: ellipsis;">{{i.description}}</td>
                                            <td>{{i.end_date}}</td>
                                            <td>{{i.created_by}}</td>
                                            <td>{{i.status}}</td>
                                            <td>
                                                <a href="#viewtask" title="View" data-toggle="modal"
                                                onclick="Details(
                                                    
                                                    title = '{{ i.title }}',
                                                    description= '{{ i.description }}',
                                                    end_date= '{{ i.end_date }}',                                                  
                                                    attachment='{{i.attachment}}',
                                                                      
                                                   );"  >
                                                <i class="bi bi-eye-fill" style=' color:#8773b3;'  data-toggle="modal"></i></a>
                                                &nbsp; &nbsp;
                                                {% if i.attachment %}
                                                <a href="\media\{{i.attachment}}" target="_blank" >
                                                    <i class="fa fa-file" style='color:#8773b3;' title="View File"  data-toggle="modal"></i></a>
                                                
                                                {% endif %}
                                                {% if not i.attachment %}
                                        
                                                <i class="fa fa-file" style='color:#d1d1d6;' title="No File"   data-toggle="modal"></i>
                                                {% endif %}
                                                </a></td>
                                             <td>
                                                {% if i.status != "Completed" %}
                                                {% if i.status != "Closed" %}
                                                <a href="#editempmytaskmodal" title="Edit" class="edit" data-toggle="modal" 
                                                onclick="editmytaskDetails(
                                                    
                                                    title = '{{ i.title }}',
                                                    details= '{{ i.description }}',
                                                    date= '{{ i.end_date }}',
                                                    assignee = '{{ i.created_by }}',  
                                                    status = '{{ i.status}}',
                                                    attachment='{{i.attachment}}',
                                                    my_taskid = '{{i.id}}'
                                                    
                                                   );">
                                                <i  class="fa fa-edit" data-toggle="tooltip" style='color:#8773b3'></i></a>
                                                {% endif %} 
                                                {% endif %} 
                                            <!-- <a href="{% url 'delete_empTask' i.id %}" class="delete"  >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                                                <i class="fa fa-trash" data-toggle="tooltip" style='position:fixed;color:#8773b3' ></i></a> -->
                                            </td>
                                        </tr>
                                        
                                        {% endfor %}
                                

                                    </tbody>
                                </table>
                                {% if data.paginator.count == 0 %}
                                        <div style="text-align: center;"><br>                
                                           <span >No Records Found </span>
                                        </div>
                                       {% endif %}
                            
                            <div class="paginator" style="width:100%;display: flex;justify-content: space-between;align-items: center;">
                                <div style="float:left; margin-top: 20px;">
                                    Showing {{ data.start_index}} to {{ data.end_index }} of {{ data.paginator.count }} entries
                                </div>
                    
                                <div style="float:right;"><br>
                                  <nav aria-label="Page navigation example">
                          
                                    
                                      <ul class="pagination">
                                        {% if data.has_previous %}
                                        <li class="page-item">
                                          <a class="page-link" href="?page={{ data.previous_page_number }}">&laquo; Previous</a>
                                        </li>
                                        {% else %}
                                        <li class="page-item disabled">
                                          <a class="page-link">&laquo; Previous</a>
                                        </li>
                                        {% endif %}
                                        {% for i in data.paginator.page_range %} 
                                         <!-- {# {% if datas.number == i %} #}  -->
                                        {% if i <= data.number|add:5 and i >= data.number|add:-5 %}
                          
                                        {% if data.number == i %}
                                        <li class="page-item active">
                                          <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                                        </li>
                                        {% else %}
                                        <li class="page-item">
                                          <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                                        </li>
                                        {% endif %}
                          
                                        {% endif %}
                                        {% endfor %} 
                          
                                        {% if data.has_next %}
                          
                                        <li class="page-item">
                                          <a class="page-link" href="?page={{ data.next_page_number }}">&raquo; Next</a>
                                        </li>
                                        {% else %}
                                        <li class="page-item disabled">
                                          <a class="page-link">Next &raquo;</a>
                                        </li>
                                        {% endif %}
                                      </ul>
                                    
                          
                                  </nav>
                                </div>
                              </div></div>
                        </div>

                        <!--<a style="color: white;" href="#addEmployeeModal" data-toggle="modal"><button  class="btn btn-primary">Add</button> </a> -->
                   
                    </div>
                </div>
            <!---->
        <!-- </div>    -->








            </div>
       


                 
                </div>
            </div>
            </div>
        </div>
  
        <div id="emptaskmodal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" action="{% url 'employeetask_add' %}" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="modal-header">
                            <h4 class="modal-title">Add Task</h4>
                            <button type="button" class="close" onclick="resetss()" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                           
                            <div class="form-group">
                                <label  class="required">Title</label>
                                <span style="color:#ff0000">*</span>
                                <input type="text" name="title" id="title"  placeholder="Title"class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label  class="required">Description</label>
                                <span style="color:#ff0000">*</span>
                                <!-- <input type="text" name="details" id="Description"    placeholder="Details"class="form-control" required> -->
                                <textarea class="form-control" name="description" placeholder="Description" required></textarea>
                                </div>
                            <div class="form-group">
                                <label  class="required">Final Date</label>
                                <span style="color:#ff0000">*</span>
                                <input type="datetime-local" name="date" id="date_Id" placeholder="Date"  class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label  class="required">Assignee</label>
                                <span style="color:#ff0000">*</span>
                                <div class="form-control">
                                    <select name="Assignee" id="Assignee" placeholder="Assignee" class="dropdown-item" required >
                                    <option disabled="true" selected value="">User</option>
                                    {% for i in k %}
                                    <option value="{{i.first_name}}">{{i.first_name}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>

                                        <input hidden name="created" id="create" value="{{user.first_name}}">
                            <div style="margin-top:5px" class="form-group">
                                <label  class="required">Attachment</label>
                                <input type="file" name="attachment" id="attachment" class="form-control">
                            </div>                           
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="add__t" class="btn btn-primary"  > Add </button>
                            <button type="button " id="reset" class="btn btn-default btn btn-primary " onclick="confirmation()" data-dismiss="modal" > Cancel </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
            
        <div id="editemptaskmodal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" action="{% url 'edit_employeetask' %}"  enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Task</h4>
                            <button type="button" class="close" onclick="resetss()" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                           
                            <div class="form-group">
                                <label  class="required">Title</label>
                                <input type="text" name="title" id="edit_title"  placeholder="Title"class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label  class="required">Description</label>
                                <!-- <input type="text" name="details" id="Description"    placeholder="Details"class="form-control" required> -->
                                <textarea class="form-control" id="edit_desc" name="description" placeholder="Description" required></textarea>
                            </div>
                            <div class="form-group">
                                <label  class="required">Final Date</label>
                                <input type="datetime-local"   name="date" id="edit_date_Id"  class="form-control" required>
                            </div>
                            
                            <div class="form-group">
                                <label  class="required" >Status</label>
                                <div class="form-control">
                                    <select name="status" id="edit_status"  placeholder="Status" class="dropdown-item" required >
                                        <option disabled="true" selected>Status</option>
                                        <option value="New" >New</option>
                                        <option hidden value="In Progress" >In Progress</option>
                                        <option hidden value="Blocked" >Blocked</option>
                                        <option hidden value="Completed" >Completed</option>
                                        <option value="Closed" >Closed</option>
                                    </select>    
                               
                                </div>
                            </div>
                            
                                        
                            <div class="form-group">
                                <label  class="required">Assignee</label>
                                <div class="form-control">
                                    <select name="Assignee" id="edit_Assignee" placeholder="Assignee" class="dropdown-item" required >
                                    <option disabled="true" selected>User</option>
                                    {% for i in k %} 
                                        <option value="{{i.first_name}}" > {{i.first_name}} </option>
                                    {% endfor %}
                                    </select>    
                               
                            </div></div>

                            <div style="margin-top:5px" class="form-group">
                                <label >Attachment</label>
                                <input type="text" onfocus="(this.type='file')"   name="attachment" id="edit_attachment" class="form-control" />
                            </div>   

                            <input hidden name="mytaskid" id="my_task_id">

                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="edit__t" class="btn btn-primary"  > Save </button>
                            <button type="button " id="reset" class="btn btn-default btn btn-primary " onclick="confirmation()" data-dismiss="modal" > Cancel </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div id="editempmytaskmodal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" action="{% url 'edit_employeemytask' %}"  enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Task</h4>
                            <button type="button" class="close" onclick="resetss()" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                           
                            <div class="form-group">
                                <label  class="required">Title</label>
                                <input type="text" name="title" id="edt_title"  placeholder="Title"class="form-control" readonly>
                            </div>
                            <div hidden class="form-group">
                                <label  class="required">Description</label>
                                <!-- <input type="text" name="details" id="Description"    placeholder="Details"class="form-control" required> -->
                                <textarea class="form-control" id="edt_desc" name="description" placeholder="Description" required>
                                </textarea></div>
                            <div hidden class="form-group">
                                <label  class="required">Final Date</label>
                                <input type="text" onfocus="(this.type='date')"  name="date" id="edt_date_Id"  class="form-control" required>
                            </div>
                            
                            <div class="form-group">
                                <label  class="required" >Status</label>
                                <div class="form-control">
                                    <select name="status" id="edt_status"  placeholder="Status" class="dropdown-item" required >
                                        <option disabled="true" selected>Status</option>
                                        <option value="New" >New</option>
                                        <option value="In Progress" >In Progress</option>
                                        <option value="Blocked" >Blocked</option>
                                        <option value="Completed" >Completed</option>
                                       
                                    </select>    
                               
                                </div>
                            </div>
                            
                                        
                            <div hidden class="form-group">
                                <label  class="required">Assignee</label>
                                <div class="form-control">
                                    <select name="Assignee" id="edt_Assignee" placeholder="Assignee" class="dropdown-item" required >
                                    <option disabled="true" selected>User</option>
                                    {% for i in k %} 
                                        <option value="{{i.first_name}}" > {{i.first_name}} </option>
                                    {% endfor %}
                                    </select>    
                               
                            </div></div>

                            <div hidden style="margin-top:5px" class="form-group">
                                <label >Attachment</label>
                                <input type="text" onfocus="(this.type='file')"   name="attachment" id="edt_attachment" class="form-control" />
                            </div>   

                            <input hidden  name="mytaskid" id="mytask_id">

                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="edit__t" class="btn btn-primary"  > Save </button>
                            <button type="button " id="reset" class="btn btn-default btn btn-primary " onclick="confirmation()" data-dismiss="modal" > Cancel </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
<!-- details -->
        <div id="viewtask" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                      
                    <form  method="post" >
                        {% csrf_token %}
                        <div class="modal-header">
                            <h4 class="modal-title">Details</h4>
                            <button type="button" class="close" onclick="resetss()" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        </div>
                        
                        <div class="modal-body">
                            <div  class="form-group">
                                <label  class="required">Title : </label>                  
                               <input id="view_title"  name="title" style="display:inline;border: white;"  readonly >
                            </div>                           
                            <div  class="form-group">
                                <label  class="required">Final Date : </label>
                               <input id="view_date" name="date" style="display:inline; border: white;"  readonly >
                            </div>
                            <div class="form-group">
                                <label  class="required">Description :</label>
                                <textarea id="view_desc" name="description" style="display:inline;border: white;background-color: white;" class="form-control" readonly></textarea>
                            </div>
                            <!-- <div style="display: inline;" class="form-group">
                                <label >Attachment : </label>{% for i in datas %}
                                <input type="button" id="view_attachment" onclick="location.href='/media/{{i.attachment}}';" name="attachment"  style="border: white;background-color: white; color: blue;" >                                
                                 
                                {% endfor %}                      
                            </div>   -->
                            <!-- <input type="button" style="display: inline;" value="click" onclick="attach()"> -->
                            
                                                  
                        </div>
                     
                    </form> 
                </div>
            </div>
        </div>


    <script>
        function disable_add(){
            var x = document.getElementById("task_plus");
        if (x.style.display === "none") {
            x.style.display = "none";
        } else {
            x.style.display = "none";
        }
            }
        function able_add(){
        var x = document.getElementById("task_plus");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "block";
        }
        }
       
    </script>
     <script>
        $(document).ready(function() {
       $("#reset").click(function() {
           $("input").val("");
           $("select").val('');
           $("textarea").val('');
       });
       $("#reset_").click(function() {
           $("input").val("");
           $("select").val('');
       });
   
   });
//    function qwert(){
    // var x = document.getElementById("edit_status").options[0].value;
    // if (x = "Completed"){
    //     <option value="Closed" selected="selected">Closed</option>
   </script>
  

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'js/feather.min.js' %}"></script>
        <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
        <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
    
 
    <script>
        function Details(title,description,end_date,attachment){
            
            document.getElementById('view_title').value = title;
            document.getElementById('view_desc').value = description;
            document.getElementById('view_date').value = end_date;                
            document.getElementById('view_attachment').value = attachment;
            
        }
    </script>



    <script>
         function edittaskDetails(title,description,end_date,assignee,status,attachment){
                document.getElementById('edit_title').value = title;
                document.getElementById('edit_desc').value = description;
                document.getElementById('edit_date_Id').value = end_date;
                document.getElementById('edit_Assignee').value = assignee;
                document.getElementById('my_task_id').value = my_taskid;
                document.getElementById('edit_status').value = status;
                document.getElementById('edit_attachment').value = attachment;
         }
         function editmytaskDetails(title,description,end_date,assignee,status,attachment){
                document.getElementById('edt_title').value = title;
                document.getElementById('edt_desc').value = description;
                document.getElementById('edt_date_Id').value = end_date;
                document.getElementById('edt_Assignee').value = assignee;
                document.getElementById('mytask_id').value = my_taskid;
                document.getElementById('edt_status').value = status;
                document.getElementById('edt_attachment').value = attachment;
         }
        console.clear();
        
        
        
        
        
        // Clear all CodePen's errors and warnings
        /*
        
        Requires:
        
        • jQuery | Boottrap v4.1+
        
        Overlay Scrollbars:
        https://kingsora.github.io/OverlayScrollbars/#!overview
        
        
        TODO:
        
        • fix left-sidebar srolling when overflowing. Avoid default scrollbar style.
        • Dim screen when opening sidebar?
        • Add extra brand logo and menu icon on open?
        • Add footer to left sidebar.
        • Support a right sidebar?
        • Sidebar animation, history/navigation fix.
        • Use hardware acceleration for animated sidebar?
        • Partial icon view for sidebar collapse?
        
        */

        var body = $(document.body),
            open_left_sidebar = "open-left-sidebar",
            sidebar_btn = $("#sidebar_btn"),
            left_sidebar = $("#left_sidebar"),
            anchors = $(".sidebar-elements li a", left_sidebar),
            wrapper = $(".be-wrapper"),
            menu_speed = 200;

        // Only for debugging (stop page navigating away)
    //     $(
    //         ".be-wrapper > .navbar a, \
    //    .be-wrapper > .be-left-sidebar a"
    //     ).attr("href", "#" + Math.random());

        // Updated: 2018.12
        // By default both '.be-animate' and '.be-offcanvas-menu'
        // should be placed in the body tag.
        // Using '.open-left-sidebar' to open the sidebar.
        // $(document.body)
        //     .addClass("be-animate be-offcanvas-menu open-left-sidebar");

        // Updated: 2019.03.11 @ 17:49:23
        // Only for debugging (extending menus and testing scrollbar)
        $("#debug_only_menuopen")
            .addClass("open")
            .find(".sub-menu > .parent")
            .addClass("open");

        function toggle_sidebar() {
                body.toggleClass(open_left_sidebar);
            }

        sidebar_btn.on(
            "click",
            debounce(toggle_sidebar, 200, true)
        );

        // Updated: 2019.14.03 @ 18:09:27
        /** Scrollbar Support (Change with what ever scollbar plugin you need) **/
        var scrollbar = OverlayScrollbars(
            $(".left-sidebar-scroll")[0],
            {
                scrollbars: {
                    autoHide: "leave",
                    autoHideDelay: 100
                }
            }
        );

        // Updated: 2019.01.12 @ 18:39:59
        

        // Updated: 2020.01.08 @ 19:42:34
        /** Operate submenus **/
        anchors.on("click", function (event) {
            var $el = $(this),
                $li = $el.parent(),
                $subMenu = $el.next(),
                $open = $li.siblings(".open");

            //console.log($subMenu);
            //$el.parents().eq(1).hasClass("sidebar-elements");

            if ($li.hasClass("open")) {
                slideUp($subMenu, event);
            } else {
                slideDown($el, event);
            }

            if ($el.next().is("ul")) {
                event.stopPropagation();
                event.preventDefault();
            }
        });

        function isCollapsibleSidebarCollapsed() {
            return wrapper.hasClass("be-collapsible-sidebar-collapsed");
        }

        function slideUp($subMenu, event) {
            var target = $(event.currentTarget),
                parent = $($subMenu).parent(),
                item = $("li.open", parent),
                isRoot = !target.closest(left_sidebar).length,
                speed = menu_speed,
                hasElements = target.parents()
                    .eq(1)
                    .hasClass("sidebar-elements");

            //console.log(event);


            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                (hasElements || isRoot)
            ) {
                parent.removeClass("open");
                $subMenu.removeClass("visible");
                item.removeClass("open").removeAttr("style");
            } else {
                $subMenu.slideUp({
                    duration: speed,
                    complete: function () {
                        parent.removeClass("open");
                        $(this).removeAttr("style");
                        item.removeClass("open").removeAttr("style");
                    }
                });
            }
        }

        function slideDown($this, event) {
            var $el = $($this),
                parent = $el.parent(),
                next = $($el).next(),
                speed = menu_speed,
                hasElements = $(event.currentTarget)
                    .parents()
                    .eq(1)
                    .hasClass("sidebar-elements"),
                siblingsOpen = parent.siblings(".open");

            //console.log("$this: ", $this);
            //console.log("slideDown: ", $(event.currentTarget));

            if (siblingsOpen) {
                slideUp(
                    $("> ul", siblingsOpen),
                    event
                );
            }

            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                hasElements
            ) {
                parent.addClass("open");
                next.addClass("visible");
            } else {
                next.slideDown({
                    duration: speed,
                    complete: function () {
                        parent.addClass("open");
                        $(this).removeAttr("style");
                    }
                });
            }
        }

        // Updated: 2019.01.02 @ 12:00:00
        /** AUTO close with user clicks or taps away from sidebar **/
        $(document.body).on(
            "mousedown touchstart",
            function (event) {
                if (
                    !$(event.target).closest(left_sidebar).length &&
                    !$(event.target).closest(sidebar_btn).length &&
                    body.hasClass(open_left_sidebar)
                ) {
                    body.removeClass(open_left_sidebar);
                }
            }
        );

        // Updated: 2019.01.03 @ 13:03:58
        /***************************/
        /** Bootstrap Breakpoints **/
        /***************************/
        (function (e) { e.isBreakpoint = function (t) { var o, i, a; switch (t) { case "xs": a = "d-none d-sm-block"; break; case "sm": a = "d-none d-md-block"; break; case "md": a = "d-none d-lg-block"; break; case "lg": a = "d-none d-xl-block"; break; case "xl": a = "d-none" }return i = (o = e("<div/>", { class: a }).appendTo("body")).is(":hidden"), o.remove(), i }, e.extend(e, { isXs: function () { return e.isBreakpoint("xs") }, isSm: function () { return e.isBreakpoint("sm") }, isMd: function () { return e.isBreakpoint("md") }, isLg: function () { return e.isBreakpoint("lg") }, isXl: function () { return e.isBreakpoint("xl") } }) })(jQuery);

        // Updated: 2019.01.12 @ 18:36:59
        /***************************/
        /** Underscore.js debounce function **/
        /***************************/
        function debounce(a, b, c) { var d, e, f, g, h; var l = function () { return new Date().getTime(); }; var i = function () { var j = l() - g; if (j < b && j >= 0) { d = setTimeout(i, b - j); } else { d = null; if (!c) { h = a.apply(f, e); if (!d) { f = e = null; } } } }; return function () { f = this; e = arguments; g = l(); var k = c && !d; if (!d) { d = setTimeout(i, b) }; if (k) { h = a.apply(f, e); f = e = null; } return h; }; };

    </script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("input[type=datetime-local]",{});

    </script>
    
        <script>$(document).ready(function () {
                // Activate tooltip
                $('[data-toggle="tooltip"]').tooltip();

                // Select/Deselect checkboxes
                var checkbox = $('table tbody input[type="checkbox"]');
                $("#selectAll").click(function () {
                    if (this.checked) {
                        checkbox.each(function () {
                            this.checked = true;
                        });
                    } else {
                        checkbox.each(function () {
                            this.checked = false;
                        });
                    }
                });
                checkbox.click(function () {
                    if (!this.checked) {
                        $("#selectAll").prop("checked", false);
                    }
                });
            });

           
          

    
        </script>
  
        <script src="{% static 'js/cleardata.js' %}"></script>

</body>

</html>