{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Cydez Technologies</title>
    <!-- <link rel="shortcut icon" type="image/jpeg" href="../static/images/logo.jpeg"> -->
    <link rel="shortcut icon" type="image/jpeg" {% for i in logos %}  href="/media/{{i.add_logo}}" {% endfor %}>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="msapplication-tap-highlight" content="no">

    <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'plugins/select2/css/select2.min.css'%}">
<link rel="stylesheet" href="{% static 'all-min.css'%}">
<link href="{% static 'style2.css' %}" rel="stylesheet">
<link href="{% static 'plugins/fontawesome/css/fontawesome.min.css'%}">
<link href="{% static 'plugins/fontawesome/css/all.min.css'%}">
<link href="{% static 'plugins/datatables/datatables.min.css'%}">
<link rel="stylesheet" href="https://kanakku.dreamguystech.com/html/template/assets/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<!-- <link href="{% static 'bootstrap-datetimepicker.min.css'%}">  -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.c   ss"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <style>
        .statusSection>button{
            border:none;
            outline:none;
            border-radius: 4px;
        }
        .updateButton{
            border:none;
            outline:none;
            padding:6px 8px;
            border-radius: 4px;
            color:white !important;
        }
        .updateButton>i{
            font-size:100%;
        }
        .has-details {
        position: relative;
        }

        .details {
        position: absolute;
        top:auto;
        transform: translateY(70%) scale(0);
        transition: transform 0.1s ease-in;
        transform-origin: left;
        display: inline-block;
        background-color:rgb(240, 240, 240);
        z-index: 20;
        padding: 0.5rem ;
        
        }
        

        .has-details:hover span {
        transform: translateY(70%) scale(1);
        }

        tr {
        border-collapse: collapse;
        }
        .table > tbody > tr > td {
            /* white-space: normal; */
           padding: 10px;
           white-space: normal;
        } 
       
        body {
            text-align:left;
            font-size: 14px;
        }
        .datepicker {
            font-size: 0.875em;
        }
        /* solution 2: the original datepicker use 20px so replace with the following:*/
        
        .datepicker td, .datepicker th {
            width: 1.5em;
            height: 1.5em;
        }
     
            /* </script> */
    </style>
<!-- <script type="text/javascript"> 
       $('.datepicker').datepicker({
    format: 'mm/dd/yyyy',
    startDate: '-3d'
}); 
    // $('#datepicker').datepicker({
    //     weekStart: 0,
    //     // daysOfWeekHighlighted: "1,2,3,4,5,6",
    //     autoclose: true,
    //     todayHighlight: true,
    // });
    // $('#datepicker').datepicker("setDate", new Date());
    </script>-->
    
        

</head>

<body>


    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <!-- <a href="" class="logo">
                    <img src="../static/images/logo_4.png" alt="Logo">
                </a>
                <a href="" class="logo logo-small">
                    <img src="../static/images/logo_4.png" alt="Logo" width="30" height="30">
                </a> -->
                {% for i in logos %}
                <a href="" class="logo">                  
                    <img src="/media/{{i.add_logo}}" alt="">
                    
                </a>
                <a href="" class="logo logo-small">
                    <img src="/media/{{i.add_logo}}" alt="Logo" width="30" height="30">
                </a>
                {% endfor %}
            </div>


            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-bars"></i>
            </a>


            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav nav-tabs user-menu">

               

                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#" id="billling_usrname" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="assets/img/profiles/avatar-01.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                        <span>{{user.email}}</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="billing_lout" href="{% url 'userlogout' %}" onclick="return clearAll();"><i data-feather="log-out" class="me-1"></i>
                            Logout</a>
                    </div>
                </li>

            </ul>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        
                        <li >
                            <a href="{% url 'dashboard' %}"><i data-feather="home"></i> <span>Dashboard</span></a>
                        </li>
                        <li class="active">
                            <a href="{% url 'Totalbilling' %}"><i data-feather="file-text"></i> <span>Billing</span></a>
                        </li>
                        <li>
                            <a href="{% url 'taskschedular' %}"><i data-feather="file-text"></i> <span> Task Schedular</span></a>
                        </li>
                        <li >
                            <a href="{% url 'task' %}"><i data-feather="file-plus"></i> <span>Task</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listUser' %}"><i data-feather="users"></i> <span>Users</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listclient' %}"><i data-feather="clipboard"></i> <span>Projects</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listProject' %}"><i data-feather="credit-card"></i> <span>Estimation</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listEngagements' %}"><i style='font-size:18px' class='far'>&#xf1ad;</i> <span>Accounts</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listconsultant' %}"><i style='font-size:18px' class='fas'>&#xf508;</i><span>Account Manager</span> </a>
                        </li>
                        <li>
                            <a href="{% url 'pending' %}"><i data-feather="file"></i> <span>Missing Timesheet</span> </a>
                        </li>
                        <li>
                            <a href="{% url 'list_knowledge' %}"><i data-feather="book-open"></i> <span>Knowledge Center</span> </a>
                        </li>
                        <li class="nav-item has-submenu">
                            <a class="nav-link" href="#"> <i data-feather="settings"> </i> <span> Settings</span>   </a></i>
                            <ul class="submenu collapse">
                                <li><a class="nav-link" href="{% url 'setting' %}">Departments </a></li>
                                <li><a class="nav-link" href="{% url 'list_Designations' %}">Designation</a></li>
                                <li><a class="nav-link" href="{% url 'add_logo' %}">Logo</a></li>
                                <li><a class="nav-link" href="{% url 'listec' %}">Email Configuration</a></li>
                               <!-- <li><a class="nav-link" href="#">Submenu item 3 </a> </li>-->
                            </ul>
                        </li>
                       
                        <!-- <li>
                            <a href="{% url 'estimation_admin' %}"><i data-feather="settings"></i> <span>Generate Estimate</span></a>
                        </li> -->
                     
                        
                        
                    </ul>
                </div>
            </div>
        </div>


        <div class="page-wrapper">
            <div class="content container-fluid">
               
                <!-- <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                           
                        </div>
                       
                    </div>
                </div> -->
                
                
                <div style="height:0px;" class="card filter-card">
                    <div style="margin-top:-28px;">
                        <div class="row">
                            <form method="GET" action="{% url 'Totalbilling' %}">
                                
                                <div class="search-container ">
                                <div class="input-group input-group-sm mx-auto">
                                    <div class="form-control" style="margin-right: 5px;" >
                                <!-- <select name="name"  style="width: 150px; height: 35px; font-size: 15px; margin-left: 1; border-color: blue;"> -->
                                    <select class="dropdown-item" id="search1" name="name" >
                                    <option disabled="true" selected>Project</option>
                                  {% for i in l %}
                                    <option value="{{i.id}}" {% if i.id == p %}  selected  {% endif %}> {{i.clientName}} </option>
                                  {% endfor %}
                                </select>
                                </div>
                                <div class="form-control"  style="margin-right: 5px;">
                                    <select  class="dropdown-item"id="search2" name="employee" >
                                        <option disabled="true" selected>Employee</option>
                                    {% for i in k %} 
                                        <option value="{{i.id}}" {% if i.id == e %} selected  {% endif %}> {{i.first_name}} </option>
                                    {% endfor %}
                                    </select>
                                </div>

                                
                                
                                
                                    
    
                                
                                <!-- <input type="datetime-local" id="Test_DatetimeLocal"-->
                                 <input  style="margin-right: 5px;" class="form-control" id="dt1" name="end_date" type="date" value="{{enddate}}" placeholder="yyyy-mm-dd" onkeydown="event.preventDefault()" >
                                 <input   style="margin-right: 5px;" class="form-control" id="dt" name="start_date" type="date" value="{{startdate}}" placeholder="yyyy-mm-dd" onkeydown="event.preventDefault()" >
                                 
                                    
                               
                                 
                               <div class="form-control"  style="margin-right: 5px;">
                                 <select  class="dropdown-item" id="number" name="status" >
                                    <option value="">Status</option>
                                    <option value="1" {% if search_variables.status__contains == '1' %} selected  {% endif %}> Approved </option>  
                                    
                                    <option value="0" {% if search_variables.status__contains == '0' %} selected  {% endif %}> Rejected</option>
                                    
                                </select>
                              </div>
                                 <button id="search4" class="button button1 btn-primary"  style="margin-left: 10px; height: 40px;">Search  </button>
                            </form>
                            <button style="margin-left: 2px; height: 40px;" class="button button1 btn-primary" id="billing_dwnloadbtn"><a href="media/csv/billing.xlsx" style="color:white" class="button button1">Download</a></button>&nbsp;
                            <a href="{% url 'Totalbilling' %}" style="height: 40px;" class="btn-lg btn-primary  " id="Billing_rst" title="Reset"> <i style="font-size:medium;margin-bottom: 3px; margin-bottom: 5px; " class='fas fa-sync'></i></a> 
                            
                            
                        </div>
                       
                  
                        </div>
                    </div>
            </div>
        </div>
                
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title" style="text-align:left">Billing</h5>
                                    </div>
                                    <div class="col-auto">
                                        <!--<a href="{% url 'approve_all' %}" class="btn-lg btn-primary" id="approve">
                                            <span>&#10004</span> 
                                          </a>-->
                                          <button style="margin-left: 2px;" class="btn  btn-block btn-primary" >
                                            <a href="{% url 'approve_all' %}" name="approveall" title="Approve All" style="color:white"  id="approve" class="button">&#10004</a></button>
                                        <!-- <a href="#" class= "button button1 btn-primary"> -->
                                            <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
                                            <!-- <span class="glyphicon ">&#x2611</span>   -->
                                          <!-- </a> -->
                                                 <!--button style="margin-left: 2px;" class="btn btn-lg btn-block btn-primary"><a href="{% url 'pending' %}" class="button">Pending Task</a></button--> 
                          
                                        
                                    </div>
                                    <!-- <div class="col-auto">
                                        <div class="dropdown">
                                            <button class="btn btn-white btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            Monthly
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li>
                                            <a href="javascript:void(0);" class="dropdown-item">Weekly</a>
                                            </li>
                                            <li>
                                            <a href="javascript:void(0);" class="dropdown-item">Monthly</a>
                                            </li>
                                            <li>
                                             <a href="javascript:void(0);" class="dropdown-item">Yearly</a>
                                            </li>
                                            </ul>
                                            </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <div class="progress progress-md rounded-pill mb-3">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 47%"
                                            aria-valuenow="47" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 28%"
                                            aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 15%"
                                            aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 10%"
                                            aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-stripped table-hover  table-task">
                                        <thead class="thead-light">
                                           <tr>
                                               <th >Name</th>
                                                <th>Date</th>
                                                <th >Project</th>
                                                <th >Task</th>
                                                <th >Hours</th>
                                                <th >Status</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in datas %}
                                                
                                            <tr class='has-details'>                                                
                                                <td >{{i.employee.first_name}}</td>
                                                <td >{{i.day}}<br>{{i.date}}</td>
                                                <td >{{i.project}}</td>
                                                <td style="width:400px">{{i.taskdetails}}</td>
                                                <td >{{i.hours}}</td>
                                                
                                                
                                                  
                                                <td id="statusSection{{i.id}}">
                                                <form>
                                                    <button type="button" title="Approve" value="1" name="action"  class="updateButton action approve" onclick="changeStatus('Are you sure you want to accept this time sheet?','{{i.id}}',this.value,this.id);" id="accept{{i.id}}" {% if i.status == True %} style="background-color: mediumseagreen;" disabled {% endif %}>
                                                        <!-- <svg class="svg-inline--fa fa-check-circle fa-w-16" data-fa-pseudo-element-pending-before="check-circle" aria-hidden="true" focusable="false" data-prefix="far" data-icon="check-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"></path></svg><i class="far fa-check-circle"><svg data-fa-pseudo-element=":before" data-prefix="far" data-icon="check-circle" class="svg-inline--fa fa-check-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"></path></svg></i> -->
                                                        <i class="far fa-check-circle"></i>  
                                                    </button>
                                                      <button type="button" title="Reject" value="0" name="action"  class="updateButton action reject" onclick="changeStatus('Are you sure you want to reject this time sheet?','{{i.id}}',this.value,this.id);" id="reject{{i.id}}"  {% if i.status == False %} style="background-color: #db3545;" disabled {% endif %}>
                                                        <!-- <svg class="svg-inline--fa fa-times-circle fa-w-16" data-fa-pseudo-element-pending-before="times-circle" aria-hidden="true" focusable="false" data-prefix="far" data-icon="times-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 295.6l-62.2 62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3 0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2 62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17z"></path></svg><i class="far fa-times-circle"><svg data-fa-pseudo-element=":before" data-prefix="far" data-icon="times-circle" class="svg-inline--fa fa-times-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 295.6l-62.2 62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3 0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2 62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17z"></path></svg></i> -->
                                                        <i class="far fa-times-circle"></i>
                                                      </button>

                                                      <!-- {% comment %} <button type="button" onclick="changeStatus('{{i.id}}',this.value,this.id);" >Submit</button> {% endcomment %} -->

                                                       <!-- <button type="button" value="1" name="action" class="updateButton action approve" onclick="show()"  onclick="changeStatus('{{i.id}}',this.value,this.id);" id="accept{{i.id}}" {% if i.status == True %} style="background-color: mediumseagreen;" disabled {% endif %}>
                                                          <i class="far fa-check-circle"></i>
                                                        </button>
                                                        <button type="button" value="0" name="action" class="updateButton action reject" onclick="shows()"  onclick="changeStatus('{{i.id}}',this.value,this.id);" id="reject{{i.id}}"   {% if i.status == False %} style="background-color: #db3545;" disabled {% endif %}>
                                                          <i class="far fa-times-circle"></i>
            
                                                        </button> -->
                                                        <!-- {% comment %} <button type="button" onclick="changeStatus('{{i.id}}');">Submit</button> {% endcomment %} -->
                                                      </form> 
                                                </td>
                                                
                                            </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="container" >                
                                    {% for message in messages %}
                                     <div style="text-align: center;" ><br>
                                        {{ message }}
                                      </div>
                                    {% endfor %}
                                </div>
                                <div class="paginator" style="width:100%;display: flex;justify-content: space-between;align-items: center;">
                                    <div style="float:left; margin-top: 20px;">
                                    Showing {{ datas.start_index}} to {{ datas.end_index }} of {{ datas.paginator.count }} entries
                                    </div>
                                    <div style="float:right;"><br>
                                      <nav aria-label="Page navigation example">
                              
                                        
                                          <ul class="pagination">
                                            {% if datas.has_previous %}
                                            <li class="page-item">
                                              <a class="page-link" href="?page={{ datas.previous_page_number }}&name={{request.GET.name}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&employee={{request.GET.employee}}">&laquo; Previous</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item disabled">
                                              <a class="page-link">&laquo; </a>
                                            </li>
                                            {% endif %}
                                            {% for i in datas.paginator.page_range %} 
                                            <!-- {# {% if datas.number == i %} #} -->
                                            {% if i <= datas.number|add:5 and i >= datas.number|add:-5 %}
                              
                                            {% if datas.number == i %}
                                            <li class="page-item active">
                                              <a class="page-link" href="?page={{forloop.counter}}&name={{request.GET.name}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&employee={{request.GET.employee}}">{{forloop.counter}}</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item">
                                              <a class="page-link" href="?page={{forloop.counter}}&name={{request.GET.name}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&employee={{request.GET.employee}}">{{forloop.counter}}</a>
                                            </li>
                                            {% endif %}
                              
                                            {% endif %}
                                            {% endfor %} 
                              
                                            {% if datas.has_next %}
                              
                                            <li class="page-item">
                                              <a class="page-link" href="?page={{ datas.next_page_number }}&name={{request.GET.name}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&employee={{request.GET.employee}}">&raquo; Next</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item disabled">
                                              <a class="page-link"> &raquo;</a>
                                            </li>
                                            {% endif %}
                                          </ul>
                                        
                              
                                      </nav>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
       


    <div class="be-wrapper be-offcanvas-menu be-fixed-sidebar">
       
        <div class="be-content">
            <div class="container">
                <div class="table-wrapper">
                    <div class="row">
                            <!-- <form method="GET" action="{% url 'Totalbilling' %}">
                                
                                <div class="search-container ">
                                <div class="input-group input-group-sm mx-auto">
                                
                                    <select class="form-control" id="search" name="name" >
                                    <option disabled="true" selected>--SelectProject--</option>
                                  {% for i in l %}
                                    <option value="{{i.id}}" {% if i.id == p %}  selected  {% endif %}> {{i.clientName}} </option>
                                  {% endfor %}
                                </select>
                                &nbsp;&nbsp;&nbsp;&nbsp;<select class="form-control" id="search" name="employee" >
                                    <option disabled="true" selected>--Employee--</option>
                                  {% for i in k %} 
                                    <option value="{{i.id}}" {% if i.id == e %} selected  {% endif %}> {{i.first_name}} </option>
                                  {% endfor %}
                                </select>
                                 &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control" id="search" name="end_date" type="date" value={{enddate}}  >
                                 &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control" id="search" name="start_date" type="date"value={{startdate}}  >
                                 &nbsp;&nbsp;&nbsp;&nbsp;
                                 <select class="form-control" id="search" name="status" >
                                    <option value="" >----Status---</option>
                                    <option value="0" {% if search_variables.status__contains == '0' %} selected  {% endif %}> Rejected</option>
                                  <option value="1" {% if search_variables.status__contains == '1' %} selected  {% endif %}> Approve </option>         
                            

                                    </select>
                                 <button style="margin-left: 10px;" class="button button1">Search  </button>
                            </form>
                            <button style="margin-left: 2px;" class="button button1"><a href="media/csv/billing.xlsx" class="button button1">Download</a></button>
                            <button style="margin-left: 2px;" class="button button1"><a href="{% url 'Totalbilling' %}" class="button button1">Reset</a></button> 
                            
                            
                        </div>
                        <button style="margin-left: 2px;" class="button"><a href="{% url 'approve_all' %}" class="button">Approve All</a></button>
                        <button style="margin-left: 2px;" class="button"><a href="{% url 'pending' %}" class="button">Pending Task</a></button>
                    </div> -->
                    <!-- <div class="table-responsive">
                        <table class="table table-striped table-hover"> 
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Day</th>
                                    <th>Project</th>
                                    <th>Task</th>
                                    <th>Hours</th>
                                    <th>Status</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in datas %}
                                <tr>
                                    <td>{{i.employee.first_name}}</td>
                                    <td>{{i.date}}</td>
                                    <td>{{i.day}}</td>
                                    <td>{{i.project}}</td>
                                    <td>{{i.taskdetails}}</td>
                                    <td>{{i.hours}}</td>
                                    <td id="statusSection{{i.id}}">
                                        <form>
                                   
                                           <button type="button" value="1" name="action" class="updateButton action approve" onclick="changeStatus('{{i.id}}',this.value,this.id);" id="accept{{i.id}}" {% if i.status == True %} style="background-color: mediumseagreen;" disabled {% endif %}>
                                              <i class="far fa-check-circle"></i>
                                            </button>
                                            <button type="button" value="0" name="action" class="updateButton action reject" onclick="changeStatus('{{i.id}}',this.value,this.id);" id="reject{{i.id}}"   {% if i.status == False %} style="background-color: #db3545;" disabled {% endif %}>
                                              <i class="far fa-times-circle"></i>

                                            </button>
                                            {% comment %} <button type="button" onclick="changeStatus({{i.id}});">Submit</button> {% endcomment %}
                                          </form> 
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> -->
                 
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

    <script>
        function changeStatus(message,taskId,status,eleId){
            
                $.ajax({
                    method: "POST",
                    url: "",
                    data: { taskId: taskId, status: status }
                    })
                    .done(function( response ) {
                    if(response['status']){
                        if(response['button']){
                            document.getElementById(eleId).style.backgroundColor = '#3cb371';
                            document.getElementById('reject'+taskId).style.backgroundColor = '#efefef';
                            document.getElementById(eleId).disabled = true;
                            document.getElementById('reject'+taskId).disabled = false;
                        }else{
                            document.getElementById(eleId).style.backgroundColor = '#db3545';
                            document.getElementById('accept'+taskId).style.backgroundColor = '#efefef';
                            document.getElementById(eleId).disabled = true;
                            document.getElementById('accept'+taskId).disabled = false;
                        }
                    }else{ 
                        alert("Internal issue");
                    }
                    });
            
           
        }
    </script>

    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.6.3/js/jquery.overlayScrollbars.min.js"></script> -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'js/feather.min.js' %}"></script>
        <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
        <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
    
    <!-- <script>
        $(document).ready(function(){
            $('.updateButton').on('click',function(){
                var status_id = $(this).attr('status_id');
                req = $.ajax({
                    url :'/Totalbilling',
                    type:'POST',
                });
                $('#statusSection'+status_id).fadeOut(1000).fadeIn(1000);
            });
        });
    </script> -->
    
        <script>console.clear(); // Clear all CodePen's errors and warnings
        /*
        
        Requires:
        
        • jQuery | Boottrap v4.1+
        
        Overlay Scrollbars:
        https://kingsora.github.io/OverlayScrollbars/#!overview
        
        
        TODO:
        
        • fix left-sidebar srolling when overflowing. Avoid default scrollbar style.
        • Dim screen when opening sidebar?
        • Add extra brand logo and menu icon on open?
        • Add footer to left sidebar.
        • Support a right sidebar?
        • Sidebar animation, history/navigation fix.
        • Use hardware acceleration for animated sidebar?
        • Partial icon view for sidebar collapse?
        
        */

        var body = $(document.body),
            open_left_sidebar = "open-left-sidebar",
            sidebar_btn = $("#sidebar_btn"),
            left_sidebar = $("#left_sidebar"),
            anchors = $(".sidebar-elements li a", left_sidebar),
            wrapper = $(".be-wrapper"),
            menu_speed = 200;

        // Only for debugging (stop page navigating away)
    //     $(
    //         ".be-wrapper > .navbar a, \
    //    .be-wrapper > .be-left-sidebar a"
    //     ).attr("href", "#" + Math.random());

        // Updated: 2018.12
        // By default both '.be-animate' and '.be-offcanvas-menu'
        // should be placed in the body tag.
        // Using '.open-left-sidebar' to open the sidebar.
        // $(document.body)
        //     .addClass("be-animate be-offcanvas-menu open-left-sidebar");

        // Updated: 2019.03.11 @ 17:49:23
        // Only for debugging (extending menus and testing scrollbar)
        $("#debug_only_menuopen")
            .addClass("open")
            .find(".sub-menu > .parent")
            .addClass("open");

        function toggle_sidebar() {
                body.toggleClass(open_left_sidebar);
            }

        sidebar_btn.on(
            "click",
            debounce(toggle_sidebar, 200, true)
        );

        // Updated: 2019.14.03 @ 18:09:27
        /** Scrollbar Support (Change with what ever scollbar plugin you need) **/
        var scrollbar = OverlayScrollbars(
            $(".left-sidebar-scroll")[0],
            {
                scrollbars: {
                    autoHide: "leave",
                    autoHideDelay: 100
                }
            }
        );
        

        // Updated: 2019.01.12 @ 18:39:59
        

        // Updated: 2020.01.08 @ 19:42:34
        /** Operate submenus **/
        anchors.on("click", function (event) {
            var $el = $(this),
                $li = $el.parent(),
                $subMenu = $el.next(),
                $open = $li.siblings(".open");

            //console.log($subMenu);
            //$el.parents().eq(1).hasClass("sidebar-elements");

            if ($li.hasClass("open")) {
                slideUp($subMenu, event);
            } else {
                slideDown($el, event);
            }

            if ($el.next().is("ul")) {
                event.stopPropagation();
                event.preventDefault();
            }
        });

        function isCollapsibleSidebarCollapsed() {
            return wrapper.hasClass("be-collapsible-sidebar-collapsed");
        }

        function slideUp($subMenu, event) {
            var target = $(event.currentTarget),
                parent = $($subMenu).parent(),
                item = $("li.open", parent),
                isRoot = !target.closest(left_sidebar).length,
                speed = menu_speed,
                hasElements = target.parents()
                    .eq(1)
                    .hasClass("sidebar-elements");

            //console.log(event);


            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                (hasElements || isRoot)
            ) {
                parent.removeClass("open");
                $subMenu.removeClass("visible");
                item.removeClass("open").removeAttr("style");
            } else {
                $subMenu.slideUp({
                    duration: speed,
                    complete: function () {
                        parent.removeClass("open");
                        $(this).removeAttr("style");
                        item.removeClass("open").removeAttr("style");
                    }
                });
            }
        }

        function slideDown($this, event) {
            var $el = $($this),
                parent = $el.parent(),
                next = $($el).next(),
                speed = menu_speed,
                hasElements = $(event.currentTarget)
                    .parents()
                    .eq(1)
                    .hasClass("sidebar-elements"),
                siblingsOpen = parent.siblings(".open");

            //console.log("$this: ", $this);
            //console.log("slideDown: ", $(event.currentTarget));

            if (siblingsOpen) {
                slideUp(
                    $("> ul", siblingsOpen),
                    event
                );
            }

            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                hasElements
            ) {
                parent.addClass("open");
                next.addClass("visible");
            } else {
                next.slideDown({
                    duration: speed,
                    complete: function () {
                        parent.addClass("open");
                        $(this).removeAttr("style");
                    }
                });
            }
        }

        // Updated: 2019.01.02 @ 12:00:00
        /** AUTO close with user clicks or taps away from sidebar **/
        $(document.body).on(
            "mousedown touchstart",
            function (event) {
                if (
                    !$(event.target).closest(left_sidebar).length &&
                    !$(event.target).closest(sidebar_btn).length &&
                    body.hasClass(open_left_sidebar)
                ) {
                    body.removeClass(open_left_sidebar);
                }
            }
        );

        // Updated: 2019.01.03 @ 13:03:58
        /***************************/
        /** Bootstrap Breakpoints **/
        /***************************/
        (function (e) { e.isBreakpoint = function (t) { var o, i, a; switch (t) { case "xs": a = "d-none d-sm-block"; break; case "sm": a = "d-none d-md-block"; break; case "md": a = "d-none d-lg-block"; break; case "lg": a = "d-none d-xl-block"; break; case "xl": a = "d-none" }return i = (o = e("<div/>", { class: a }).appendTo("body")).is(":hidden"), o.remove(), i }, e.extend(e, { isXs: function () { return e.isBreakpoint("xs") }, isSm: function () { return e.isBreakpoint("sm") }, isMd: function () { return e.isBreakpoint("md") }, isLg: function () { return e.isBreakpoint("lg") }, isXl: function () { return e.isBreakpoint("xl") } }) })(jQuery);

        // Updated: 2019.01.12 @ 18:36:59
        /***************************/
        /** Underscore.js debounce function **/
        /***************************/
        function debounce(a, b, c) { var d, e, f, g, h; var l = function () { return new Date().getTime(); }; var i = function () { var j = l() - g; if (j < b && j >= 0) { d = setTimeout(i, b - j); } else { d = null; if (!c) { h = a.apply(f, e); if (!d) { f = e = null; } } } }; return function () { f = this; e = arguments; g = l(); var k = c && !d; if (!d) { d = setTimeout(i, b) }; if (k) { h = a.apply(f, e); f = e = null; } return h; }; };

    </script>
    
    <script>$(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });

        
       
    </script>
    <script>
    $("#dt").change(function () {
        var startDate = document.getElementById("dt").value;
        var endDate = document.getElementById("dt1").value;
    
        if ((Date.parse(startDate) < Date.parse(endDate))) {
            alert("End date should be greater than Start date");
            document.getElementById("dt").value = "";
        }
    }); 
        </script>
   
    
    <script>
              // To disable future dates 
            document.getElementById('dt').max = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];
            document.getElementById('dt1').max = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];
            //var today = new Date().toISOString().split('T')[0];
            //document.getElementsByName("start_date")[0].setAttribute('max', today);
            //var today = new Date().toISOString().split('T')[0];
            //document.getElementsByName("end_date")[0].setAttribute('max', today);
         </script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("input[type=datetime-local]",{});

    </script>
    <script>


        (function() {
    
            var idleDurationSecs = 1800;
            var redirectUrl = 'https://sf.prod-app.in/';  // Redirect idle users to this URL
            var idleTimeout;
    
            var resetIdleTimeout = function() {
              if(idleTimeout) clearTimeout(idleTimeout);
    
    
              idleTimeout = setTimeout(function(){
                location.href = redirectUrl
              },  idleDurationSecs * 1000);
            };
    
            resetIdleTimeout();
    
            ['click', 'touchstart', 'mousemove'].forEach(function(evt) {
              document.addEventListener(evt, resetIdleTimeout, false)
            });
        })();
    </script>
         
    <script src="{% static 'js/cleardata.js' %}"></script>
</body>

</html>