{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Cydez Technologies </title>
    <!-- <link rel="shortcut icon" type="image/jpeg" href="../static/images/logo.jpeg"> -->
    <link rel="shortcut icon" type="image/jpeg" {% for i in logos %}  href="/media/{{i.add_logo}}" {% endfor %}>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="msapplication-tap-highlight" content="no">

    <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'plugins/select2/css/select2.min.css'%}">
<link rel="stylesheet" href="{% static 'all-min.css'%}">
<link href="{% static 'style2.css' %}" rel="stylesheet">
<link href="{% static 'plugins/fontawesome/css/fontawesome.min.css'%}">
<link href="{% static 'plugins/fontawesome/css/all.min.css'%}">
<link href="{% static 'plugins/datatables/datatables.min.css'%}">
<link rel="stylesheet" href="https://kanakku.dreamguystech.com/html/template/assets/css/bootstrap-datetimepicker.min.css">
<link href="{% static 'bootstrap-datetimepicker.min.css'%}">
<script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>

<style>
    .switch {
          position: relative;
          display: inline-block;
          width: 50px;
          height: 24px;
        }
        
        .switch input { 
          opacity: 0;
          width: 0;
          height: 0;
        }
        
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }
        
        .slider:before {
          position: absolute;
          content: "";
          height: 19px;
          width: 19px;
          left: 3px;
          bottom: 3px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }
        
        input:checked + .slider {
          background-color: #2196F3;
        }
        
        input:focus + .slider {
          box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
        
        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }
        
        .slider.round:before {
          border-radius: 50%;
        }
        span.deleteicon {
                position: relative;
                display: inline-flex;
        }
        span.deleteicon span {
            position: absolute;
            display: block;
            right: 68px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            color: #fff;
            background-color: #ccc;
            font: 13px monospace;
            text-align: center;
            margin-top: -20px;
            line-height: 1em;
            cursor: pointer;
        }
        tr {
        border-collapse: collapse;
        }
        .table-task td{
            /* white-space: normal; */
            white-space:normal ;
            /*word-wrap:normal;*/
            word-wrap:break-word;
        }
        .btns {
        /* background-color: rgb(245, 246, 247); */
        border: none;
        color: rgb(150, 131, 160);
        cursor: pointer;
        /* pointer-events: none; */
        /* font-size: 20px; */
        }
        .fa-passwd-reset   {
        font-size: 0.25rem;
        color: rgb(150, 131, 160);
        pointer-events: none;
        }
        .switch .labels {
        position: absolute;
        top: 8px;
        left: 50px;
        width: 100%;
        height: 100%;
        font-size: 12px;
        font-family: sans-serif;
        transition: all 0.4s ease-in-out;
         }

        .switch .labels::after {
            content: attr(data-off);
            position: absolute;
            right: 5px;
            color: #0e0d0d;
            opacity: 1;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
            transition: all 0.4s ease-in-out;
        }

        .switch .labels::before {
            content: attr(data-on);
            position: absolute;
            left: 5px;
            color: #161212;
            opacity: 0;
            text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
            transition: all 0.4s ease-in-out;
        }

        .switch input:checked~.labels::after {
            opacity: 0;
        }

        .switch input:checked~.labels::before {
            opacity: 1;
        }

        
</style>
   </head>

<body>




    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <!-- <a href="" class="logo">
                    <img src="../static/images/logo_4.png" alt="Logo">
                </a>
                <a href="" class="logo logo-small">
                    <img src="../static/images/logo_4.png" alt="Logo" width="30" height="30">
                </a> -->
                {% for i in logos %}
                <a href="" class="logo">                  
                    <img src="/media/{{i.add_logo}}" alt="">
                    
                </a>
                <a href="" class="logo logo-small">
                    <img src="/media/{{i.add_logo}}" alt="Logo" width="30" height="30">
                </a>
                {% endfor %}
            </div>


            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-bars"></i>
            </a>


            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav nav-tabs user-menu">
                <li class="nav-item dropdown has-arrow main-drop">
                    <a id="id_usr_email" href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="assets/img/profiles/avatar-01.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                        <span>{{user.email}}</span>
                    </a>
                    <div class="dropdown-menu">
                        
                        <a class="dropdown-item" id="drop_lout"  href="{% url 'userlogout' %}" onclick="return clearAll();"><i data-feather="log-out" class="me-1"></i>
                            Logout</a>
                    </div>
                </li>

            </ul>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        
                        <li>
                            <a href="{% url 'dashboard' %}"><i data-feather="home"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="{% url 'Totalbilling' %}"><i data-feather="file-text"></i> <span>Billing</span></a>
                        </li>
                        <li>
                            <a href="{% url 'taskschedular' %}"><i data-feather="file-text"></i> <span> Task Schedular</span></a>
                        </li>
                        <li >
                            <a href="{% url 'task' %}"><i data-feather="file-plus"></i> <span>Task</span></a>
                        </li>
                        <li  class="active">
                            <a href="{% url 'listUser' %}"><i data-feather="users"></i> <span>Users</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listclient' %}"><i data-feather="clipboard"></i> <span>Projects</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listProject' %}"><i data-feather="credit-card"></i> <span>Estimation</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listEngagements' %}"><i style='font-size:18px' class='far'>&#xf1ad;</i><span>Accounts</span></a>
                        </li>
                        <li>
                            <a href="{% url 'listconsultant' %}"><i style='font-size:18px' class='fas'>&#xf508;</i> <span>Account Manager</span> </a>
                        </li>
                        <li>
                            <a href="{% url 'pending' %}"><i data-feather="file"></i> <span>Missing Timesheet</span> </a>
                        </li>
                        <li>
                            <a href="{% url 'list_knowledge' %}"><i data-feather="book-open"></i> <span>Knowledge Center</span> </a>
                        </li>
                        <li class="nav-item has-submenu">
                            <a class="nav-link" href="#"> <i data-feather="settings"> </i> <span> Settings</span>   </a></i>
                            <ul class="submenu collapse">
                                <li><a class="nav-link" href="{% url 'setting' %}">Departments </a></li>
                                <li><a class="nav-link" href="{% url 'list_Designations' %}">Designation</a></li>
                                <li><a class="nav-link" href="{% url 'add_logo' %}">Logo</a></li>
                                <li><a class="nav-link" href="{% url 'listec' %}">Email Configuration</a></li>
                               <!-- <li><a class="nav-link" href="#">Submenu item 3 </a> </li>-->
                            </ul>
                        </li>
                       
                        <!-- <li>
                            <a href="{% url 'estimation_admin' %}"><i data-feather="settings"></i> <span>Generate Estimate</span></a>
                        </li> -->
                     
                        
                        
                    </ul>
                </div>
            </div>
        </div>


        <div class="page-wrapper">
            <div  class="content container-fluid">
              
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                           
                           
                        </div>
                       
                    </div>
                </div>
                
                <div  class="card filter-card">

                </div>
                
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div style="margin-top:-59px" class="card">
                            <div class="card-header">
                                <div  class="row">
                                    <div  class="col">
                                        <h5 class="card-title">Users </h5>
                                      
                                            <div  style="margin-top:-29px;float: right;" class="card-body pb-0">
                                                <div class="row">
                                                   
                                                    <form method="GET" >
                                                       
                                                        {% csrf_token %}
                                                         
                                                    <div style="margin-top:-15px;" class="search-container ">
                                                        <label  style="margin-top:-40px;margin-right: 630px;" class="switch">
                                                            <input type="checkbox" checked onchange="myfunction()">
                                                            <span class="slider round"></span>
                                                            <span class="labels" data-on="Active" data-off="Inactive"></span>
                                                          </label>
                                                        <div class="input-group input-group-sm mx-auto">                                                                                                        
                                                              <span class="deleteicon">
                                                            <input style="margin-top:-30px;margin-left:400px;" id="usr_srch" class="form-control search-input" type="text" name="q"
                                                                placeholder="Search"  value="{{ request.GET.q }}" >
                                                                <span onclick="var input = this.previousElementSibling; input.value = ''; input.focus();" id="cross"><a href="{% url 'listUser' %}">x</a></span>
                                                                <button style="margin-top:-30px;height:40px" id="srch_btn" class="button button1 btn-primary">Search</button>
                                                              </span>
                                                            </form>
                                                                <!--<button style="margin-left: 40px;" class="btn btn-lg btn-block btn-primary"><a id="add" style="color: white;" href="#addEmployeeModal" data-toggle="modal">Add User</a></button>-->
                            
                            
                                                        </div>
                                                       
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-auto">
                                        <a style="margin-top:1px;margin-left:-23px;" class="btn btn-primary"  href="#addEmployeeModal" data-toggle="modal">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                        <!-- <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                                            <i class="fas fa-filter"></i>
                                        </a> -->
                                    </div>
                                    <!-- <div class="col-auto">
                                        <div class="dropdown">
                                            <button class="btn btn-white btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            Monthly
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li>
                                            <a href="javascript:void(0);" class="dropdown-item">Weekly</a>
                                            </li>
                                            <li>
                                            <a href="javascript:void(0);" class="dropdown-item">Monthly</a>
                                            </li>
                                            <li>
                                             <a href="javascript:void(0);" class="dropdown-item">Yearly</a>
                                            </li>
                                            </ul>
                                            </div>
                                    </div> -->
                                </div>
                            </div>
                            <div  class="card-body">
                                <div class="mb-3">
                                    <div class="progress progress-md rounded-pill mb-3">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 47%"
                                            aria-valuenow="47" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 28%"
                                            aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 15%"
                                            aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 10%"
                                            aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                   
                                </div>
                                {% include 'messages.html' %}
                                <div id="hyId" style="display:none" class="table-responsive">
                                    <table class="table table-stripped table-hover table-task ">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Name</th>
                                                <th>Role</th>
                                                <th>Email</th>
                                                <!--<th>Phone</th>
                                                <th>Status</th>-->
                                                <th>Salary</th>
                                                <th>Reporting Manager</th>
                                                <!--<th>Billing </th>-->
                                                <!-- <th>Designation</th> -->
                                                <th>Skills</th>
                                                <!-- <th>Date</th> -->
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <!-- <th>Resume</th> -->
                                            </tr>

                                        </thead>
                                        
                                        <tbody>
                                            {% for i in datas %}
                                            <tr>
                                                <td>{{i.first_name}}</td>
                                                <td>{{i.role}}</td>
                                                <td>{{i.email}}</td>
                                                <!--<td>{{i.phone}}</td>
                                                <td>{{i.status}}</td>-->
                                                <td>{{i.salary}}</td>
                                                <td>{{i.asignee.first_name }}</td>
                                                <!--<td>{{i.billing}}</td>-->
                                                <!-- <td>{{i.designation}}</td> -->
                                                <td style="column-width:40%;text-align: left;">{{i.skill}}</td> 
                                                <!-- <td>{{i.date}}</td> -->
                                                <!-- <td style="column-width:30%;">{{i.skill}}</td> -->
                                                <td ><a class="btns"   style="color: rgb(150, 131, 160); " title="Download" href="\media\{{i.resume}}" download><i class="fa fa-download" ></i></a>
                                            
                                                </td>
                                                <td><a href="#editModal" title="Resend OTP" data-toggle="modal"
                                                     onclick="editDetails(
                                                        name='{{i.first_name}}',
                                                         email='{{i.email}}',
                                                         phone='{{i.phone}}',
                                                         resend_otp='{{i.otp}}' );"  >
                                                <span class="fa-passwd-reset fa-stack">
                                                    <i class="fa fa-undo fa-stack-2x"></i>
                                                    <i class="fa fa-lock fa-stack-1x"></i></a>
                                                </span></td>
                                                
                                                <td> 
                                                    
                                                    <a href="#editEmployeeModal" class="edit" title="Edit" data-toggle="modal" 
                                                    onclick="editUserDetails(
                                                       name = '{{ i.first_name}}', 
                                                        phone = '{{ i.phone }}', 
                                                        email = '{{ i.email }}',
                                                        officemail = '{{ i.officemail }}',
                                                        salary = '{{ i.salary }}', 
                                                        billiing = '{{ i.billing }}',
                                                        designation = '{{ i.designation }}',
                                                        department ='{{i.department}}',
                                                        rank = '{{ i.rank }}',
                                                        status = '{{ i.status }}',
                                                        role = '{{ i.role }}',
                                                        skill ='{{i.skill}}',
                                                        resume='{{i.resume }}',
                                                        asignee='{{i.asignee.id }}',
                                                        userId = '{{ i.id }}'
                                                        );" ><i
                                                            class="fa fa-edit" style='color:#8773b3'  data-toggle="tooltip"></i></a>
                                                    <!-- <a href="{% url 'deleteUser' i.id %}" class="delete" ><i
                                                            class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a> -->
                                                    <!--<a href="{% url 'BillingPerfom' userid=i.id %}" class="delete" ><i
                                                                class="fa fa-user" data-toggle="tooltip" title="Billing Performance"></i></a>-->
                                                </td>
                                               
                                            </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                    
                                    {% comment %}<div class="container" >                
                                        {% for message in messages %}
                                         <div style="text-align: center;" ><br>
                                            {{ message }}
                                          </div>
                                        {% endfor %}
                                        </div>{% endcomment %}
                                        {% if datas.paginator.count == 0 %}
                                        <div style="text-align: center;"><br>                
                                           <span >No Records Found </span>
                                        </div>
                                       {% endif %}
                                <div class="paginator" style="width:100%;display: flex;justify-content: space-between;align-items: center;">
                                    <div style="float:left; margin-top: 20px;">
                                      Showing {{ datas.start_index}} to {{ datas.end_index }} of {{ datas.paginator.count }} entries
                                    </div>
                                    <div style="float:right;"><br>
                                      <nav aria-label="Page navigation example">
                              
                                        
                                          <ul class="pagination">
                                            {% if datas.has_previous %}
                                            <li class="page-item">
                                              <a class="page-link" href="?page={{ datas.previous_page_number }}">&laquo; Previous</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item disabled">
                                              <a class="page-link">&laquo; </a>
                                            </li>
                                            {% endif %}
                                            {% for i in datas.paginator.page_range %} 
                                            <!-- {# {% if datas.number == i %} #} -->
                                            {% if i <= datas.number|add:5 and i >= datas.number|add:-5 %}
                              
                                            {% if datas.number == i %}
                                            <li class="page-item active">
                                              <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item">
                                              <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                                            </li>
                                            {% endif %}
                              
                                            {% endif %}
                                            {% endfor %} 
                              
                                            {% if datas.has_next %}
                              
                                            <li class="page-item">
                                              <a class="page-link" href="?page={{ datas.next_page_number }}">&raquo; Next</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item disabled">
                                              <a class="page-link"> &raquo;</a>
                                            </li>
                                            {% endif %}
                                          </ul>
                                        
                              
                                      </nav>
                                      
                                    </div>
                                  </div>
                                </div>
                                <div id="myId" class="table-responsive">
                                    <table class="table table-stripped table-hover table-task ">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Name</th>
                                                <th>Role</th>
                                                <th>Email</th>
                                                <!--<th>Phone</th>
                                                <th>Status</th>-->
                                                <th>Salary</th>
                                                <th>Reporting Manager</th>
                                                <!--<th>Billing </th>-->
                                                <!-- <th>Designation</th> -->
                                                <!-- <th>Department</th> -->
                                                <th>Skills</th>
                                                <!-- <th>Date</th> -->
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <!-- <th>Resume</th> -->
                                            </tr>

                                        </thead>
                                        
                                        <tbody>
                                            {% for i in data %}
                                            <tr>
                                                <td>{{i.first_name}}</td>
                                                <td>{{i.role}}</td>
                                                <td>{{i.email}}</td>
                                                <!--<td>{{i.phone}}</td>
                                                <td>{{i.status}}</td>-->
                                                <td>{{i.salary}}</td>
                                                <td>{{i.asignee.first_name }}</td>
                                                <!--<td>{{i.billing}}</td>--->
                                                <!-- <td>{{i.designation}}</td> -->
                                                <!-- <td>{{i.department}}</td> -->
                                                <td style="column-width:40%;text-align: left;">{{i.skill}}</td> 
                                                <!-- <td>{{i.date}}</td> -->
                                                <!-- <td style="column-width:30%;">{{i.skill}}</td> -->
                                                <td >
                                                    {% if i.resume %}
                                                    <a class="btns" style="color: rgb(152, 130, 164); " title="Download" href="\media\{{i.resume}}" download><i class="fa fa-download" ></i></a>
                                                    {% endif %}
                                                    {% if not i.resume %}
                                                    <a class="btns" style="color: #d1d1d6; " title="No File" ><i class="fa fa-download" ></i></a>
                                                    {% endif %}
                                            
                                                </td>
                                                <td><a href="#editModal" title="Resend OTP" data-toggle="modal"
                                                     onclick="editDetails(
                                                        name='{{i.first_name}}',
                                                         email='{{i.email}}',
                                                         phone='{{i.phone}}',
                                                         resend_otp='{{i.otp}}' );"  >
                                                <span class="fa-passwd-reset fa-stack">
                                                    <i class="fa fa-undo fa-stack-2x"></i>
                                                    <i class="fa fa-lock fa-stack-1x"></i></a>
                                                </span></td>
                                                
                                                <td> 
                                                    
                                                    <a href="#editEmployeeModal" class="edit" title="Edit" data-toggle="modal" 
                                                    onclick="editUserDetails(
                                                        name = '{{ i.first_name}}', 
                                                        phone = '{{ i.phone }}', 
                                                        email = '{{ i.email }}',
                                                        officemail = '{{ i.officemail }}',
                                                        salary = '{{ i.salary }}', 
                                                        billiing = '{{ i.billing }}',
                                                        designation = '{{ i.designation }}',
                                                        department ='{{i.department}}',
                                                        rank = '{{ i.rank }}',
                                                        status = '{{ i.status }}',
                                                        role = '{{ i.role }}',
                                                        skill ='{{i.skill}}',
                                                        resume='{{i.resume }}',
                                                        asignee='{{i.asignee.id }}',
                                                        userId = '{{ i.id }}'
                                                        );" ><i
                                                            class="fa fa-edit" style='color:#8773b3'  data-toggle="tooltip"></i></a>
                                                    <!-- <a href="{% url 'deleteUser' i.id %}" class="delete" ><i
                                                            class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a> -->
                                                    <!--<a href="{% url 'BillingPerfom' userid=i.id %}" class="delete" ><i
                                                                class="fa fa-user" data-toggle="tooltip" title="Billing Performance"></i></a>-->
                                                </td>
                                               
                                            </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                
                               {% comment %}<div class="container" >                
                                    {% for message in messages %}
                                     <div style="text-align: center;" ><br>
                                        {{ message }}
                                      </div>
                                    {% endfor %}
                                    </div>{% endcomment %}
                                    {% if data.paginator.count == 0 %}
                                        <div style="text-align: center;"><br>                
                                           <span >No Records Found </span>
                                        </div>
                                       {% endif %}
                                <div class="paginator" style="width:100%;display: flex;justify-content: space-between;align-items: center;">
                                    <div style="float:left; margin-top: 20px;">
                                      Showing {{ data.start_index}} to {{ data.end_index }} of {{ data.paginator.count }} entries
                                    </div>
                                    <div style="float:right;"><br>
                                      <nav aria-label="Page navigation example">
                              
                                        
                                          <ul class="pagination">
                                            {% if data.has_previous %}
                                            <li class="page-item">
                                              <a class="page-link" href="?page={{ data.previous_page_number }}">&laquo; Previous</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item disabled">
                                              <a class="page-link">&laquo; </a>
                                            </li>
                                            {% endif %}
                                            {% for i in data.paginator.page_range %} 
                                            <!-- {# {% if datas.number == i %} #} -->
                                            {% if i <= data.number|add:5 and i >= data.number|add:-5 %}
                              
                                            {% if data.number == i %}
                                            <li class="page-item active">
                                              <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item">
                                              <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                                            </li>
                                            {% endif %}
                              
                                            {% endif %}
                                            {% endfor %} 
                              
                                            {% if data.has_next %}
                              
                                            <li class="page-item">
                                              <a class="page-link" href="?page={{ data.next_page_number }}">&raquo; Next</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item disabled">
                                              <a class="page-link"> &raquo;</a>
                                            </li>
                                            {% endif %}
                                          </ul>
                                        
                              
                                      </nav>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>








    <div class="be-wrapper be-offcanvas-menu be-fixed-sidebar">
      
        
        <div class="be-content">
            <div class="container">
                <div class="table-wrapper">
                    <div class="row">
                        
                        
                        </div>

                    </div>

                   
                </div>
        
            </div>

            <div id="editModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="post" action="{% url 'resend_password' %}" >
                            {% csrf_token %}
                            <div class="modal-body">
                               <p>Do you want to resend the password ?</p>
                               <input type="hidden"  id="nameId_snd" name="name" class="form-control" >
                                <input type="hidden"  id="emailId_snd" name="email" class="form-control" >
                                <input type="hidden"  id="phoneId_snd" name="phone" class="form-control" >                                                                                      
                                <input type="hidden"  id="otp_send" name="otp_send" class="form-control" >                               
                                <button type="submit" id="user_snd" class="btn btn-primary"> Send </button>
                                <button id="usr_cancel"  type="button" class="btn btn-primary" data-dismiss="modal"> Cancel </button>
                            </div></form>
                        </div>
                </div>
            </div>

            <div id="editEmployeeModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="post" action="{% url 'editUser' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h4 class="modal-title">Edit User</h4>
                                <button type="button" class="close"  data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Name</label>
                                    <span style="color:#ff0000">*</span>
                                    <input type="text"  style="text-transform: uppercase;" id="nameId" name="name" placeholder="Name" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <span style="color:#ff0000">*</span>
                                    <input type="email" id="emailId" name='email'pattern=".+@gmail\.com" placeholder="Email" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Official Email</label>
                                    <span style="color:#ff0000">*</span>
                                    <input type="email" id="officemailId" name='email1'pattern=".+@gmail\.com" placeholder="Official Email" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Phone</label>
                                    <span style="color:#ff0000">*</span>
                                    <input type="tel" id="phoneId"  pattern="[0-9]{10}" name='phone' placeholder="Phone" class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" title="Phone number must be 10 digits" required>
                                </div>
                                <div class="form-group">
                                    <label>Designation</label>
                                    <span style="color:#ff0000">*</span>
                                    <div class="form-control">
                                        <select name="designation" id="designationId" class="dropdown-item" required>
                                            <option value="" disabled="true" selected>Select Designation</option>
                                            {% for i in Des %}
                                            <option value="{{i.Designation}}">{{i.Designation}}</option>
                                            {% endfor %}
                                        </select> 
                                    </div>                                          
                                </div>
                                <div class="form-group">
                                    <label>Salary</label>
                                    <span style="color:#ff0000">*</span>
                                    <input type="tel"  min="1"   maxlength="10" id="salaryId" placeholder="Salary" name='salary'class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" required>
                                </div>
                                <div class="form-group">
                                    <label>Department</label>
                                    <span style="color:#ff0000">*</span>
                                    <div class="form-control">
                                        <select name="department" id="departmentId" class="dropdown-item" required>
                                            <option value="" disabled="true" selected>Select Department</option>
                                            {% for i in Dep %}
                                            <option value="{{i.Dname}}">{{i.Dname}}</option>
                                            {% endfor %}
                                        </select> 
                                    </div>                                          
                                </div>
                                <div class="form-group">
                                    <label>Billing</label>
                                    <span style="color:#ff0000">*</span>
                                    <input type="tel" id="billingId"  min="1" placeholder="billing" name='billing'class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"required>
                                </div>
                                <div class="form-group">
                                    <label>Rank</label>
                                    <span style="color:#ff0000">*</span>
                                    <input type="tel" id="rankId"  placeholder="Rank" name='rank'class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" required>
                                </div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <span style="color:#ff0000">*</span>
                                    <div class="form-control">
                                        <select name="status" id="statusId" class="dropdown-item" required>
                                            <option value="" disabled="true" selected >Status</option>
                                            <option value="Active" >Active</option>
                                            <option value="Inactive">Inactive</option>
                                        </select>                                           
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Role</label>
                                    <span style="color:#ff0000">*</span>
                                    <div class="form-control">
                                        <select name="role" id="roleId" class="dropdown-item" required>
                                            <option value="" disabled="true" selected>Role</option>
                                            <option value="Admin">Admin</option>
                                            <!-- <option value="Consultant">Consultant</option> -->
                                            <option value="Employee">Employee</option>
                                        </select> 
                                    </div>                                          
                                </div>
                                <div class="form-group">
                                    <label>Skills</label>  
                                    <span style="color:#ff0000">*</span>
                                    <input type="text" id="skillId" placeholder="Skills" name='skill'class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Resume</label>
                                    <input  type="text" onfocus="(this.type='file')"   name="st_doc" id="doc"  class="form-control"> 
                                </div>
                                <div class="form-group"> 
                                    <label>Reporting Manager</label>
                                    <div class="form-control">
                                        <select name="asignee" id="edit_asignee" class="dropdown-item" >
                                            <option value="" disabled="true" >Select Reporting Manager</option>
                                            {% for i in Asg %}
                                            <option value="{{i.id}}" selected>{{i.first_name}}</option>
                                            {% endfor %}
                                        </select> 
                                    </div>                                          
                                </div>

                                    <input type="hidden" name="user_id" id="userId">
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="user_save" class="btn btn-primary" > Save </button>
                                <button type="button " class="btn btn-default btn btn-primary "  id="reset_user"  data-dismiss="modal" > Cancel </button>
                                <!-- <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-info" value="Save"> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div id="addEmployeeModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="post" action="{% url 'adduser' %}"  enctype="multipart/form-data" >
                            {% csrf_token %}
                            <div class="modal-header">
                                <h4 class="modal-title">Add User</h4>  
                                <button type="button" id="reset_" class="close"  data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <span style="color:#ff0000">*</span>
                                            <!-- pattern="^[a-zA-Z]+" oninvalid="setCustomValidity(' enter only Alphabets')" -->
                                            <input  type="text" pattern="[a-zA-Z\s]+" id="add_name" name="name" placeholder="Name" {% if userdetails %} value={{userdetails.name}} {% endif %} class="form-control" required>
                                        </div>
            
                                        <div class="form-group">
                                            <label>Email</label>
                                            <span style="color:#ff0000">*</span>
                                            <!-- <input type="email" name="email" placeholder="Email"{% if userdetails %} value={{userdetails.email}} {% endif %} pattern=".+@gmail\.com" class="form-control" required> -->
                                            <input type="email" name="email" id="add_email" placeholder="Email"{% if userdetails %} value={{userdetails.email}} {% endif %} pattern=".+@gmail\.com" class="form-control" required> 
                                        </div>
                                   
                                        <div class="form-group">
                                            <label>Official Email</label>
                                            <span style="color:#ff0000">*</span>

                                            <!-- <input type="email" name="email1" placeholder="Official Email"{% if userdetails %} value={{userdetails.email1}} {% endif %} pattern=".+@gmail\.com" class="form-control" required> -->

                                            <input type="email" name="email1" id="add_Offemail" placeholder="Official Email"{% if userdetails %} value={{userdetails.email1}} {% endif %} pattern=".+@gmail\.com" class="form-control" required>
                                        </div>
                                    
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <span style="color:#ff0000">*</span>
                                            <input type="tel"  id="add_phone" pattern="[0-9]{10}" name="Phone" placeholder="Phone" class="form-control" title="Phone number must be 10 digits" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" required>
                                            <p style="color: tomato;">{{messege}}</p>
                                        </div>
                                   
                                        <div class="form-group">
                                            <label>Designation</label>
                                            <span style="color:#ff0000">*</span>
                                            <div class="form-control">
                                                <select name="designation" id="am_account"  class=" dropdown-item" >
                                                    <option disabled="true" value="" selected>Select Designation</option>
                                                    {% for i in Des %}
                                                    <option value="{{i.id}}">{{i.Designation}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>         
                                       <!--<div class="form-group">
                                            <label  class="required">Date</label>
                                            <input type="date" name="date" id="date_Id" placeholder="Date"  class="form-control" required>
                                        </div>--> 

                                        <div class="form-group">
                                            <label class="required">Salary</label>
                                            <span style="color:#ff0000">*</span>
                                            <input type="text"  min="1"   name="salary" id="add_sal" placeholder="Salary" {% if userdetails %} value={{userdetails.salary}} {% endif %} class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"required>
                                        </div>
                                        <div class="form-group">
                                            <label >Department</label>
                                            <span style="color:#ff0000">*</span>
                                            <div class=" form-control">
                                                <select name="department" id="add_role"  class=" dropdown-item " required>
                                                    <option value="" disabled selected> Select Department</option>
                                                    {% for i in Dep %}
                                                    <option value='{{i.id}}'>{{i.Dname}}</option>
                                                    
                                                    <!-- <option value="Consultant">Consultant</option> -->
                                                    {% endfor %}
                                                </select>  
                                            </div>                                        
                                        </div>       
                                        <div class="form-group">
                                            <label>Billing</label>
                                            <span style="color:#ff0000">*</span>
                                            <input type="tel" name="billing"  id="add_bil"  min="1" placeholder="Billing" {% if userdetails %} value={{userdetails.billing}} {% endif %} class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" required>
                                        </div>
                                
                                        <div class="form-group">
                                            <label>Rank</label>
                                            <span style="color:#ff0000">*</span>
                                            <input type="text" id="add_rank"  id="add_rank" placeholder="Rank"{% if userdetails %} value={{userdetails.rank}} {% endif %} name='rank' class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" required>
                                        </div>

                                        <!--<div class="form-group">
                                            <label >Status</label>
                                            <span style="color:#ff0000">*</span>
                                            <div class="form-control">
                                                <select name="status" {% if userdetails %} value={{userdetails.status}} {% endif %}  class="dropdown-item " required>
                                                    <option value="" disabled selected>Status</option>
                                                    <option value="Active">Active</option>
                                                    <option value="Inactive">Inactive</option>
                                                </select>  
                                            </div>                                         
                                        </div>-->
                                   
                                        <div class="form-group">
                                            <label >Role</label>
                                            <span style="color:#ff0000">*</span>
                                            <div class=" form-control">
                                                <select name="role" id="add_role" {% if userdetails %} value={{userdetails.role}} {% endif %}   class=" dropdown-item " required>
                                                    <option value="" disabled selected>Role</option>
                                                    <option value="Admin">Admin</option>
                                                    <option value="Employee">Employee</option>
                                                    <!-- <option value="Consultant">Consultant</option> -->
                                                </select>  
                                            </div>                                        
                                        </div>
                                        <div class="form-group">
                                            <label>Skills</label>
                                            <span style="color:#ff0000">*</span>
                                            <input type="text" id="add_skill" name="skill" placeholder="Skills" {% if userdetails %} value={{userdetails.skill}} {% endif %} class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Resume</label>
                                            <input  type="file" name="st_doc" id="doc"   class="form-control" > 
                                        </div>
                                        <div class="form-group">
                                            <label >Reporting Manager</label>
                                            <div class=" form-control">
                                                <select name="asignee" id="add_asignee"  class=" dropdown-item " >
                                                    <option value="" disabled selected> Select Reporting Manager</option>
                                                    {% for i in Asg %}
                                                    <option value='{{i.id}}'>{{i.first_name}}</option>
                                                    {% endfor %}
                                                </select>  
                                            </div>                                        
                                        </div> 
                            </div>   
                            <div class="modal-footer">
                                <button type="submit" id="add_btn" class="btn btn-primary" > Add </button>
                                <button type="button " class="btn btn-default btn btn-primary "   id="reset" data-dismiss="modal" > Cancel </button>
                                <!-- <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-info" value="Save"> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="addrevisalModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h4 class="modal-title">Add </h4>
                                <button type="button" class="close"  data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>New Salary</label>
                                    <input type="text" name="" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <input type="date" name="" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>End Date</label>
                                    <input type="date" name="" class="form-control" required>
                                </div>
                                
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Delete Modal HTML -->
            <!--<div id="deleteEmployeeModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form >
                            <div class="modal-header">
                                <h4 class="modal-title">Delete Employee</h4>
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete these Records?</p>
                                <p class="text-warning"><small>This action cannot be undone.</small></p>
                            </div>
                            <div class="modal-footer">
                                <form >
                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-danger" value="Delete">
                                </form>
                            </div>
                        </form>
                    </div>
                </div>
            </div>-->
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/feather.min.js' %}"></script>
    <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% if messege %}
    <script>
            document.getElementById('add').click()
    </script>
    {% endif %}
    <script>
        function editDetails(name,email,phone){
            document.getElementById('nameId_snd').value = name;
            document.getElementById('emailId_snd').value = email;
            document.getElementById('phoneId_snd').value = phone;
            document.getElementById('otp_send').value = resend_otp;
           
        }console.clear();
        </script>
    <script>
        function editUserDetails(name, phone, email,officemail, salary, billing ,designation,department,rank,status,role,asignee){
            document.getElementById('nameId').value = name;
            document.getElementById('phoneId').value = phone;
            document.getElementById('emailId').value = email;
            document.getElementById('officemailId').value = officemail;
            document.getElementById('salaryId').value = salary;
            document.getElementById('billingId').value = billing;           
            document.getElementById('rankId').value = rank;
            document.getElementById('statusId').value = status;
            document.getElementById('roleId').value = role;
            document.getElementById('skillId').value = skill;           
            document.getElementById('userId').value = userId;
            document.getElementById('doc').value = resume;
            document.getElementById("designationId").value = designation;
            document.getElementById("departmentId").value = department; 
            if (asignee != null) 
                document.getElementById("edit_asignee").value = asignee; 
           
        } 
    console.clear(); // Clear all CodePen's errors and warnings
        /*
        
        Requires:
        
        • jQuery | Boottrap v4.1+
        
        Overlay Scrollbars:
        https://kingsora.github.io/OverlayScrollbars/#!overview
        
        
        TODO:
        
        • fix left-sidebar srolling when overflowing. Avoid default scrollbar style.
        • Dim screen when opening sidebar?
        • Add extra brand logo and menu icon on open?
        • Add footer to left sidebar.
        • Support a right sidebar?
        • Sidebar animation, history/navigation fix.
        • Use hardware acceleration for animated sidebar?
        • Partial icon view for sidebar collapse?
        
        */

        var body = $(document.body),
            open_left_sidebar = "open-left-sidebar",
            sidebar_btn = $("#sidebar_btn"),
            left_sidebar = $("#left_sidebar"),
            anchors = $(".sidebar-elements li a", left_sidebar),
            wrapper = $(".be-wrapper"),
            menu_speed = 200;

        // Only for debugging (stop page navigating away)
    //     $(
    //         ".be-wrapper > .navbar a, \
    //    .be-wrapper > .be-left-sidebar a"
    //     ).attr("href", "#" + Math.random());

        // Updated: 2018.12
        // By default both '.be-animate' and '.be-offcanvas-menu'
        // should be placed in the body tag.
        // Using '.open-left-sidebar' to open the sidebar.
        // $(document.body)
        //     .addClass("be-animate be-offcanvas-menu open-left-sidebar");

        // Updated: 2019.03.11 @ 17:49:23
        // Only for debugging (extending menus and testing scrollbar)
        $("#debug_only_menuopen")
            .addClass("open")
            .find(".sub-menu > .parent")
            .addClass("open");



        // Updated: 2019.14.03 @ 18:09:27
        /** Scrollbar Support (Change with what ever scollbar plugin you need) **/
        var scrollbar = OverlayScrollbars(
            $(".left-sidebar-scroll")[0],
            {
                scrollbars: {
                    autoHide: "leave",
                    autoHideDelay: 100
                }
            }
        );

        // Updated: 2019.01.12 @ 18:39:59
        function toggle_sidebar() {
            body.toggleClass(open_left_sidebar);
        }

        sidebar_btn.on(
            "click",
            debounce(toggle_sidebar, 200, true)
        );

        // Updated: 2020.01.08 @ 19:42:34
        /** Operate submenus **/
        anchors.on("click", function (event) {
            var $el = $(this),
                $li = $el.parent(),
                $subMenu = $el.next(),
                $open = $li.siblings(".open");

            //console.log($subMenu);
            //$el.parents().eq(1).hasClass("sidebar-elements");

            if ($li.hasClass("open")) {
                slideUp($subMenu, event);
            } else {
                slideDown($el, event);
            }

            if ($el.next().is("ul")) {
                event.stopPropagation();
                event.preventDefault();
            }
        });

        function isCollapsibleSidebarCollapsed() {
            return wrapper.hasClass("be-collapsible-sidebar-collapsed");
        }

        function slideUp($subMenu, event) {
            var target = $(event.currentTarget),
                parent = $($subMenu).parent(),
                item = $("li.open", parent),
                isRoot = !target.closest(left_sidebar).length,
                speed = menu_speed,
                hasElements = target.parents()
                    .eq(1)
                    .hasClass("sidebar-elements");

            //console.log(event);


            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                (hasElements || isRoot)
            ) {
                parent.removeClass("open");
                $subMenu.removeClass("visible");
                item.removeClass("open").removeAttr("style");
            } else {
                $subMenu.slideUp({
                    duration: speed,
                    complete: function () {
                        parent.removeClass("open");
                        $(this).removeAttr("style");
                        item.removeClass("open").removeAttr("style");
                    }
                });
            }
        }

        function slideDown($this, event) {
            var $el = $($this),
                parent = $el.parent(),
                next = $($el).next(),
                speed = menu_speed,
                hasElements = $(event.currentTarget)
                    .parents()
                    .eq(1)
                    .hasClass("sidebar-elements"),
                siblingsOpen = parent.siblings(".open");

            //console.log("$this: ", $this);
            //console.log("slideDown: ", $(event.currentTarget));

            if (siblingsOpen) {
                slideUp(
                    $("> ul", siblingsOpen),
                    event
                );
            }

            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                hasElements
            ) {
                parent.addClass("open");
                next.addClass("visible");
            } else {
                next.slideDown({
                    duration: speed,
                    complete: function () {
                        parent.addClass("open");
                        $(this).removeAttr("style");
                    }
                });
            }
        }

        // Updated: 2019.01.02 @ 12:00:00
        /** AUTO close with user clicks or taps away from sidebar **/
        $(document.body).on(
            "mousedown touchstart",
            function (event) {
                if (
                    !$(event.target).closest(left_sidebar).length &&
                    !$(event.target).closest(sidebar_btn).length &&
                    body.hasClass(open_left_sidebar)
                ) {
                    body.removeClass(open_left_sidebar);
                }
            }
        );

        // Updated: 2019.01.03 @ 13:03:58
        /***************************/
        /** Bootstrap Breakpoints **/
        /***************************/
        (function (e) { e.isBreakpoint = function (t) { var o, i, a; switch (t) { case "xs": a = "d-none d-sm-block"; break; case "sm": a = "d-none d-md-block"; break; case "md": a = "d-none d-lg-block"; break; case "lg": a = "d-none d-xl-block"; break; case "xl": a = "d-none" }return i = (o = e("<div/>", { class: a }).appendTo("body")).is(":hidden"), o.remove(), i }, e.extend(e, { isXs: function () { return e.isBreakpoint("xs") }, isSm: function () { return e.isBreakpoint("sm") }, isMd: function () { return e.isBreakpoint("md") }, isLg: function () { return e.isBreakpoint("lg") }, isXl: function () { return e.isBreakpoint("xl") } }) })(jQuery);

        // Updated: 2019.01.12 @ 18:36:59
        /***************************/
        /** Underscore.js debounce function **/
        /***************************/
        function debounce(a, b, c) { var d, e, f, g, h; var l = function () { return new Date().getTime(); }; var i = function () { var j = l() - g; if (j < b && j >= 0) { d = setTimeout(i, b - j); } else { d = null; if (!c) { h = a.apply(f, e); if (!d) { f = e = null; } } } }; return function () { f = this; e = arguments; g = l(); var k = c && !d; if (!d) { d = setTimeout(i, b) }; if (k) { h = a.apply(f, e); f = e = null; } return h; }; };

    </script>
      <script>
        $(document).ready(function() {
       $("#reset").click(function() {
           $("input").val("");
           $("select").val('');
       });
       $("#reset_").click(function() {
           $("input").val("");
           $("select").val('');
       });
   });
   </script>
    <script>$(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });
        
        
        </script>
    <script>


        (function() {
    
            var idleDurationSecs = 1800;
            var redirectUrl = 'https://sf.prod-app.in/';  // Redirect idle users to this URL
            var idleTimeout;
    
            var resetIdleTimeout = function() {
              if(idleTimeout) clearTimeout(idleTimeout);
    
    
              idleTimeout = setTimeout(function(){
                location.href = redirectUrl
              },  idleDurationSecs * 1000);
            };
    
            resetIdleTimeout();
    
            ['click', 'touchstart', 'mousemove'].forEach(function(evt) {
              document.addEventListener(evt, resetIdleTimeout, false)
            });
        })();
    </script>
    <script>
        let booleanValue = true;
        function myfunction() {
          var x = document.getElementById("myId");
          var y = document.getElementById("hyId");
          var z = document.getElementById("usr_srch");
          var w = document.getElementById("srch_btn");
          var m = document.getElementById("cross");
          
          if (booleanValue) {
            y.style.display = "block";
            x.style.display = "none";
            z.style.display = "none";
            w.style.display = "none";
            m.style.display = "none";
            booleanValue = false;
          } else {
            x.style.display = "block";
            y.style.display = "none";
            z.style.display = "block";
            w.style.display = "block";
            m.style.display = "block";
          booleanValue = true;
          }
        }
    </script>
    <script src="{% static 'js/cleardata.js' %}"></script>
</body>

</html>